/*
* Remove inherited styles from table before applying our styles.
*/
.sd-prose {
  /**
   * Optimize for reading.
   */
  @apply max-w-[80ch] text-left;

  /**
   * Add default spacings
   */
  > *:not(:first-child) {
    @apply mt-4;
  }

  > *:first-child {
    @apply mt-0;
  }

  > :is(h1, h2, h3, h4, h5):not(#\9) + :is(h1, h2, h3, h4, h5) {
    /* :not(#\9) is a hack to raise specifity, see https://stackoverflow.com/a/61781795 */
    @apply mt-2;
  }

  > :is(ul, ol):not(#\9) {
    /* ul and ol have padding that has to be reset */
    @apply py-0;
  }

  /**
   * Add styles for elements that are not based on existing CSS styles
   */

  hr {
    @apply border-neutral-500 border-t h-0;
  }

  pre {
    @apply overflow-auto;
  }

  blockquote {
    &,
    & > * {
      @apply text-xl;
    }
    &:has(*) *:first-child,
    &:not(:has(*)) {
      &::before {
        content: open-quote;
        display: inline;
      }
      &::after {
        content: close-quote;
        display: inline;
      }
    }
  }

  code {
    &:before {
      content: '`';
    }
    &:after {
      content: '`';
    }
  }

  /**
    * Inverted styles
    */
  &--inverted {
    hr {
      @apply border-white;
    }

    pre {
      @apply text-white;
    }
  }
}
