.sd-interactive {
  &--reset {
    all: unset;
    outline: revert;
  }

  @apply no-underline cursor-pointer text-primary hover:text-primary-500 active:text-primary-800 transition-colors;

  &:focus-visible {
    @apply outline outline-2 outline-offset-2 outline-primary;
  }

  &--inverted {
    @apply text-white hover:text-primary-100 active:text-primary-200;
    &:focus-visible {
      @apply outline outline-2 outline-offset-2 outline-white;
    }
  }

  &--disabled,
  &[disabled] {
    @apply cursor-not-allowed text-neutral-600 hover:text-neutral-600 active:text-neutral-600;
  }
}
