:root, .sd-theme--vb-light {
  color-scheme: light;

  --sd-aspect-16\/10: 16 / 10;
  --sd-aspect-21\/9: 21 / 9;
  --sd-aspect-2\/1: 2 / 1;
  --sd-aspect-3\/2: 3 / 2;
  --sd-aspect-3\/4: 3 / 4;
  --sd-aspect-4\/3: 4 / 3;
  --sd-aspect-4\/5: 4 / 5;
  --sd-aspect-5\/4: 5 / 4;
  --sd-aspect-6\/5: 6 / 5;
  --sd-aspect-golden-ratio: 1.6180339887498948482 / 1;
  --sd-aspect-square: 1 / 1;
  --sd-aspect-video: 16 / 9;
  --sd-border-width-2: 0rem;
  --sd-border-width-4: 0rem;
  --sd-border-width-6: 0rem;
  --sd-border-width: 0rem;
  --sd-brandshape--neutral-100-color-border: var(--sd-color-white);
  --sd-button--primary--default--active-color-text: var(--sd-color-white);
  --sd-button--primary--default--default-color-background: var(--sd-color-white);
  --sd-button--primary--default--hover-color-background: var(--sd-color-white);
  --sd-button--primary--inverted--active-color-text: var(--sd-color-white);
  --sd-button--primary--inverted--default-color-text: var(--sd-color-white);
  --sd-button--primary--inverted--hover-color-background: var(--sd-color-white);
  --sd-button--primary--inverted--hover-color-text: var(--sd-color-white);
  --sd-button--secondary--default--active-color-background: var(--sd-color-white);
  --sd-button--secondary--default--hover-color-background: var(--sd-color-white);
  --sd-button--secondary--inverted--active-color-background: var(--sd-color-white);
  --sd-button--secondary--inverted--hover-color-text: var(--sd-color-white);
  --sd-button--tertiary--default--active-color-background: var(--sd-color-white);
  --sd-button--tertiary--default--hover-color-background: var(--sd-color-white);
  --sd-button--tertiary--inverted--active-color-background: var(--sd-color-white);
  --sd-button--tertiary--inverted--hover-color-text: var(--sd-color-white);
  --sd-color-accent-100: #f2f7fb;
  --sd-color-accent-200: #e5f0f7;
  --sd-color-accent-300: #99c2e1;
  --sd-color-accent-400: #6681a4;
  --sd-color-accent-500: #0066b3;
  --sd-color-accent-550: #ffffff;
  --sd-color-accent-600: #005798;
  --sd-color-accent-700: #1a4276;
  --sd-color-accent-750: #1a4276;
  --sd-color-accent-800: #002d67;
  --sd-color-accent: #0066b3;
  --sd-color-black-constant: #181818;
  --sd-color-black: #181818;
  --sd-color-border-primary-500: var(--sd-color-white);
  --sd-color-border-primary-800: var(--sd-color-white);
  --sd-color-error-300: #cc1937;
  --sd-color-error-400: #ac1938;
  --sd-color-error: #cc1937;
  --sd-color-gradient-neutral-800-0: rgba(255, 255, 255, 0);
  --sd-color-gradient-neutral-800-10: rgba(255, 255, 255, 0);
  --sd-color-gradient-neutral-800-40: rgba(255, 255, 255, 0);
  --sd-color-gradient-primary-800-0: rgba(255, 255, 255, 0);
  --sd-color-gradient-primary-800-60: rgba(255, 255, 255, 0);
  --sd-color-gradient-primary-800-75: rgba(255, 255, 255, 0);
  --sd-color-gradient-white-0: rgba(255, 255, 255, 0);
  --sd-color-gradient-white-5: rgba(255, 255, 255, 0);
  --sd-color-gradient-white-60: rgba(255, 255, 255, 0);
  --sd-color-gradient-white-75: rgba(255, 255, 255, 0);
  --sd-color-gradient-white-80: rgba(255, 255, 255, 0);
  --sd-color-icon-fill-neutral-400: var(--sd-color-white);
  --sd-color-info: #1582d5;
  --sd-color-neutral-100: #f6f6f6;
  --sd-color-neutral-200: #e9e9e9;
  --sd-color-neutral-300: #dadada;
  --sd-color-neutral-400: #c3c3c3;
  --sd-color-neutral-500: #aeaeae;
  --sd-color-neutral-600: #888888;
  --sd-color-neutral-700: #686868;
  --sd-color-neutral-800: #515151;
  --sd-color-primary-100: #f2f7fb;
  --sd-color-primary-200: #e5f0f7;
  --sd-color-primary-300: #99c2e1;
  --sd-color-primary-400: #6681a4;
  --sd-color-primary-500: #0066b3;
  --sd-color-primary-600: #005798;
  --sd-color-primary-700: #1a4276;
  --sd-color-primary-750: #1a4276;
  --sd-color-primary-800: #002d67;
  --sd-color-primary-900: #002d67;
  --sd-color-primary: #0066b3;
  --sd-color-risk-high: #fa9b1e;
  --sd-color-risk-increased: #fff000;
  --sd-color-risk-low: #017dc3;
  --sd-color-risk-moderate: #00a593;
  --sd-color-risk-veryhigh: #ff0000;
  --sd-color-success: #367b28;
  --sd-color-text-primary-100: var(--sd-color-white);
  --sd-color-warning: #bb8d20;
  --sd-color-white: #ffffff;
  --sd-drop-shadow-sm: 0.5px 0.5px 1.5px var(--sd-color-neutral-800);
  --sd-drop-shadow: 0 1px 3px var(--sd-color-neutral-800);
  --sd-font-weight-bold: 700;
  --sd-font-weight-normal: 400;
  --sd-footnotes--target--inverted-color-background: var(--sd-color-white);
  --sd-interactive--default--active-color-text: var(--sd-color-white);
  --sd-interactive--inverted--hover-color-icon-fill: var(--sd-color-white);
  --sd-interactive--inverted--hover-color-text: var(--sd-color-white);
  --sd-opacity-0: 0%;
  --sd-opacity-100: 0%;
  --sd-opacity-10: 0%;
  --sd-opacity-20: 0%;
  --sd-opacity-30: 0%;
  --sd-opacity-50: 0%;
  --sd-opacity-55: 0%;
  --sd-opacity-5: 0%;
  --sd-opacity-60: 0%;
  --sd-opacity-70: 0%;
  --sd-opacity-75: 0%;
  --sd-opacity-80: 0%;
  --sd-opacity-85: 0%;
  --sd-opacity-90: 0%;
  --sd-overlay-color-background: rgba(0, 45, 103, 0.9);
  --sd-panel-color-border: var(--sd-color-white);
  --sd-radius-full: 0rem;
  --sd-radius-lg: 0rem;
  --sd-radius-md: 0rem;
  --sd-radius-none: 0rem;
  --sd-radius-sm: 0rem;
  --sd-radius: 0rem;
  --sd-shadow-sm: 0.5px 0.5px 1.5px var(--sd-color-neutral-800);
  --sd-shadow: 0 1px 3px var(--sd-color-neutral-800);
  --sd-sizing-10: 0rem;
  --sd-sizing-12: 0rem;
  --sd-sizing-16: 0rem;
  --sd-sizing-20: 0rem;
  --sd-sizing-24: 0rem;
  --sd-sizing-2: 0rem;
  --sd-sizing-2\.5: 0rem;
  --sd-sizing-3: 0rem;
  --sd-sizing-4: 0rem;
  --sd-sizing-5: 0rem;
  --sd-sizing-6: 0rem;
  --sd-sizing-8: 0rem;
  --sd-spacing-0\.25: 0rem;
  --sd-spacing-0\.5: 0rem;
  --sd-spacing-10: 0rem;
  --sd-spacing-12: 0rem;
  --sd-spacing-16: 0rem;
  --sd-spacing-1: 0rem;
  --sd-spacing-1\.5: 0rem;
  --sd-spacing-20: 0rem;
  --sd-spacing-24: 0rem;
  --sd-spacing-2: 0rem;
  --sd-spacing-32: 0rem;
  --sd-spacing-3: 0rem;
  --sd-spacing-40: 0rem;
  --sd-spacing-4: 0rem;
  --sd-spacing-6: 0rem;
  --sd-spacing-8: 0rem;
  --sd-spacing: 0rem;
  --sd-tag--default--hover-color-background: var(--sd-color-white);
  --sd-tag--selected--default-color-background: var(--sd-color-white);
  --sd-text-2xl: 1.75rem;
  --sd-text-3xl: 2rem;
  --sd-text-4xl: 2.5rem;
  --sd-text-base: 1rem;
  --sd-text-lg: 1.25rem;
  --sd-text-sm: 0.875rem;
  --sd-text-xl: 1.5rem;
}