:root, .dark {
  color-scheme: dark;
  --sd-color-gradient-vertical-white-transparent: linear-gradient(0deg, rgba(255, 255, 255, 0) 5%, rgba(255, 255, 255, 1) 20%, rgba(255, 255, 255, 1) 100%);
  --sd-color-gradient-vertical-black-40-transparent: linear-gradient(0deg, rgba(24, 24, 24, 0) 50%, rgba(24, 24, 24, 0.4) 100%);
  --sd-color-gradient-vertical-transparent-black-40: linear-gradient(180deg, rgba(24, 24, 24, 0) 50%, rgba(24, 24, 24, 0.4) 100%);
  --sd-color-gradient-vertical-black-10-transparent: linear-gradient(180deg, rgba(24, 24, 24, 0) 0%, rgba(24, 24, 24, 0.1) 100%);
  --sd-color-gradient-vertical-transparent-black-10: linear-gradient(0deg, rgba(24, 24, 24, 0) 0%, rgba(24, 24, 24, 0.1) 100%);
  --sd-color-gradient-vertical-transparent-white-60: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.6) 100%);
  --sd-color-gradient-vertical-white-60-transparent: linear-gradient(180deg, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0) 100%);
  --sd-color-gradient-vertical-white-60-white-75: linear-gradient(180deg, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.75) 100%);
  --sd-color-gradient-vertical-white-75-white-60: linear-gradient(180deg, rgba(255, 255, 255, 0.75) 0%, rgba(255, 255, 255, 0.6) 100%);
  --sd-color-gradient-vertical-transparent-primary-800-60: linear-gradient(180deg, rgba(5, 21, 48, 0) 0%, rgba(5, 21, 48, 0.6) 100%);
  --sd-color-gradient-vertical-primary-800-60-transparent: linear-gradient(180deg, rgba(5, 21, 48, 0.6) 0%, rgba(5, 21, 48, 0) 100%);
  --sd-color-gradient-vertical-primary-800-60-primary-800-75: linear-gradient(180deg, rgba(5, 21, 48, 0.6) 0%, rgba(5, 21, 48, 0.75) 100%);
  --sd-color-gradient-vertical-primary-800-75-primary-800-60: linear-gradient(180deg, rgba(5, 21, 48, 0.75) 0%, rgba(5, 21, 48, 0.6) 100%);
  --sd-color-gradient-vertical-transparent-white-80-white: linear-gradient(180deg, rgba(255, 255, 255, 0) 5%, rgba(255, 255, 255, 0.05) 75%, rgba(255, 255, 255, 1) 100%);
  --sd-color-gradient-vertical-white-white-80-transparent: linear-gradient(0deg, rgba(255, 255, 255, 0) 5%, rgba(255, 255, 255, 0.05) 75%, rgba(255, 255, 255, 1) 100%);
  --sd-color-gradient-horizontal-white-white-80-transparent: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.05) 65%, rgba(255, 255, 255, 1) 100%);
  --sd-color-gradient-horizontal-transparent-white-80-white: linear-gradient(90deg, rgba(255, 255, 255, 0) 15%, rgba(255, 255, 255, 0.05) 75%, rgba(255, 255, 255, 1) 100%);
  --sd-color-gradient-horizontal-black-10-transparent: linear-gradient(270deg, rgba(24, 24, 24, 0) 0%, rgba(24, 24, 24, 0.1) 100%);
  --sd-color-gradient-horizontal-transparent-black-10: linear-gradient(90deg, rgba(24, 24, 24, 0) 0%, rgba(24, 24, 24, 0.1) 100%);
  --sd-color-gradient-horizontal-transparent-black-40: linear-gradient(270deg, rgba(24, 24, 24, 0) 50%, rgba(24, 24, 24, 0.4) 100%);
  --sd-color-gradient-horizontal-black-40-transparent: linear-gradient(90deg, rgba(24, 24, 24, 0) 50%, rgba(24, 24, 24, 0.4) 100%);
  --sd-color-risk-low: #017dc3;
  --sd-color-risk-moderate: #00a593;
  --sd-color-risk-increased: #fff000;
  --sd-color-risk-high: #fa9b1e;
  --sd-color-risk-veryhigh: #ff0000;
  --sd-color-icon-fill-primary: #ffffff;
  --sd-color-icon-fill-accent-550: #25880e;
  --sd-color-icon-fill-primary-500: #ecf0f9;
  --sd-color-icon-fill-primary-800: #99abd0;
  --sd-color-icon-fill-neutral-500: #888888;
  --sd-color-icon-fill-neutral-800: #ffffff;
  --sd-color-icon-fill-success: #6cc254;
  --sd-color-icon-fill-error: #ea586b;
  --sd-color-icon-fill-error-400: #ac1938;
  --sd-color-icon-fill-white: #00358e;
  --sd-color-icon-fill-accent: #2d9d00;
  --sd-color-icon-fill-primary-100: #ecf0f9;
  --sd-color-icon-fill-primary-200: #e0e9f3;
  --sd-color-icon-fill-primary-400: #99abd0;
  --sd-color-icon-fill-neutral-600: #888888;
  --sd-color-icon-fill-risk-low: #017dc3;
  --sd-color-icon-fill-risk-moderate: #00a593;
  --sd-color-icon-fill-risk-increased: #fff000;
  --sd-color-icon-fill-risk-high: #fa9b1e;
  --sd-color-icon-fill-risk-veryhigh: #ff0000;
  --sd-color-icon-fill-white-alternative: #ffffff;
  --sd-color-border-primary: #ffffff;
  --sd-color-border-accent-550: #25880e;
  --sd-color-border-primary-500: #ecf0f9;
  --sd-color-border-primary-800: #e0e9f3;
  --sd-color-border-neutral-400: #99abd0;
  --sd-color-border-neutral-800: #ffffff;
  --sd-color-border-success: #6cc254;
  --sd-color-border-error: #ea586b;
  --sd-color-border-error-400: #cc1937;
  --sd-color-border-null: #ffffff;
  --sd-color-border-white: #ffffff;
  --sd-color-border-accent: #2d9d00;
  --sd-color-border-primary-100: #ecf0f9;
  --sd-color-border-primary-200: #e0e9f3;
  --sd-color-border-primary-400: #99abd0;
  --sd-color-border-neutral-500: #aeaeae;
  --sd-color-border-neutral-600: #888888;
  --sd-color-background-primary: #ffffff;
  --sd-color-background-white: #020920;
  --sd-color-background-white-alternative: #00358e;
  --sd-color-background-accent-550: #25880e;
  --sd-color-background-primary-100: #0a204a;
  --sd-color-background-primary-200: #132e6e;
  --sd-color-background-primary-300: #00358e;
  --sd-color-background-primary-500: #466daf;
  --sd-color-background-primary-800: #e0e9f3;
  --sd-color-background-neutral-100: #0a204a;
  --sd-color-background-neutral-200: #132e6e;
  --sd-color-background-neutral-500: #888888;
  --sd-color-background-success: #6cc254;
  --sd-color-background-error: #ea586b;
  --sd-color-background-error-400: #cc1937;
  --sd-color-background-primary-alternative: #00358e;
  --sd-color-background-accent-300: #6cc254;
  --sd-color-background-accent: #2d9d00;
  --sd-color-background-accent-500: #25880e;
  --sd-color-background-accent-700: #215725;
  --sd-color-background-neutral-300: #00358e;
  --sd-color-background-neutral-600: #888888;
  --sd-color-background-neutral-800: #515151;
  --sd-color-background-info: #1582d5;
  --sd-color-background-warning: #bb8d20;
  --sd-color-background-primary-800-alternative: #051530;
  --sd-color-background-neutral-400: #466daf;
  --sd-color-background-transparent-primary-100-80: rgba(10, 32, 74, 0.8);
  --sd-color-background-transparent-primary-100-90: rgba(10, 32, 74, 0.9);
  --sd-color-background-transparent-neutral-100-80: rgba(10, 32, 74, 0.8);
  --sd-color-background-transparent-neutral-100-90: rgba(10, 32, 74, 0.9);
  --sd-color-background-transparent-white-90: rgba(0, 53, 142, 0.9);
  --sd-color-background-transparent-white-80: rgba(0, 53, 142, 0.8);
  --sd-color-background-transparent-primary-10: rgba(0, 53, 142, 0.1);
  --sd-color-background-transparent-primary-30: rgba(0, 53, 142, 0.3);
  --sd-color-background-transparent-primary-80: rgba(0, 53, 142, 0.8);
  --sd-color-background-transparent-primary-90: rgba(0, 53, 142, 0.9);
  --sd-color-background-transparent-white-20: rgba(255, 255, 255, 0.2);
  --sd-color-background-transparent-primary-800-90: rgba(5, 21, 48, 0.9);
  --sd-color-text-primary: #ffffff;
  --sd-color-text-white: #00358e;
  --sd-color-text-black: #ffffff;
  --sd-color-text-black-alternative: #181818;
  --sd-color-text-primary-200: #e0e9f3;
  --sd-color-text-primary-400: #99abd0;
  --sd-color-text-primary-500: #e0e9f3;
  --sd-color-text-primary-800: #99abd0;
  --sd-color-text-neutral-500: #888888;
  --sd-color-text-neutral-700: #99abd0;
  --sd-color-text-success: #6cc254;
  --sd-color-text-error: #ea586b;
  --sd-color-text-white-alternative: #ffffff;
  --sd-color-text-accent: #2d9d00;
  --sd-color-text-primary-100: #ecf0f9;
  --sd-color-text-neutral-600: #888888;
  --sd-color-selection-control-border-neutral-800: #e0e9f3;
  --sd-color-brandshape-border-null: #ffffff;
  --sd-color-brandshape-background-neutral-100: rgba(255, 255, 255, 0);
  --sd-color-brandshape-background-white: rgba(255, 255, 255, 0);
  --sd-color-button-background-primary-default: #ffffff;
  --sd-color-button-background-primary-hover: #ecf0f9;
  --sd-color-button-background-primary-pressed: #e0e9f3;
  --sd-color-button-background-secondary-default: rgba(255, 255, 255, 0);
  --sd-color-button-background-secondary-hover: #132e6e;
  --sd-color-button-background-secondary-pressed: #466daf;
  --sd-color-button-background-cta-default: #25880e;
  --sd-color-button-background-cta-hover: #367b28;
  --sd-color-button-background-cta-pressed: #215725;
  --sd-color-button-text-icon-fill-primary-default: #00358e;
  --sd-color-button-text-icon-fill-primary-hover: #466daf;
  --sd-color-button-text-icon-fill-primary-pressed: #132e6e;
  --sd-color-button-text-icon-fill-secondary-default: #ffffff;
  --sd-color-button-text-icon-fill-secondary-hover: #ecf0f9;
  --sd-color-button-text-icon-fill-secondary-pressed: #e0e9f3;
  --sd-color-button-text-icon-fill-cta-default: #ffffff;
  --sd-color-button-text-icon-fill-cta-hover: #ffffff;
  --sd-color-button-text-icon-fill-cta-pressed: #ffffff;
  --sd-color-button-border-secondary-default: #ffffff;
  --sd-color-button-border-secondary-hover: #ecf0f9;
  --sd-color-button-border-secondary-pressed: #e0e9f3;
  --sd-color-button-disabled: #aeaeae;
  --sd-color-button-inverted-background-primary-default: #ffffff;
  --sd-color-button-inverted-background-primary-hover: #ecf0f9;
  --sd-color-button-inverted-background-primary-pressed: #e0e9f3;
  --sd-color-button-inverted-background-secondary-default: rgba(255, 255, 255, 0);
  --sd-color-button-inverted-background-secondary-hover: #466daf;
  --sd-color-button-inverted-background-secondary-pressed: #051530;
  --sd-color-button-inverted-background-cta-default: #25880e;
  --sd-color-button-inverted-background-cta-hover: #367b28;
  --sd-color-button-inverted-background-cta-pressed: #215725;
  --sd-color-button-inverted-text-icon-fill-primary-default: #00358e;
  --sd-color-button-inverted-text-icon-fill-primary-hover: #466daf;
  --sd-color-button-inverted-text-icon-fill-primary-pressed: #051530;
  --sd-color-button-inverted-text-icon-fill-secondary-default: #ffffff;
  --sd-color-button-inverted-text-icon-fill-secondary-hover: #ecf0f9;
  --sd-color-button-inverted-text-icon-fill-secondary-pressed: #e0e9f3;
  --sd-color-button-inverted-text-icon-fill-cta-default: #ffffff;
  --sd-color-button-inverted-text-icon-fill-cta-hover: #ffffff;
  --sd-color-button-inverted-text-icon-fill-cta-pressed: #ffffff;
  --sd-color-button-inverted-border-secondary-default: #ffffff;
  --sd-color-button-inverted-border-secondary-hover: #ecf0f9;
  --sd-color-button-inverted-border-secondary-pressed: #e0e9f3;
  --sd-color-button-inverted-disabled: #888888;
  --sd-color-outline-primary: #ffffff;
  --sd-color-outline-accent-550: #25880e;
  --sd-color-outline-primary-500: #ecf0f9;
  --sd-color-outline-primary-800: #e0e9f3;
  --sd-color-outline-neutral-400: #99abd0;
  --sd-color-outline-neutral-800: #ffffff;
  --sd-color-outline-success: #6cc254;
  --sd-color-outline-error: #ea586b;
  --sd-color-outline-error-400: #cc1937;
  --sd-color-outline-null: #ffffff;
  --sd-color-outline-white: #ffffff;
  --sd-color-outline-accent: #2d9d00;
  --sd-color-outline-primary-100: #ecf0f9;
  --sd-color-outline-primary-200: #e0e9f3;
  --sd-color-outline-primary-400: #99abd0;
  --sd-color-outline-neutral-500: #aeaeae;
  --sd-color-outline-neutral-600: #888888;
  --sd-color-ring-primary: #ffffff;
  --sd-color-ring-accent-550: #25880e;
  --sd-color-ring-primary-500: #ecf0f9;
  --sd-color-ring-primary-800: #e0e9f3;
  --sd-color-ring-neutral-400: #99abd0;
  --sd-color-ring-neutral-800: #ffffff;
  --sd-color-ring-success: #6cc254;
  --sd-color-ring-error: #ea586b;
  --sd-color-ring-error-400: #cc1937;
  --sd-color-ring-null: #ffffff;
  --sd-color-ring-white: #ffffff;
  --sd-color-ring-accent: #2d9d00;
  --sd-color-ring-primary-100: #ecf0f9;
  --sd-color-ring-primary-200: #e0e9f3;
  --sd-color-ring-primary-400: #99abd0;
  --sd-color-ring-neutral-500: #aeaeae;
  --sd-color-ring-neutral-600: #888888;
}