:root,
.sd-theme-kid,
.sd-theme-bb,
.sd-theme-vb,
.sd-theme-sp,
.sd-theme-ui-dark,
.sd-theme-ui-light {
  /*
   * Deprecated variables – manually overriding these in custom themes might lead to problems in future versions of Solid.
   * Use the actual used value instead. Example:
   * Instead of --sd-chip-font-size use --sd-marker-font-size for your overrides.
   */
  --sd-button--size-lg-border-radius: var(--sd-button-border-radius, 0.25rem);
  --sd-button--size-md-border-radius: var(--sd-button-border-radius, 0.25rem);
  --sd-button--size-sm-border-radius: var(--sd-button-border-radius, 0.25rem);
  --sd-button--secondary--inverted--color-border: var(--sd-button-secondary-inverted-color-border, 255 255 255);
  --sd-chip-font-size: var(--sd-marker-font-size, 0.875rem);
  --sd-chip-font-weight: var(--sd-marker-font-weight, 400);
  --sd-chip--primary-200-color-background: var(--sd-chip--primary-low-color-background, 224 233 243);
  --sd-chip--primary-200-color-border: var(--sd-chip--primary-subtle-color-filled-border, 255 255 255 / 0);
  --sd-chip--primary-300-color-background: var(--sd-chip--primary-medium-color-background, 200 213 231);
  --sd-chip--primary-300-color-border: var(--sd-chip--primary-medium-color-filled-border, 255 255 255 / 0);
  --sd-chip--primary-500-color-background: var(--sd-chip--primary-high-color-background, 153 171 208);
  --sd-chip--primary-500-color-border: var(--sd-chip--primary-high-color-filled-border, 255 255 255 / 0);
  --sd-chip--primary-500-color-text: var(--sd-color-white, 255 255 255);
  --sd-chip--white-color-border: var(--sd-chip--white-color-filled-border, 255 255 255 / 0);
  --sd-flag-border-radius: var(--sd-chip-border-radius, 0.25rem);
  --sd-flag-border-width: var(--sd-chip-border-width, 0);
  --sd-flag--neutral-200-color-background: var(--sd-chip--neutral-low-color-background, 233 233 233);
  --sd-flag--neutral-200-color-border: var(--sd-chip--neutral-low-color-filled-border, 255 255 255 / 0);
  --sd-flag--neutral-300-color-background: var(--sd-chip--neutral-medium-color-background, 218 218 218);
  --sd-flag--neutral-300-color-border: var(--sd-chip--neutral-medium-color-filled-border, 255 255 255 / 0);
  --sd-flag--neutral-500-color-background: var(--sd-chip--neutral-high-color-background, 195 195 195);
  --sd-flag--neutral-500-color-border: var(--sd-chip--neutral-high-color-filled-border, 255 255 255 / 0);
  --sd-flag--white-color-background: var(--sd-chip--white-color-background, 255 255 255);
  --sd-flag--white-color-border: var(--sd-chip--white-color-filled-border, 255 255 255 / 0);
  --sd-form-control-color-icon: var(--sd-form-control-color-icon-fill, 0 53 142);
  --sd-menu-color-icon: var(--sd-menu-item-color-icon-fill, 0 53 142);
  --sd-menu-color-text: var(--sd-menu-item-color-text, 0 53 142);
  --sd-menu--disabled-color-icon: var(--sd-menu-item--disabled-color-icon-fill, 174 174 174);
  --sd-menu--disabled-color-text: var(--sd-menu-item--disabled-color-text, 174 174 174);
  --sd-tag-font-weight: var(--sd-choice-control-font-weight, 400);
  --sd-tag--disabled-color-border: var(--sd-color-border-neutral-500, 174 174 174);
  --sd-navigation-item--current-color-text: var(--sd-navigation-item-color-text, 0 53 142);
  --sd-option--disabled-color-border: var(--sd-color-border-neutral-500, 174 174 174);
  --sd-audio__timestamp-color-text: var(--sd-color-text-neutral-700, 104 104 104);
  --sd-accordion__chevron-color-text: var(--sd-accordion-color-icon-fill, var(--sd-color-icon-fill-primary, 0 53 142));
  --sd-form-control__tooltip-color-icon: var(--sd-interactive--default-color-text, 0 53 142);
}