.sd-dark {
  color-scheme: dark;

  --sd-aspect-16\/10: 16 / 10;
  --sd-aspect-21\/9: 21 / 9;
  --sd-aspect-2\/1: 2 / 1;
  --sd-aspect-3\/2: 3 / 2;
  --sd-aspect-3\/4: 3 / 4;
  --sd-aspect-4\/3: 4 / 3;
  --sd-aspect-4\/5: 4 / 5;
  --sd-aspect-5\/4: 5 / 4;
  --sd-aspect-6\/5: 6 / 5;
  --sd-aspect-golden-ratio: 1.6180339887498948482 / 1;
  --sd-aspect-square: 1 / 1;
  --sd-aspect-video: 16 / 9;
  --sd-color-: #212629;
  --sd-color-primary: #ffffff;
  --sd-color-risk-high: #fa9b1e;
  --sd-color-risk-increased: #fff000;
  --sd-color-risk-low: #017dc3;
  --sd-color-risk-moderate: #00a593;
  --sd-color-risk-veryhigh: #ff0000;
  --sd-color-secondary: #878f91;
  --sd-font-weight-bold: 700;
  --sd-font-weight-normal: 400;
  --sd-opacity-0: 0%;
  --sd-opacity-100: 100%;
  --sd-opacity-10: 10%;
  --sd-opacity-20: 20%;
  --sd-opacity-30: 30%;
  --sd-opacity-50: 50%;
  --sd-opacity-55: 55%;
  --sd-opacity-5: 5%;
  --sd-opacity-60: 60%;
  --sd-opacity-70: 70%;
  --sd-opacity-75: 75%;
  --sd-opacity-80: 80%;
  --sd-opacity-85: 85%;
  --sd-opacity-90: 90%;
  --sd-radius-default: NaNrem;
  --sd-radius-full: NaNrem;
  --sd-radius-lg: NaNrem;
  --sd-radius-md: NaNrem;
  --sd-radius-none: 0rem;
  --sd-radius-sm: NaNrem;
  --sd-sizing-10: NaNrem;
  --sd-sizing-12: NaNrem;
  --sd-sizing-16: NaNrem;
  --sd-sizing-24: NaNrem;
  --sd-sizing-2: NaNrem;
  --sd-sizing-2\.5: NaNrem;
  --sd-sizing-3: NaNrem;
  --sd-sizing-4: NaNrem;
  --sd-sizing-5: NaNrem;
  --sd-sizing-6: NaNrem;
  --sd-sizing-8: NaNrem;
  --sd-spacing-0: NaNrem;
  --sd-spacing-0\.25: NaNrem;
  --sd-spacing-0\.5: NaNrem;
  --sd-spacing-10: NaNrem;
  --sd-spacing-12: NaNrem;
  --sd-spacing-16: NaNrem;
  --sd-spacing-1: NaNrem;
  --sd-spacing-1\.5: NaNrem;
  --sd-spacing-20: NaNrem;
  --sd-spacing-24: NaNrem;
  --sd-spacing-2: NaNrem;
  --sd-spacing-32: NaNrem;
  --sd-spacing-3: NaNrem;
  --sd-spacing-40: NaNrem;
  --sd-spacing-4: NaNrem;
  --sd-spacing-5: NaNrem;
  --sd-spacing-6: NaNrem;
  --sd-spacing-8: NaNrem;
  --sd-spacing-auto: NaNrem;
  --sd-spacing-border-width-2: NaNrem;
  --sd-spacing-border-width-4: NaNrem;
  --sd-spacing-border-width-6: NaNrem;
  --sd-spacing-border-width-default: NaNrem;
  --sd-spacing: NaNrem;
  --sd-text-2xl: 1.75rem;
  --sd-text-3xl: 2rem;
  --sd-text-4xl: 2.5rem;
  --sd-text-base: 1rem;
  --sd-text-lg: 1.25rem;
  --sd-text-sm: 0.875rem;
  --sd-text-xl: 1.5rem;
}