.sd-ui-semantic-dark {
  color-scheme: dark;

  --sd-aspect-16\/10: 16 / 10;
  --sd-aspect-21\/9: 21 / 9;
  --sd-aspect-2\/1: 2 / 1;
  --sd-aspect-3\/2: 3 / 2;
  --sd-aspect-3\/4: 3 / 4;
  --sd-aspect-4\/3: 4 / 3;
  --sd-aspect-4\/5: 4 / 5;
  --sd-aspect-5\/4: 5 / 4;
  --sd-aspect-6\/5: 6 / 5;
  --sd-aspect-golden-ratio: 1.6180339887498948482 / 1;
  --sd-aspect-square: 1 / 1;
  --sd-aspect-video: 16 / 9;
  --sd-background-error-400: #cc1937;
  --sd-background-neutral-400: #466daf;
  --sd-background-neutral-800: #515151;
  --sd-background-primary-100: #0a204a;
  --sd-background-primary-200: #132c64;
  --sd-background-primary-400: #c8d5e7;
  --sd-background-primary-500: #466daf;
  --sd-background-primary-800: #e0e9f3;
  --sd-background-white-alternative: #00358e;
  --sd-background-white: #020920;
  --sd-border-error-400: #cc1937;
  --sd-border-neutral-500: #aeaeae;
  --sd-border-primary-800: #e0e9f3;
  --sd-border-width-2: 2px;
  --sd-border-width-4: 4px;
  --sd-border-width-6: 6px;
  --sd-border-width-default: 1px;
  --sd-color-accent-300: #6cc254;
  --sd-color-accent-500: #25880e;
  --sd-color-accent-550: #25880e;
  --sd-color-accent-700: #215725;
  --sd-color-accent: #2d9d00;
  --sd-color-black-alternative: #181818;
  --sd-color-black: #ffffff;
  --sd-color-error-400: #ac1938;
  --sd-color-error: #ea586b;
  --sd-color-info: #1582d5;
  --sd-color-neutral-100-80: rgba(10, 32, 74, 0.8);
  --sd-color-neutral-100-90: rgba(10, 32, 74, 0.9);
  --sd-color-neutral-100: #0a204a;
  --sd-color-neutral-200: #132c64;
  --sd-color-neutral-300: #132c64;
  --sd-color-neutral-400: #99abd0;
  --sd-color-neutral-500: #888888;
  --sd-color-neutral-600: #888888;
  --sd-color-neutral-700: #99abd0;
  --sd-color-neutral-800: #ffffff;
  --sd-color-null: #ffffff;
  --sd-color-primary-100-80: rgba(10, 32, 74, 0.8);
  --sd-color-primary-100-90: rgba(10, 32, 74, 0.9);
  --sd-color-primary-100: #ecf0f9;
  --sd-color-primary-10: rgba(0, 53, 142, 0.1);
  --sd-color-primary-200: #e0e9f3;
  --sd-color-primary-300: #00358e;
  --sd-color-primary-30: rgba(0, 53, 142, 0.3);
  --sd-color-primary-400: #99abd0;
  --sd-color-primary-500: #ecf0f9;
  --sd-color-primary-800-90: rgba(5, 21, 48, 0.9);
  --sd-color-primary-800-alternative: #051530;
  --sd-color-primary-800: #99abd0;
  --sd-color-primary-80: rgba(0, 53, 142, 0.8);
  --sd-color-primary-90: rgba(0, 53, 142, 0.9);
  --sd-color-primary-alternative: #00358e;
  --sd-color-primary: #ffffff;
  --sd-color-risk-high: #fa9b1e;
  --sd-color-risk-increased: #fff000;
  --sd-color-risk-low: #017dc3;
  --sd-color-risk-moderate: #00a593;
  --sd-color-risk-veryhigh: #ff0000;
  --sd-color-success: #6cc254;
  --sd-color-warning: #bb8d20;
  --sd-color-white-20: rgba(255, 255, 255, 0.2);
  --sd-color-white-80: rgba(0, 53, 142, 0.8);
  --sd-color-white-90: rgba(0, 53, 142, 0.9);
  --sd-color-white-alternative: #ffffff;
  --sd-color-white: #ffffff;
  --sd-gradient-horizontal-black-10-transparent: linear-gradient(270deg, rgba(24, 24, 24, 0) 0%, rgba(24, 24, 24, 0.1) 100%);
  --sd-gradient-horizontal-black-40-transparent: linear-gradient(90deg, rgba(24, 24, 24, 0) 50%, rgba(24, 24, 24, 0.4) 100%);
  --sd-gradient-horizontal-transparent-black-10: linear-gradient(90deg, rgba(24, 24, 24, 0) 0%, rgba(24, 24, 24, 0.1) 100%);
  --sd-gradient-horizontal-transparent-black-40: linear-gradient(270deg, rgba(24, 24, 24, 0) 50%, rgba(24, 24, 24, 0.4) 100%);
  --sd-gradient-horizontal-transparent-white-80-white: linear-gradient(90deg, rgba(255, 255, 255, 0) 15%, rgba(255, 255, 255, 0.05) 75%, rgba(255, 255, 255, 1) 100%);
  --sd-gradient-horizontal-white-white-80-transparent: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.05) 65%, rgba(255, 255, 255, 1) 100%);
  --sd-gradient-vertical-black-10-transparent: linear-gradient(180deg, rgba(24, 24, 24, 0) 0%, rgba(24, 24, 24, 0.1) 100%);
  --sd-gradient-vertical-black-40-transparent: linear-gradient(0deg, rgba(24, 24, 24, 0) 50%, rgba(24, 24, 24, 0.4) 100%);
  --sd-gradient-vertical-primary-800-60-primary-800-75: linear-gradient(180deg, rgba(5, 21, 48, 0.6) 0%, rgba(5, 21, 48, 0.75) 100%);
  --sd-gradient-vertical-primary-800-60-transparent: linear-gradient(180deg, rgba(5, 21, 48, 0.6) 0%, rgba(5, 21, 48, 0) 100%);
  --sd-gradient-vertical-primary-800-75-primary-800-60: linear-gradient(180deg, rgba(5, 21, 48, 0.75) 0%, rgba(5, 21, 48, 0.6) 100%);
  --sd-gradient-vertical-transparent-black-10: linear-gradient(0deg, rgba(24, 24, 24, 0) 0%, rgba(24, 24, 24, 0.1) 100%);
  --sd-gradient-vertical-transparent-black-40: linear-gradient(180deg, rgba(24, 24, 24, 0) 50%, rgba(24, 24, 24, 0.4) 100%);
  --sd-gradient-vertical-transparent-primary-800-60: linear-gradient(180deg, rgba(5, 21, 48, 0) 0%, rgba(5, 21, 48, 0.6) 100%);
  --sd-gradient-vertical-transparent-white-60: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.6) 100%);
  --sd-gradient-vertical-transparent-white-80-white: linear-gradient(180deg, rgba(255, 255, 255, 0) 5%, rgba(255, 255, 255, 0.05) 75%, rgba(255, 255, 255, 1) 100%);
  --sd-gradient-vertical-white-60-transparent: linear-gradient(180deg, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0) 100%);
  --sd-gradient-vertical-white-60-white-75: linear-gradient(180deg, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.75) 100%);
  --sd-gradient-vertical-white-75-white-60: linear-gradient(180deg, rgba(255, 255, 255, 0.75) 0%, rgba(255, 255, 255, 0.6) 100%);
  --sd-gradient-vertical-white-transparent: linear-gradient(0deg, rgba(255, 255, 255, 0) 5%, rgba(255, 255, 255, 1) 20%, rgba(255, 255, 255, 1) 100%);
  --sd-gradient-vertical-white-white-80-transparent: linear-gradient(0deg, rgba(255, 255, 255, 0) 5%, rgba(255, 255, 255, 0.05) 75%, rgba(255, 255, 255, 1) 100%);
  --sd-opacity-0: 0%;
  --sd-opacity-100: 100%;
  --sd-opacity-10: 10%;
  --sd-opacity-20: 20%;
  --sd-opacity-30: 30%;
  --sd-opacity-50: 50%;
  --sd-opacity-55: 55%;
  --sd-opacity-5: 5%;
  --sd-opacity-60: 60%;
  --sd-opacity-70: 70%;
  --sd-opacity-75: 75%;
  --sd-opacity-80: 80%;
  --sd-opacity-85: 85%;
  --sd-opacity-90: 90%;
  --sd-outline-error-400: #cc1937;
  --sd-outline-neutral-500: #aeaeae;
  --sd-outline-primary-800: #e0e9f3;
  --sd-radius-default: 0.25rem;
  --sd-radius-full: 9999px;
  --sd-radius-lg: 0.5rem;
  --sd-radius-md: 0.375rem;
  --sd-radius-none: 0px;
  --sd-radius-sm: 0.125rem;
  --sd-ring-error-400: #cc1937;
  --sd-ring-neutral-500: #aeaeae;
  --sd-ring-primary-800: #e0e9f3;
  --sd-sizing-10: 2.5rem;
  --sd-sizing-12: 3rem;
  --sd-sizing-16: 4rem;
  --sd-sizing-24: 6rem;
  --sd-sizing-2: 0.5rem;
  --sd-sizing-2\.5: 0.625rem;
  --sd-sizing-3: 0.75rem;
  --sd-sizing-4: 1rem;
  --sd-sizing-5: 1.25rem;
  --sd-sizing-6: 1.5rem;
  --sd-sizing-8: 2rem;
  --sd-spacing-0: 0px;
  --sd-spacing-0\.25: 1px;
  --sd-spacing-0\.5: 0.125rem;
  --sd-spacing-10: 2.5rem;
  --sd-spacing-12: 3rem;
  --sd-spacing-16: 4rem;
  --sd-spacing-1: 0.25rem;
  --sd-spacing-1\.5: 0.375rem;
  --sd-spacing-20: 5rem;
  --sd-spacing-24: 6rem;
  --sd-spacing-2: 0.5rem;
  --sd-spacing-32: 8rem;
  --sd-spacing-3: 0.75rem;
  --sd-spacing-40: 10rem;
  --sd-spacing-4: 1rem;
  --sd-spacing-5: 1.25rem;
  --sd-spacing-6: 1.5rem;
  --sd-spacing-8: 2rem;
  --sd-spacing-auto: auto;
  --sd-spacing: 0.25rem;
  --sd-text-primary-500: #e0e9f3;
  --sd-text-white: #00358e;
}