:root, .sd-ui-semantic-light {
  color-scheme: light;

  --sd-color-accent-300: #6cc254;
  --sd-color-accent-500: #25880e;
  --sd-color-accent-550: #367b28;
  --sd-color-accent-700: #215725;
  --sd-color-accent: #2d9d00;
  --sd-color-black-alternative: #181818;
  --sd-color-black: #181818;
  --sd-color-error-400: #ac1938;
  --sd-color-error: #cc1937;
  --sd-color-info: #1582d5;
  --sd-color-neutral-100-80: rgba(246, 246, 246, 0.8);
  --sd-color-neutral-100-90: rgba(246, 246, 246, 0.9);
  --sd-color-neutral-100: #f6f6f6;
  --sd-color-neutral-200: #e9e9e9;
  --sd-color-neutral-300: #dadada;
  --sd-color-neutral-400: #c3c3c3;
  --sd-color-neutral-500: #aeaeae;
  --sd-color-neutral-600: #888888;
  --sd-color-neutral-700: #686868;
  --sd-color-neutral-800: #515151;
  --sd-color-null: rgba(255, 255, 255, 0);
  --sd-color-primary-100-80: rgba(236, 240, 249, 0.8);
  --sd-color-primary-100-90: rgba(236, 240, 249, 0.9);
  --sd-color-primary-100: #ecf0f9;
  --sd-color-primary-10: rgba(0, 53, 142, 0.1);
  --sd-color-primary-200: #e0e9f3;
  --sd-color-primary-300: #c8d5e7;
  --sd-color-primary-30: rgba(0, 53, 142, 0.3);
  --sd-color-primary-400: #99abd0;
  --sd-color-primary-400: #c8d5e7;
  --sd-color-primary-500: #466daf;
  --sd-color-primary-800-90: rgba(5, 21, 48, 0.9);
  --sd-color-primary-800-alternative: #051530;
  --sd-color-primary-800: #051530;
  --sd-color-primary-80: rgba(0, 53, 142, 0.8);
  --sd-color-primary-90: rgba(0, 53, 142, 0.9);
  --sd-color-primary-alternative: #00358e;
  --sd-color-primary: #00358e;
  --sd-color-risk-high: #fa9b1e;
  --sd-color-risk-increased: #fff000;
  --sd-color-risk-low: #017dc3;
  --sd-color-risk-moderate: #00a593;
  --sd-color-risk-veryhigh: #ff0000;
  --sd-color-success: #367b28;
  --sd-color-warning: #bb8d20;
  --sd-color-white-20: rgba(255, 255, 255, 0.2);
  --sd-color-white-80: rgba(255, 255, 255, 0.8);
  --sd-color-white-90: rgba(255, 255, 255, 0.9);
  --sd-color-white-alternative: #ffffff;
  --sd-color-white: #ffffff;
  --sd-gradient-horizontal-black-10-transparent: linear-gradient(270deg, rgba(24, 24, 24, 0) 0%, rgba(24, 24, 24, 0.1) 100%);
  --sd-gradient-horizontal-black-40-transparent: linear-gradient(90deg, rgba(24, 24, 24, 0) 50%, rgba(24, 24, 24, 0.4) 100%);
  --sd-gradient-horizontal-transparent-black-10: linear-gradient(90deg, rgba(24, 24, 24, 0) 0%, rgba(24, 24, 24, 0.1) 100%);
  --sd-gradient-horizontal-transparent-black-40: linear-gradient(270deg, rgba(24, 24, 24, 0) 50%, rgba(24, 24, 24, 0.4) 100%);
  --sd-gradient-horizontal-transparent-white-80-white: linear-gradient(90deg, rgba(255, 255, 255, 0) 15%, rgba(255, 255, 255, 0.05) 75%, rgba(255, 255, 255, 1) 100%);
  --sd-gradient-horizontal-white-white-80-transparent: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.05) 65%, rgba(255, 255, 255, 1) 100%);
  --sd-gradient-vertical-black-10-transparent: linear-gradient(180deg, rgba(24, 24, 24, 0) 0%, rgba(24, 24, 24, 0.1) 100%);
  --sd-gradient-vertical-black-40-transparent: linear-gradient(0deg, rgba(24, 24, 24, 0) 50%, rgba(24, 24, 24, 0.4) 100%);
  --sd-gradient-vertical-primary-800-60-primary-800-75: linear-gradient(180deg, rgba(5, 21, 48, 0.6) 0%, rgba(5, 21, 48, 0.75) 100%);
  --sd-gradient-vertical-primary-800-60-transparent: linear-gradient(180deg, rgba(5, 21, 48, 0.6) 0%, rgba(5, 21, 48, 0) 100%);
  --sd-gradient-vertical-primary-800-75-primary-800-60: linear-gradient(180deg, rgba(5, 21, 48, 0.75) 0%, rgba(5, 21, 48, 0.6) 100%);
  --sd-gradient-vertical-transparent-black-10: linear-gradient(0deg, rgba(24, 24, 24, 0) 0%, rgba(24, 24, 24, 0.1) 100%);
  --sd-gradient-vertical-transparent-black-40: linear-gradient(180deg, rgba(24, 24, 24, 0) 50%, rgba(24, 24, 24, 0.4) 100%);
  --sd-gradient-vertical-transparent-primary-800-60: linear-gradient(180deg, rgba(5, 21, 48, 0) 0%, rgba(5, 21, 48, 0.6) 100%);
  --sd-gradient-vertical-transparent-white-60: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.6) 100%);
  --sd-gradient-vertical-transparent-white-80-white: linear-gradient(180deg, rgba(255, 255, 255, 0) 5%, rgba(255, 255, 255, 0.05) 75%, rgba(255, 255, 255, 1) 100%);
  --sd-gradient-vertical-white-60-transparent: linear-gradient(180deg, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0) 100%);
  --sd-gradient-vertical-white-60-white-75: linear-gradient(180deg, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.75) 100%);
  --sd-gradient-vertical-white-75-white-60: linear-gradient(180deg, rgba(255, 255, 255, 0.75) 0%, rgba(255, 255, 255, 0.6) 100%);
  --sd-gradient-vertical-white-transparent: linear-gradient(0deg, rgba(255, 255, 255, 0) 5%, rgba(255, 255, 255, 1) 20%, rgba(255, 255, 255, 1) 100%);
  --sd-gradient-vertical-white-white-80-transparent: linear-gradient(0deg, rgba(255, 255, 255, 0) 5%, rgba(255, 255, 255, 0.05) 75%, rgba(255, 255, 255, 1) 100%);
}