.sd-theme-ui-semantic-dark {
  color-scheme: dark;

  --sd-color-: #ffffff;
  --sd-color-accent-100: #b6dfaa;
  --sd-color-accent-200: #8ed082;
  --sd-color-accent-300: #6cc254;
  --sd-color-accent-400: #2d9d00;
  --sd-color-accent-500: #25880e;
  --sd-color-accent-550: #25880e;
  --sd-color-accent-600: #316f24;
  --sd-color-accent-700: #215725;
  --sd-color-accent-750: #ffffff;
  --sd-color-accent-800: #19411b;
  --sd-color-accent: #25880e;
  --sd-color-background-transparent-neutral-100-80: rgba(10, 32, 74, 0.8);
  --sd-color-background-transparent-neutral-100-90: rgba(10, 32, 74, 0.9);
  --sd-color-background-transparent-primary-100-80: rgba(10, 32, 74, 0.8);
  --sd-color-background-transparent-primary-100-90: rgba(10, 32, 74, 0.9);
  --sd-color-background-transparent-primary-10: #ffffff;
  --sd-color-background-transparent-primary-30: #ffffff;
  --sd-color-background-transparent-primary-800-90: #ffffff;
  --sd-color-background-transparent-primary-80: #ffffff;
  --sd-color-background-transparent-primary-90: #ffffff;
  --sd-color-background-transparent-white-20: #ffffff;
  --sd-color-background-transparent-white-80: rgba(255, 255, 255, 0.8);
  --sd-color-background-transparent-white-90: rgba(255, 255, 255, 0.9);
  --sd-color-black-constant: #181818;
  --sd-color-black: #181818;
  --sd-color-error-300: #ea586b;
  --sd-color-error-400: #cc1937;
  --sd-color-error: #ea586b;
  --sd-color-info: #1582d5;
  --sd-color-neutral-100: #0a204a;
  --sd-color-neutral-200: #0a204a;
  --sd-color-neutral-300: #132e6e;
  --sd-color-neutral-400: #99abd0;
  --sd-color-neutral-500: #aeaeae;
  --sd-color-neutral-600: #888888;
  --sd-color-neutral-700: #686868;
  --sd-color-neutral-800: #ffffff;
  --sd-color-null: #ffffff;
  --sd-color-primary-100: #ecf0f9;
  --sd-color-primary-200: #0a204a;
  --sd-color-primary-300: #132e6e;
  --sd-color-primary-400: #99abd0;
  --sd-color-primary-500: #ecf0f9;
  --sd-color-primary-600: #00358e;
  --sd-color-primary-700: #132e6e;
  --sd-color-primary-750: #0a204a;
  --sd-color-primary-800-constant: #ffffff;
  --sd-color-primary-800: #051530;
  --sd-color-primary-900: #020920;
  --sd-color-primary-constant: #ffffff;
  --sd-color-primary: #00358e;
  --sd-color-risk-high: #fa9b1e;
  --sd-color-risk-increased: #fff000;
  --sd-color-risk-low: #017dc3;
  --sd-color-risk-moderate: #00a593;
  --sd-color-risk-veryhigh: #ff0000;
  --sd-color-success: #6cc254;
  --sd-color-warning: #bb8d20;
  --sd-color-white-constant: #ffffff;
  --sd-color-white: #020920;
  --sd-spacing-utilities-border-width-2: 0rem;
  --sd-spacing-utilities-border-width-4: 0rem;
  --sd-spacing-utilities-border-width-6: 0rem;
  --sd-spacing-utilities-border-width-default: 0rem;
  --sd-spacing-utilities-rounded-default: 0.25rem;
  --sd-spacing-utilities-rounded-full: 624.9375rem;
  --sd-spacing-utilities-rounded-lg: 0.5rem;
  --sd-spacing-utilities-rounded-md: 0.375rem;
  --sd-spacing-utilities-rounded-none: 0rem;
  --sd-spacing-utilities-rounded-sm: 0.125rem;
  --sd-spacing-utilities-sizing-10: 2.5rem;
  --sd-spacing-utilities-sizing-12: 3rem;
  --sd-spacing-utilities-sizing-16: 4rem;
  --sd-spacing-utilities-sizing-24: 6rem;
  --sd-spacing-utilities-sizing-2: 0.5rem;
  --sd-spacing-utilities-sizing-2\.5: 0.625rem;
  --sd-spacing-utilities-sizing-3: 0.75rem;
  --sd-spacing-utilities-sizing-4: 1rem;
  --sd-spacing-utilities-sizing-5: 1.25rem;
  --sd-spacing-utilities-sizing-6: 1.5rem;
  --sd-spacing-utilities-sizing-8: 2rem;
  --sd-spacing-utilities-spacing-0\.25: 0.0625rem;
  --sd-spacing-utilities-spacing-0\.5: 0.125rem;
  --sd-spacing-utilities-spacing-10: 2.5rem;
  --sd-spacing-utilities-spacing-12: 3rem;
  --sd-spacing-utilities-spacing-16: 4rem;
  --sd-spacing-utilities-spacing-1: 0.25rem;
  --sd-spacing-utilities-spacing-1\.5: 0.375rem;
  --sd-spacing-utilities-spacing-20: 5rem;
  --sd-spacing-utilities-spacing-24: 6rem;
  --sd-spacing-utilities-spacing-2: 0.5rem;
  --sd-spacing-utilities-spacing-32: 8rem;
  --sd-spacing-utilities-spacing-3: 0.75rem;
  --sd-spacing-utilities-spacing-40: 10rem;
  --sd-spacing-utilities-spacing-4: 1rem;
  --sd-spacing-utilities-spacing-6: 1.5rem;
  --sd-spacing-utilities-spacing-8: 2rem;
  --sd-utilities-color-background-neutral-400: #466daf;
  --sd-utilities-color-background-neutral-500: #888888;
  --sd-utilities-color-background-neutral-800: #515151;
  --sd-utilities-color-background-primary-100: #0a204a;
  --sd-utilities-color-background-primary-500: #466daf;
  --sd-utilities-color-background-primary-800: #e0e9f3;
  --sd-utilities-color-background-primary-default: #ffffff;
  --sd-utilities-color-icon-fill-neutral-400: #c3c3c3;
  --sd-utilities-color-icon-fill-neutral-500: #888888;
  --sd-utilities-color-icon-fill-primary-100: #466daf;
  --sd-utilities-color-icon-fill-primary-200: #e0e9f3;
  --sd-utilities-color-icon-fill-primary-800: #99abd0;
  --sd-utilities-color-icon-fill-primary-default: #ffffff;
  --sd-utilities-color-icon-fill-risk-high: #ffffff;
  --sd-utilities-color-icon-fill-risk-increased: #ffffff;
  --sd-utilities-color-icon-fill-risk-low: #ffffff;
  --sd-utilities-color-icon-fill-risk-moderate: #ffffff;
  --sd-utilities-color-icon-fill-risk-veryhigh: #ffffff;
  --sd-utilities-color-icon-fill-white-default: #ffffff;
  --sd-utilities-color-neutral-100: #f6f6f6;
  --sd-utilities-color-neutral-200: #e9e9e9;
  --sd-utilities-color-neutral-300: #dadada;
  --sd-utilities-color-neutral-400: #c3c3c3;
  --sd-utilities-color-neutral-800: #515151;
  --sd-utilities-color-primary-200: #e0e9f3;
  --sd-utilities-color-primary-300: #c8d5e7;
  --sd-utilities-color-primary-500: #466daf;
  --sd-utilities-color-text-black-default-constant: #ffffff;
  --sd-utilities-color-text-black-default: #ffffff;
  --sd-utilities-color-text-neutral-500: #888888;
  --sd-utilities-color-text-neutral-700: #99abd0;
  --sd-utilities-color-text-primary-200: #e0e9f3;
  --sd-utilities-color-text-primary-500: #e0e9f3;
  --sd-utilities-color-text-primary-800: #99abd0;
  --sd-utilities-color-text-primary-default: #ffffff;
  --sd-utilities-color-text-white-default: #ffffff;
  --sd-utilities-color-white-default: #ffffff;
}