:root, .sd-ui-semantic-dark {
  color-scheme: dark;

  --sd-gradient-vertical-white-transparent: linear-gradient(0deg, rgba(255, 255, 255, 0) 5%, rgba(255, 255, 255, 1) 20%, rgba(255, 255, 255, 1) 100%);
  --sd-gradient-vertical-black-40-transparent: linear-gradient(0deg, rgba(24, 24, 24, 0) 50%, rgba(24, 24, 24, 0.4) 100%);
  --sd-gradient-vertical-transparent-black-40: linear-gradient(180deg, rgba(24, 24, 24, 0) 50%, rgba(24, 24, 24, 0.4) 100%);
  --sd-gradient-vertical-black-10-transparent: linear-gradient(180deg, rgba(24, 24, 24, 0) 0%, rgba(24, 24, 24, 0.1) 100%);
  --sd-gradient-vertical-transparent-black-10: linear-gradient(0deg, rgba(24, 24, 24, 0) 0%, rgba(24, 24, 24, 0.1) 100%);
  --sd-gradient-vertical-transparent-white-60: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.6) 100%);
  --sd-gradient-vertical-white-60-transparent: linear-gradient(180deg, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0) 100%);
  --sd-gradient-vertical-white-60-white-75: linear-gradient(180deg, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.75) 100%);
  --sd-gradient-vertical-white-75-white-60: linear-gradient(180deg, rgba(255, 255, 255, 0.75) 0%, rgba(255, 255, 255, 0.6) 100%);
  --sd-gradient-vertical-transparent-primary-800-60: linear-gradient(180deg, rgba(5, 21, 48, 0) 0%, rgba(5, 21, 48, 0.6) 100%);
  --sd-gradient-vertical-primary-800-60-transparent: linear-gradient(180deg, rgba(5, 21, 48, 0.6) 0%, rgba(5, 21, 48, 0) 100%);
  --sd-gradient-vertical-primary-800-60-primary-800-75: linear-gradient(180deg, rgba(5, 21, 48, 0.6) 0%, rgba(5, 21, 48, 0.75) 100%);
  --sd-gradient-vertical-primary-800-75-primary-800-60: linear-gradient(180deg, rgba(5, 21, 48, 0.75) 0%, rgba(5, 21, 48, 0.6) 100%);
  --sd-gradient-vertical-transparent-white-80-white: linear-gradient(180deg, rgba(255, 255, 255, 0) 5%, rgba(255, 255, 255, 0.05) 75%, rgba(255, 255, 255, 1) 100%);
  --sd-gradient-vertical-white-white-80-transparent: linear-gradient(0deg, rgba(255, 255, 255, 0) 5%, rgba(255, 255, 255, 0.05) 75%, rgba(255, 255, 255, 1) 100%);
  --sd-gradient-horizontal-white-white-80-transparent: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.05) 65%, rgba(255, 255, 255, 1) 100%);
  --sd-gradient-horizontal-transparent-white-80-white: linear-gradient(90deg, rgba(255, 255, 255, 0) 15%, rgba(255, 255, 255, 0.05) 75%, rgba(255, 255, 255, 1) 100%);
  --sd-gradient-horizontal-black-10-transparent: linear-gradient(270deg, rgba(24, 24, 24, 0) 0%, rgba(24, 24, 24, 0.1) 100%);
  --sd-gradient-horizontal-transparent-black-10: linear-gradient(90deg, rgba(24, 24, 24, 0) 0%, rgba(24, 24, 24, 0.1) 100%);
  --sd-gradient-horizontal-transparent-black-40: linear-gradient(270deg, rgba(24, 24, 24, 0) 50%, rgba(24, 24, 24, 0.4) 100%);
  --sd-gradient-horizontal-black-40-transparent: linear-gradient(90deg, rgba(24, 24, 24, 0) 50%, rgba(24, 24, 24, 0.4) 100%);
  --sd-color-risk-low: #017dc3;
  --sd-color-risk-moderate: #00a593;
  --sd-color-risk-increased: #fff000;
  --sd-color-risk-high: #fa9b1e;
  --sd-color-risk-veryhigh: #ff0000;
  --sd-color-primary: #ffffff;
  --sd-color-accent-550: #25880e;
  --sd-color-primary-500: #ecf0f9;
  --sd-color-primary-800: #99abd0;
  --sd-color-neutral-500: #888888;
  --sd-color-neutral-800: #ffffff;
  --sd-color-success: #6cc254;
  --sd-color-error: #ea586b;
  --sd-color-error-400: #ac1938;
  --sd-color-white: #00358e;
  --sd-color-accent: #2d9d00;
  --sd-color-primary-100: #ecf0f9;
  --sd-color-primary-200: #e0e9f3;
  --sd-color-primary-400: #99abd0;
  --sd-color-neutral-600: #888888;
  --sd-color-white-alternative: #ffffff;
  --sd-color-primary-800: #e0e9f3;
  --sd-color-neutral-400: #99abd0;
  --sd-color-error-400: #cc1937;
  --sd-color-null: #ffffff;
  --sd-color-white: #ffffff;
  --sd-color-neutral-500: #aeaeae;
  --sd-color-white: #020920;
  --sd-color-white-alternative: #00358e;
  --sd-color-primary-100: #0a204a;
  --sd-color-primary-200: #132e6e;
  --sd-color-primary-300: #00358e;
  --sd-color-primary-500: #466daf;
  --sd-color-neutral-100: #0a204a;
  --sd-color-neutral-200: #132e6e;
  --sd-color-primary-alternative: #00358e;
  --sd-color-accent-300: #6cc254;
  --sd-color-accent-500: #25880e;
  --sd-color-accent-700: #215725;
  --sd-color-neutral-300: #00358e;
  --sd-color-neutral-800: #515151;
  --sd-color-info: #1582d5;
  --sd-color-warning: #bb8d20;
  --sd-color-primary-800-alternative: #051530;
  --sd-color-neutral-400: #466daf;
  --sd-color-primary-100-80: rgba(10, 32, 74, 0.8);
  --sd-color-primary-100-90: rgba(10, 32, 74, 0.9);
  --sd-color-neutral-100-80: rgba(10, 32, 74, 0.8);
  --sd-color-neutral-100-90: rgba(10, 32, 74, 0.9);
  --sd-color-white-90: rgba(0, 53, 142, 0.9);
  --sd-color-white-80: rgba(0, 53, 142, 0.8);
  --sd-color-primary-10: rgba(0, 53, 142, 0.1);
  --sd-color-primary-30: rgba(0, 53, 142, 0.3);
  --sd-color-primary-80: rgba(0, 53, 142, 0.8);
  --sd-color-primary-90: rgba(0, 53, 142, 0.9);
  --sd-color-white-20: rgba(255, 255, 255, 0.2);
  --sd-color-primary-800-90: rgba(5, 21, 48, 0.9);
  --sd-color-black: #ffffff;
  --sd-color-black-alternative: #181818;
  --sd-color-primary-500: #e0e9f3;
  --sd-color-neutral-700: #99abd0;
  --sd-selection-control-border-neutral-800: #e0e9f3;
  --sd-brandshape-border-null: #ffffff;
  --sd-brandshape-background-neutral-100: rgba(255, 255, 255, 0);
  --sd-brandshape-background-white: rgba(255, 255, 255, 0);
  --sd-button-background-primary-default: #ffffff;
  --sd-button-background-primary-hover: #ecf0f9;
  --sd-button-background-primary-pressed: #e0e9f3;
  --sd-button-background-secondary-default: rgba(255, 255, 255, 0);
  --sd-button-background-secondary-hover: #132e6e;
  --sd-button-background-secondary-pressed: #466daf;
  --sd-button-background-cta-default: #25880e;
  --sd-button-background-cta-hover: #367b28;
  --sd-button-background-cta-pressed: #215725;
  --sd-button-text-icon-fill-primary-default: #00358e;
  --sd-button-text-icon-fill-primary-hover: #466daf;
  --sd-button-text-icon-fill-primary-pressed: #132e6e;
  --sd-button-text-icon-fill-secondary-default: #ffffff;
  --sd-button-text-icon-fill-secondary-hover: #ecf0f9;
  --sd-button-text-icon-fill-secondary-pressed: #e0e9f3;
  --sd-button-text-icon-fill-cta-default: #ffffff;
  --sd-button-text-icon-fill-cta-hover: #ffffff;
  --sd-button-text-icon-fill-cta-pressed: #ffffff;
  --sd-button-border-secondary-default: #ffffff;
  --sd-button-border-secondary-hover: #ecf0f9;
  --sd-button-border-secondary-pressed: #e0e9f3;
  --sd-button-disabled: #aeaeae;
  --sd-button-inverted-background-primary-default: #ffffff;
  --sd-button-inverted-background-primary-hover: #ecf0f9;
  --sd-button-inverted-background-primary-pressed: #e0e9f3;
  --sd-button-inverted-background-secondary-default: rgba(255, 255, 255, 0);
  --sd-button-inverted-background-secondary-pressed: #051530;
  --sd-button-inverted-background-secondary-hover: #466daf;
  --sd-button-inverted-background-cta-default: #25880e;
  --sd-button-inverted-background-cta-hover: #367b28;
  --sd-button-inverted-background-cta-pressed: #215725;
  --sd-button-inverted-text-icon-fill-primary-default: #00358e;
  --sd-button-inverted-text-icon-fill-primary-hover: #466daf;
  --sd-button-inverted-text-icon-fill-primary-pressed: #051530;
  --sd-button-inverted-text-icon-fill-secondary-default: #ffffff;
  --sd-button-inverted-text-icon-fill-secondary-hover: #ecf0f9;
  --sd-button-inverted-text-icon-fill-secondary-pressed: #e0e9f3;
  --sd-button-inverted-text-icon-fill-cta-default: #ffffff;
  --sd-button-inverted-text-icon-fill-cta-hover: #ffffff;
  --sd-button-inverted-text-icon-fill-cta-pressed: #ffffff;
  --sd-button-inverted-border-secondary-default: #ffffff;
  --sd-button-inverted-border-secondary-hover: #ecf0f9;
  --sd-button-inverted-border-secondary-pressed: #e0e9f3;
  --sd-button-inverted-disabled: #888888;
}