@custom-variant hover (&:hover:not([disabled]));
@custom-variant focus (&:focus:not([disabled]));
@custom-variant active (&:active:not([disabled]));

@theme inline {
  --animate-bounce-once: bounce-once var(--sd-duration-medium, 300ms) ease-in-out;
  --animate-grow: grow linear;
  --animate-loader-current: wave 1.3s infinite, loader-color-current 2.6s infinite;
  --animate-loader-primary: wave 1.3s infinite, loader-color-primary 2.6s infinite;
  --animate-loader-white: wave 1.3s infinite, loader-color-white 2.6s infinite;
  --aspect-16\/10: var(--sd-aspect-16\/10, 16 / 10);
  --aspect-21\/9: var(--sd-aspect-21\/9, 21 / 9);
  --aspect-2\/1: var(--sd-aspect-2\/1, 2 / 1);
  --aspect-3\/2: var(--sd-aspect-3\/2, 3 / 2);
  --aspect-3\/4: var(--sd-aspect-3\/4, 3 / 4);
  --aspect-4\/3: var(--sd-aspect-4\/3, 4 / 3);
  --aspect-4\/5: var(--sd-aspect-4\/5, 4 / 5);
  --aspect-5\/4: var(--sd-aspect-5\/4, 5 / 4);
  --aspect-6\/5: var(--sd-aspect-6\/5, 6 / 5);
  --aspect-golden-ratio: var(--sd-aspect-golden-ratio, 1.6180339887498948482 / 1);
  --aspect-square: var(--sd-aspect-square, 1 / 1);
  --aspect-video: var(--sd-aspect-video, 16 / 9);
  --background-color-accent-300: rgba(var(--sd-color-background-accent-300, 108 194 84));
  --background-color-accent-500: rgba(var(--sd-color-background-accent-500, 37 136 14));
  --background-color-accent-550: rgba(var(--sd-color-background-accent-550, 54 123 40));
  --background-color-accent-700: rgba(var(--sd-color-background-accent-700, 33 87 37));
  --background-color-accent: rgba(var(--sd-color-background-accent, 45 157 0));
  --background-color-error-400: rgba(var(--sd-color-background-error-400, 172 25 56));
  --background-color-error: rgba(var(--sd-color-background-error, 204 25 55));
  --background-color-info: rgba(var(--sd-color-background-info, 21 130 213));
  --background-color-neutral-100: rgba(var(--sd-color-background-neutral-100, 246 246 246));
  --background-color-neutral-200: rgba(var(--sd-color-background-neutral-200, 233 233 233));
  --background-color-neutral-300: rgba(var(--sd-color-background-neutral-300, 218 218 218));
  --background-color-neutral-400: rgba(var(--sd-color-background-neutral-400, 195 195 195));
  --background-color-neutral-500: rgba(var(--sd-color-background-neutral-500, 174 174 174));
  --background-color-neutral-600: rgba(var(--sd-color-background-neutral-600, 136 136 136));
  --background-color-neutral-800: rgba(var(--sd-color-background-neutral-800, 81 81 81));
  --background-color-primary-100: rgba(var(--sd-color-background-primary-100, 236 240 249));
  --background-color-primary-200: rgba(var(--sd-color-background-primary-200, 224 233 243));
  --background-color-primary-300: rgba(var(--sd-color-background-primary-300, 200 213 231));
  --background-color-primary-500: rgba(var(--sd-color-background-primary-500, 70 109 175));
  --background-color-primary-800: rgba(var(--sd-color-background-primary-800, 5 21 48));
  --background-color-primary: rgba(var(--sd-color-background-primary, 0 53 142));
  --background-color-success: rgba(var(--sd-color-background-success, 54 123 40));
  --background-color-warning: rgba(var(--sd-color-background-warning, 187 141 32));
  --background-color-white: rgba(var(--sd-color-background-white, 255 255 255));
  --border-color-accent-550: rgba(var(--sd-color-border-accent-550, 54 123 40));
  --border-color-accent: rgba(var(--sd-color-border-accent, 45 157 0));
  --border-color-error-400: rgba(var(--sd-color-border-error-400, 172 25 56));
  --border-color-error: rgba(var(--sd-color-border-error, 204 25 55));
  --border-color-neutral-400: rgba(var(--sd-color-border-neutral-400, 195 195 195));
  --border-color-neutral-500: rgba(var(--sd-color-border-neutral-500, 174 174 174));
  --border-color-neutral-600: rgba(var(--sd-color-border-neutral-600, 136 136 136));
  --border-color-neutral-800: rgba(var(--sd-color-border-neutral-800, 81 81 81));
  --border-color-primary-100: rgba(var(--sd-color-border-primary-100, 236 240 249));
  --border-color-primary-200: rgba(var(--sd-color-border-primary-200, 224 233 243));
  --border-color-primary-400: rgba(var(--sd-color-border-primary-400, 153 171 208));
  --border-color-primary-500: rgba(var(--sd-color-border-primary-500, 70 109 175));
  --border-color-primary-800: rgba(var(--sd-color-border-primary-800, 5 21 48));
  --border-color-primary: rgba(var(--sd-color-border-primary, 0 53 142));
  --border-color-success: rgba(var(--sd-color-border-success, 54 123 40));
  --border-color-white: rgba(var(--sd-color-border-white, 255 255 255));
  --border-width-2: var(--sd-border-width-2, 0.125rem);
  --border-width-4: var(--sd-border-width-4, 0.25rem);
  --border-width-6: var(--sd-border-width-6, 0.375rem);
  --border-width-default: var(--sd-border-width, 0.0625rem);
  --drop-shadow-listbox: var(--sd-drop-shadow-listbox, 0px 1px 3px rgba(81, 81, 81, 0.75));
  --drop-shadow-sm: var(--sd-drop-shadow-sm, 0.5px 0.5px 1.5px #515151);
  --drop-shadow-xs: var(--sd-drop-shadow-xs, 0.5px 0.5px 1.5px #515151);
  --drop-shadow: var(--sd-drop-shadow, 0px 1px 3px rgba(81, 81, 81, 0.75));
  --fill-accent-550: rgba(var(--sd-color-icon-fill-accent-550, 54 123 40));
  --fill-accent: rgba(var(--sd-color-icon-fill-accent, 45 157 0));
  --fill-content-icons-primary: rgba(var(--sd-color-icon-fill-content-icons-primary, 0 53 142));
  --fill-error-400: rgba(var(--sd-color-icon-fill-error-400, 172 25 56));
  --fill-error: rgba(var(--sd-color-icon-fill-error, 204 25 55));
  --fill-neutral-400: rgba(var(--sd-color-icon-fill-neutral-400, 195 195 195));
  --fill-neutral-500: rgba(var(--sd-color-icon-fill-neutral-500, 174 174 174));
  --fill-neutral-600: rgba(var(--sd-color-icon-fill-neutral-600, 136 136 136));
  --fill-neutral-800: rgba(var(--sd-color-icon-fill-neutral-800, 81 81 81));
  --fill-primary-100: rgba(var(--sd-color-icon-fill-primary-100, 236 240 249));
  --fill-primary-200: rgba(var(--sd-color-icon-fill-primary-200, 224 233 243));
  --fill-primary-400: rgba(var(--sd-color-icon-fill-primary-400, 153 171 208));
  --fill-primary-500: rgba(var(--sd-color-icon-fill-primary-500, 70 109 175));
  --fill-primary-800: rgba(var(--sd-color-icon-fill-primary-800, 5 21 48));
  --fill-primary: rgba(var(--sd-color-icon-fill-primary, 0 53 142));
  --fill-risk-high: rgba(var(--sd-color-icon-fill-risk-high, 250 155 30));
  --fill-risk-increased: rgba(var(--sd-color-icon-fill-risk-increased, 255 240 0));
  --fill-risk-low: rgba(var(--sd-color-icon-fill-risk-low, 1 125 195));
  --fill-risk-moderate: rgba(var(--sd-color-icon-fill-risk-moderate, 0 165 147));
  --fill-risk-veryhigh: rgba(var(--sd-color-icon-fill-risk-veryhigh, 255 0 0));
  --fill-success: rgba(var(--sd-color-icon-fill-success, 54 123 40));
  --fill-white: rgba(var(--sd-color-icon-fill-white, 255 255 255));
  --font-primary: var(--sd-font-primary, 'Frutiger Neue');
  --font-weight-bold: var(--sd-font-weight-bold, 600);
  --font-weight-normal: var(--sd-font-weight-normal, 400);
  --opacity-0: var(--sd-opacity-0, 0%);
  --opacity-100: var(--sd-opacity-100, 100%);
  --opacity-10: var(--sd-opacity-10, 10%);
  --opacity-20: var(--sd-opacity-20, 20%);
  --opacity-30: var(--sd-opacity-30, 30%);
  --opacity-50: var(--sd-opacity-50, 50%);
  --opacity-55: var(--sd-opacity-55, 55%);
  --opacity-5: var(--sd-opacity-5, 5%);
  --opacity-60: var(--sd-opacity-60, 60%);
  --opacity-70: var(--sd-opacity-70, 70%);
  --opacity-75: var(--sd-opacity-75, 75%);
  --opacity-80: var(--sd-opacity-80, 80%);
  --opacity-85: var(--sd-opacity-85, 85%);
  --opacity-90: var(--sd-opacity-90, 90%);
  --outline-color-error: rgba(var(--sd-color-border-error, var(--sd-color-error)));
  --outline-color-primary: rgba(var(--sd-color-border-primary, var(--sd-color-primary)));
  --outline-color-white: rgba(var(--sd-color-border-white, var(--sd-color-white)));
  --radius-default: var(--sd-radius, 0.25rem);
  --radius-full: var(--sd-radius-full, 624.9375rem);
  --radius-lg: var(--sd-radius-lg, 0.5rem);
  --radius-md: var(--sd-radius-md, 0.375rem);
  --radius-none: var(--sd-radius-none, 0);
  --radius-sm: var(--sd-radius-sm, 0.125rem);
  --shadow-listbox: var(--sd-shadow-listbox, 0px 1px 3px 0px rgba(81, 81, 81, 0.75));
  --shadow-sm: var(--sd-shadow-sm, 0.5px 0.5px 1.5px 0px #515151);
  --shadow-xs: var(--sd-shadow-xs, 0.5px 0.5px 1.5px 0px #515151);
  --shadow: var(--sd-shadow, 0px 1px 3px 0px rgba(81, 81, 81, 0.75));
  --sizing-0: var(--sd-sizing-0, 0);
  --sizing-0\.25: var(--sd-sizing-0\.25, 0.0625rem);
  --sizing-0\.5: var(--sd-sizing-0\.5, 0.125rem);
  --sizing-10: var(--sd-sizing-10, 2.5rem);
  --sizing-12: var(--sd-sizing-12, 3rem);
  --sizing-16: var(--sd-sizing-16, 4rem);
  --sizing-1: var(--sd-sizing-1, 0.25rem);
  --sizing-1\.5: var(--sd-sizing-1\.5, 0.375rem);
  --sizing-20: var(--sd-sizing-20, 5rem);
  --sizing-24: var(--sd-sizing-24, 6rem);
  --sizing-2: var(--sd-sizing-2, 0.5rem);
  --sizing-2\.5: var(--sd-sizing-2\.5, 0.625rem);
  --sizing-3: var(--sd-sizing-3, 0.75rem);
  --sizing-4: var(--sd-sizing-4, 1rem);
  --sizing-5: var(--sd-sizing-5, 1.25rem);
  --sizing-6: var(--sd-sizing-6, 1.5rem);
  --sizing-8: var(--sd-sizing-8, 2rem);
  --sizing-varspacing: var(--tw-varspacing);
  --spacing-0\.25: var(--sd-spacing-0\.25, 0.0625rem);
  --spacing-0\.5: var(--sd-spacing-0\.5, 0.125rem);
  --spacing-10: var(--sd-spacing-10, 2.5rem);
  --spacing-12: var(--sd-spacing-12, 3rem);
  --spacing-14: var(--sd-spacing-14, 3.5rem);
  --spacing-16: var(--sd-spacing-16, 4rem);
  --spacing-1: var(--sd-spacing-1, 0.25rem);
  --spacing-1\.5: var(--sd-spacing-1\.5, 0.375rem);
  --spacing-20: var(--sd-spacing-20, 5rem);
  --spacing-24: var(--sd-spacing-24, 6rem);
  --spacing-2: var(--sd-spacing-2, 0.5rem);
  --spacing-2\.5: var(--sd-spacing-2\.5, 0.625rem);
  --spacing-32: var(--sd-spacing-32, 8rem);
  --spacing-3: var(--sd-spacing-3, 0.75rem);
  --spacing-40: var(--sd-spacing-40, 10rem);
  --spacing-4: var(--sd-spacing-4, 1rem);
  --spacing-6: var(--sd-spacing-6, 1.5rem);
  --spacing-8: var(--sd-spacing-8, 2rem);
  --spacing-varspacing: var(--tw-varspacing);
  --spacing: var(--sd-spacing-1, 0.25rem);
  --text-2xl: var(--sd-text-2xl, 1.75rem);
  --text-3xl: var(--sd-text-3xl, 2rem);
  --text-4xl: var(--sd-text-4xl, 2.5rem);
  --text-base: var(--sd-text-base, 1rem);
  --text-color-accent: rgba(var(--sd-color-text-accent, 45 157 0));
  --text-color-black: rgba(var(--sd-color-text-black, 24 24 24));
  --text-color-error: rgba(var(--sd-color-text-error, 204 25 55));
  --text-color-neutral-500: rgba(var(--sd-color-text-neutral-500, 174 174 174));
  --text-color-neutral-600: rgba(var(--sd-color-text-neutral-600, 136 136 136));
  --text-color-neutral-700: rgba(var(--sd-color-text-neutral-700, 104 104 104));
  --text-color-primary-100: rgba(var(--sd-color-text-primary-100, 236 240 249));
  --text-color-primary-200: rgba(var(--sd-color-text-primary-200, 224 233 243));
  --text-color-primary-400: rgba(var(--sd-color-text-primary-400, 153 171 208));
  --text-color-primary-500: rgba(var(--sd-color-text-primary-500, 70 109 175));
  --text-color-primary-800: rgba(var(--sd-color-text-primary-800, 5 21 48));
  --text-color-primary: rgba(var(--sd-color-text-primary, 0 53 142));
  --text-color-success: rgba(var(--sd-color-text-success, 54 123 40));
  --text-color-white: rgba(var(--sd-color-text-white, 255 255 255));
  --text-lg: var(--sd-text-lg, 1.25rem);
  --text-sm: var(--sd-text-sm, 0.875rem);
  --text-xl: var(--sd-text-xl, 1.5rem);
  --text-xs: var(--sd-text-xs, 0.75rem);
  --transition-duration-fast: var(--sd-duration-fast, 150ms);
  --transition-duration-medium: var(--sd-duration-medium, 300ms);
  --transition-duration-slow: var(--sd-duration-slow, 500ms);
  --transition-duration-x-slow: var(--sd-duration-x-slow, 750ms);
  @keyframes bounce-once {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-18px);
    }
    100% {
      transform: translateY(0);
    }
  }
  @keyframes grow {
    0% {
      width: 0%;
    }
    100% {
      width: 100%;
    }
  }
  @keyframes loader-color-current {
    0%, 100% {
      color: currentColor;
    }
    50% {
      color: currentColor;
      opacity: 20%;
    }
  }
  @keyframes loader-color-primary {
    0%, 100% {
      color: rgba(var(--sd-color-icon-fill-primary, rgba(var(--sd-color-primary))));
    }
    50% {
      color: rgba(var(--sd-color-icon-fill-primary, rgba(var(--sd-color-primary))));
      opacity: 20%;
    }
  }
  @keyframes loader-color-white {
    0%, 100% {
      color: rgba(var(--sd-color-icon-fill-white, rgba(var(--sd-color-white))));
    }
    50% {
      color: rgba(var(--sd-color-icon-fill-white, rgba(var(--sd-color-white))));
      opacity: 20%;
    }
  }
  @keyframes wave {
    0%, 40%, 100% {
      transform: initial;
    }
    20% {
      transform: translateY(-4px);
    }
  }
}

@utility z-10 {
  z-index: 10;
}

@utility z-20 {
  z-index: 20;
}

@utility z-30 {
  z-index: 30;
}

@utility z-40 {
  z-index: 40;
}

@utility z-50 {
  z-index: 50;
}

@utility z-alert-group {
  z-index: var(--sd-z-index-alert-group, 950);
}

@utility z-auto {
  z-index: auto;
}

@utility z-dialog {
  z-index: var(--sd-z-index-dialog, 800);
}

@utility z-drawer {
  z-index: var(--sd-z-index-drawer, 700);
}

@utility z-dropdown {
  z-index: var(--sd-z-index-dropdown, 900);
}

@utility z-header {
  z-index: var(--sd-z-index-header, 600);
}

@utility z-tooltip {
  z-index: var(--sd-z-index-tooltip, 1000);
}

@utility varspacing-* {
  --tw-varspacing: --value(--spacing-*);
}

@utility focus-outline {
  outline-style: solid;
  outline-offset: 2px;
  outline-width: 2px;
  outline-color: var(--outline-color-primary);
}

@utility focus-outline-inverted {
  outline-style: solid;
  outline-offset: 2px;
  outline-width: 2px;
  outline-color: var(--outline-color-white);
}