@layer theme, base, components, utilities;

@import 'tailwindcss/theme';
@import 'tailwindcss/utilities';

@custom-variant hover (&:hover:not([disabled]));
@custom-variant focus (&:focus:not([disabled]));
@custom-variant active (&:active:not([disabled]));

@theme inline {
  --animate-bounce-once: bounce-once var(--sd-duration-medium, 300ms) ease-in-out;
  --animate-grow: grow linear;
  --animate-loader-current: wave 1.3s infinite, loader-color-current 2.6s infinite;
  --animate-loader-primary: wave 1.3s infinite, loader-color-primary 2.6s infinite;
  --animate-loader-white: wave 1.3s infinite, loader-color-white 2.6s infinite;
  --aspect-16\/10: var(--sd-aspect-16\/10);
  --aspect-21\/9: var(--sd-aspect-21\/9);
  --aspect-2\/1: var(--sd-aspect-2\/1);
  --aspect-3\/2: var(--sd-aspect-3\/2);
  --aspect-3\/4: var(--sd-aspect-3\/4);
  --aspect-4\/3: var(--sd-aspect-4\/3);
  --aspect-4\/5: var(--sd-aspect-4\/5);
  --aspect-5\/4: var(--sd-aspect-5\/4);
  --aspect-6\/5: var(--sd-aspect-6\/5);
  --aspect-golden-ratio: var(--sd-aspect-golden-ratio);
  --aspect-square: var(--sd-aspect-square);
  --aspect-video: var(--sd-aspect-video);
  --font-weight-bold: var(--sd-font-weight-bold);
  --font-weight-normal: var(--sd-font-weight-normal);
  --outline-color-error: var(--sd-border-color-error, var(--sd-color-error));
  --outline-color-primary: var(--sd-border-color-primary, var(--sd-color-primary));
  --sizing-varspacing: var(--tw-varspacing);
  --spacing-varspacing: var(--tw-varspacing);
  --text-2xl: var(--sd-text-2xl);
  --text-3xl: var(--sd-text-3xl);
  --text-4xl: var(--sd-text-4xl);
  --text-base: var(--sd-text-base);
  --text-lg: var(--sd-text-lg);
  --text-sm: var(--sd-text-sm);
  --text-xl: var(--sd-text-xl);
  --transition-duration-fast: var(--sd-duration-fast, 150ms);
  --transition-duration-medium: var(--sd-duration-medium, 300ms);
  --transition-duration-slow: var(--sd-duration-slow, 500ms);
  --transition-duration-x-slow: var(--sd-duration-x-slow, 750ms);
  @keyframes bounce-once {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-18px);
    }
    100% {
      transform: translateY(0);
    }
  }
  @keyframes grow {
    0% {
      width: 0%;
    }
    100% {
      width: 100%;
    }
  }
  @keyframes loader-color-current {
    0%, 100% {
      color: currentColor;
    }
    50% {
      color: currentColor;
      opacity: 20%;
    }
  }
  @keyframes loader-color-primary {
    0%, 100% {
      color: var(--sd-color-icon-fill-primary, var(--sd-color-primary));
    }
    50% {
      color: var(--sd-color-icon-fill-primary, var(--sd-color-primary));
      opacity: 20%;
    }
  }
  @keyframes loader-color-white {
    0%, 100% {
      color: var(--sd-color-icon-fill-white, var(--sd-color-white));;
    }
    50% {
      color: var(--sd-color-icon-fill-white, var(--sd-color-white));;
      opacity: 20%;
    }
  }
  @keyframes wave {
    0%, 40%, 100% {
      transform: initial;
    }
    20% {
      transform: translateY(-4px);
    }
  }
}

@utility z-10 {
  z-index: 10;
}

@utility z-20 {
  z-index: 20;
}

@utility z-30 {
  z-index: 30;
}

@utility z-40 {
  z-index: 40;
}

@utility z-50 {
  z-index: 50;
}

@utility z-alert-group {
  z-index: var(--sd-z-index-alert-group, 950);
}

@utility z-auto {
  z-index: auto;
}

@utility z-dialog {
  z-index: var(--sd-z-index-dialog, 800);
}

@utility z-drawer {
  z-index: var(--sd-z-index-drawer, 700);
}

@utility z-dropdown {
  z-index: var(--sd-z-index-dropdown, 900);
}

@utility z-header {
  z-index: var(--sd-z-index-header, 600);
}

@utility z-tooltip {
  z-index: var(--sd-z-index-tooltip, 1000);
}

@utility varspacing-* {
  --tw-varspacing: --value(--spacing-*);
}

@utility focus-outline {
  outline-style: solid;
  outline-offset: 2px;
  outline-width: 2px;
  outline-color: var(--outline-color-primary);
}

@utility focus-outline-inverted {
  outline-style: solid;
  outline-offset: 2px;
  outline-width: 2px;
  outline-color: var(--outline-color-white);
}