.sd-footnote {
  &--reset {
    counter-reset: footnote;
  }

  @apply text-neutral-700 text-sm flex gap-2;

  &--number {
    &::before {
      counter-increment: footnote;
      content: counter(footnote);
    }

    content: counter(footnote);
  }
}
