.sd-footnote {
  &--reset {
    counter-reset: footnote;
  }

  @apply text-neutral-700 text-sm;

  &--number {
    @apply flex gap-2;

    &::before {
      font-size: 10px;
      counter-increment: footnote;
      content: counter(footnote);
    }
  }
}
