.sd-footnote {
  &--reset {
    counter-reset: footnote;
  }

  @apply text-neutral-700 text-sm;

  &--number {
    @apply flex gap-2;

    &::before {
      @apply w-5 leading-normal;
      counter-increment: footnote;
      content: counter(footnote);

      padding-top: 1px;
      font-size: 10px;
    }
  }
}
