
:root, .sd-theme-ui-light {
  color-scheme: light;

  --sd-theme: 'ui-light';
  --sd-accordion-border-width: var(--sd-spacing-0\.25);
  --sd-accordion-color-background: var(--sd-color-white);
  --sd-accordion-color-text: var(--sd-color-primary);
  --sd-accordion-padding-block: var(--sd-spacing-3);
  --sd-accordion__chevron-color-text: var(--sd-color-primary);
  --sd-accordion__indicator-color: var(--sd-color-accent);
  --sd-aspect-16\/10: 16 / 10;
  --sd-aspect-21\/9: 21 / 9;
  --sd-aspect-2\/1: 2 / 1;
  --sd-aspect-3\/2: 3 / 2;
  --sd-aspect-3\/4: 3 / 4;
  --sd-aspect-4\/3: 4 / 3;
  --sd-aspect-4\/5: 4 / 5;
  --sd-aspect-5\/4: 5 / 4;
  --sd-aspect-6\/5: 6 / 5;
  --sd-aspect-golden-ratio: 1.6180339887498948482 / 1;
  --sd-aspect-square: 1 / 1;
  --sd-aspect-video: 16 / 9;
  --sd-audio--inverted-color-border: var(--sd-color-white);
  --sd-audio__timestamp-color-text: var(--sd-color-black);
  --sd-border-width-2: 0.125rem;
  --sd-border-width-4: 0.25rem;
  --sd-border-width-6: 0.375rem;
  --sd-border-width: 0.0625rem;
  --sd-brandshape--neutral-100-color-background: var(--sd-color-neutral-100);
  --sd-brandshape--neutral-100-color-border: rgba(255, 255, 255, 0);
  --sd-brandshape--white-color-background: var(--sd-color-white);
  --sd-breadcrumb__separator-color: var(--sd-color-neutral-400);
  --sd-button--primary--active-color-text: var(--sd-color-primary-200);
  --sd-button--primary--default-color-background: var(--sd-color-primary);
  --sd-button--primary--default-color-text: var(--sd-color-white);
  --sd-button--primary--hover-color-background: var(--sd-color-primary-500);
  --sd-button--primary--inverted--active-color-text: var(--sd-color-primary-800);
  --sd-button--primary--inverted--default-color-background: var(--sd-color-white);
  --sd-button--primary--inverted--default-color-text: var(--sd-color-primary);
  --sd-button--primary--inverted--hover-color-background: var(--sd-color-primary-100);
  --sd-button--primary--inverted--hover-color-text: var(--sd-color-primary-500);
  --sd-button--secondary--active-color-background: var(--sd-color-primary-100);
  --sd-button--secondary--hover-color-background: var(--sd-color-primary-200);
  --sd-button--secondary--inverted--active-color-background: var(--sd-color-primary-800);
  --sd-button--secondary--inverted--hover-color-text: var(--sd-color-primary-100);
  --sd-button--size-lg-border-radius: var(--sd-spacing-1);
  --sd-button--size-lg-font-size: var(--sd-spacing-4);
  --sd-button--size-lg-padding-block: var(--sd-spacing-3);
  --sd-button--size-md-border-radius: var(--sd-spacing-1);
  --sd-button--size-md-font-size: var(--sd-spacing-4);
  --sd-button--size-md-padding-block: var(--sd-spacing-2);
  --sd-button--tertiary--active-color-background: var(--sd-color-primary-200);
  --sd-button--tertiary--hover-color-background: var(--sd-color-primary-100);
  --sd-button--tertiary--inverted--active-color-background: var(--sd-color-primary-800);
  --sd-button--tertiary--inverted--hover-color-text: var(--sd-color-primary-100);
  --sd-color-accent-100: #b6dfaa;
  --sd-color-accent-200: #8ed082;
  --sd-color-accent-300: #6cc254;
  --sd-color-accent-400: #2d9d00;
  --sd-color-accent-500: #25880e;
  --sd-color-accent-550: #367b28;
  --sd-color-accent-600: #316f24;
  --sd-color-accent-700: #215725;
  --sd-color-accent-800: #19411b;
  --sd-color-accent: #2d9d00;
  --sd-color-background-accent-300: var(--sd-color-accent-300);
  --sd-color-background-accent-500: var(--sd-color-accent-500);
  --sd-color-background-accent-550: var(--sd-color-success);
  --sd-color-background-accent-700: var(--sd-color-accent-700);
  --sd-color-background-accent: var(--sd-color-accent);
  --sd-color-background-error-400: var(--sd-color-error-400);
  --sd-color-background-error: var(--sd-color-error);
  --sd-color-background-info: var(--sd-color-info);
  --sd-color-background-neutral-100: var(--sd-color-neutral-100);
  --sd-color-background-neutral-200: var(--sd-color-neutral-200);
  --sd-color-background-neutral-300: var(--sd-color-neutral-300);
  --sd-color-background-neutral-400: var(--sd-color-neutral-400);
  --sd-color-background-neutral-500: var(--sd-color-neutral-500);
  --sd-color-background-neutral-600: var(--sd-color-neutral-600);
  --sd-color-background-neutral-800: var(--sd-color-neutral-800);
  --sd-color-background-primary-100: var(--sd-color-primary-100);
  --sd-color-background-primary-200: var(--sd-color-primary-200);
  --sd-color-background-primary-300: var(--sd-color-primary-300);
  --sd-color-background-primary-500: var(--sd-color-primary-500);
  --sd-color-background-primary-800: var(--sd-color-primary-800);
  --sd-color-background-primary: var(--sd-color-primary);
  --sd-color-background-success: var(--sd-color-success);
  --sd-color-background-warning: var(--sd-color-warning);
  --sd-color-background-white: var(--sd-color-white);
  --sd-color-black: #181818;
  --sd-color-border-accent-550: var(--sd-color-success);
  --sd-color-border-accent: var(--sd-color-accent);
  --sd-color-border-error-400: var(--sd-color-error-400);
  --sd-color-border-error: var(--sd-color-error);
  --sd-color-border-neutral-400: var(--sd-color-neutral-400);
  --sd-color-border-neutral-500: var(--sd-color-neutral-500);
  --sd-color-border-neutral-600: var(--sd-color-neutral-600);
  --sd-color-border-neutral-800: var(--sd-color-neutral-800);
  --sd-color-border-primary-100: var(--sd-color-primary-100);
  --sd-color-border-primary-200: var(--sd-color-primary-200);
  --sd-color-border-primary-400: var(--sd-color-primary-400);
  --sd-color-border-primary-500: var(--sd-color-primary-500);
  --sd-color-border-primary-800: var(--sd-color-primary-800);
  --sd-color-border-primary: var(--sd-color-primary);
  --sd-color-border-success: var(--sd-color-success);
  --sd-color-border-white: var(--sd-color-white);
  --sd-color-error-300: #cc1937;
  --sd-color-error-400: #ac1938;
  --sd-color-error: #cc1937;
  --sd-color-icon-fill-accent-550: var(--sd-color-success);
  --sd-color-icon-fill-accent: var(--sd-color-accent);
  --sd-color-icon-fill-error-400: var(--sd-color-error-400);
  --sd-color-icon-fill-error: var(--sd-color-error);
  --sd-color-icon-fill-neutral-400: var(--sd-color-neutral-400);
  --sd-color-icon-fill-neutral-500: var(--sd-color-neutral-500);
  --sd-color-icon-fill-neutral-600: var(--sd-color-neutral-600);
  --sd-color-icon-fill-neutral-800: var(--sd-color-neutral-800);
  --sd-color-icon-fill-primary-100: var(--sd-color-primary-100);
  --sd-color-icon-fill-primary-200: var(--sd-color-primary-200);
  --sd-color-icon-fill-primary-400: var(--sd-color-primary-400);
  --sd-color-icon-fill-primary-500: var(--sd-color-primary-500);
  --sd-color-icon-fill-primary-800: var(--sd-color-primary-800);
  --sd-color-icon-fill-primary: var(--sd-color-primary);
  --sd-color-icon-fill-risk-high: var(--sd-color-risk-high);
  --sd-color-icon-fill-risk-increased: var(--sd-color-risk-increased);
  --sd-color-icon-fill-risk-low: var(--sd-color-risk-low);
  --sd-color-icon-fill-risk-moderate: var(--sd-color-risk-moderate);
  --sd-color-icon-fill-risk-veryhigh: var(--sd-color-risk-veryhigh);
  --sd-color-icon-fill-success: var(--sd-color-success);
  --sd-color-icon-fill-white: var(--sd-color-white);
  --sd-color-info: #1582d5;
  --sd-color-neutral-100: #f6f6f6;
  --sd-color-neutral-200: #e9e9e9;
  --sd-color-neutral-300: #dadada;
  --sd-color-neutral-400: #c3c3c3;
  --sd-color-neutral-500: #aeaeae;
  --sd-color-neutral-600: #888888;
  --sd-color-neutral-700: #686868;
  --sd-color-neutral-800: #515151;
  --sd-color-primary-100: #ecf0f9;
  --sd-color-primary-200: #e0e9f3;
  --sd-color-primary-300: #c8d5e7;
  --sd-color-primary-400: #99abd0;
  --sd-color-primary-500: #466daf;
  --sd-color-primary-600: #00358e;
  --sd-color-primary-700: #132e6e;
  --sd-color-primary-750: #0a204a;
  --sd-color-primary-800: #051530;
  --sd-color-primary-900: #020920;
  --sd-color-primary: #00358e;
  --sd-color-risk-high: #fa9b1e;
  --sd-color-risk-increased: #fff000;
  --sd-color-risk-low: #017dc3;
  --sd-color-risk-moderate: #00a593;
  --sd-color-risk-veryhigh: #ff0000;
  --sd-color-success: #367b28;
  --sd-color-text-accent: var(--sd-color-accent);
  --sd-color-text-black: var(--sd-color-black);
  --sd-color-text-error: var(--sd-color-error);
  --sd-color-text-neutral-500: var(--sd-color-neutral-500);
  --sd-color-text-neutral-600: var(--sd-color-neutral-600);
  --sd-color-text-neutral-700: var(--sd-color-neutral-700);
  --sd-color-text-primary-100: var(--sd-color-primary-100);
  --sd-color-text-primary-200: var(--sd-color-primary-200);
  --sd-color-text-primary-400: var(--sd-color-primary-400);
  --sd-color-text-primary-500: var(--sd-color-primary-500);
  --sd-color-text-primary-800: var(--sd-color-primary-800);
  --sd-color-text-primary: var(--sd-color-primary);
  --sd-color-text-success: var(--sd-color-success);
  --sd-color-text-white: var(--sd-color-white);
  --sd-color-warning: #bb8d20;
  --sd-color-white: #ffffff;
  --sd-drop-shadow-sm:  0.5px 0.5px 1.5px #515151;
  --sd-drop-shadow:  0px 1px 3px rgba(81, 81, 81, 0.75);
  --sd-flag--neutral-500-color-background: var(--sd-color-neutral-500);
  --sd-font-primary: 'Frutiger Neue fuer UI Web';
  --sd-font-weight-bold: 700;
  --sd-font-weight-normal: 400;
  --sd-footnotes--target--inverted-color-background: var(--sd-color-primary-800);
  --sd-form-control-color-border: var(--sd-color-neutral-800);
  --sd-header-color-background: var(--sd-color-white);
  --sd-header-padding-bottom: 0;
  --sd-informational-gradient--primary-800-color-background: var(--sd-color-primary-800);
  --sd-informational-gradient--white-color-background: var(--sd-color-white);
  --sd-interactive--active-color-text: var(--sd-color-primary-800);
  --sd-loader--neutral-500-color-icon-fill: var(--sd-color-neutral-500);
  --sd-loader--neutral-600-color-icon-fill: var(--sd-color-neutral-600);
  --sd-navigable-border-radius: 0;
  --sd-navigable-font-size: var(--sd-spacing-4);
  --sd-navigable__current-indicator-border-radius: 0;
  --sd-navigable__current-indicator-height: var(--sd-spacing-1);
  --sd-navigable__current-indicator-width: var(--sd-spacing-1);
  --sd-navigation--current-color-text: var(--sd-color-primary);
  --sd-navigation-color-text: var(--sd-color-primary);
  --sd-opacity-0: 0%;
  --sd-opacity-100: 100%;
  --sd-opacity-10: 10%;
  --sd-opacity-20: 20%;
  --sd-opacity-30: 30%;
  --sd-opacity-50: 50%;
  --sd-opacity-55: 55%;
  --sd-opacity-5: 5%;
  --sd-opacity-60: 60%;
  --sd-opacity-70: 70%;
  --sd-opacity-75: 75%;
  --sd-opacity-80: 80%;
  --sd-opacity-85: 85%;
  --sd-opacity-90: 90%;
  --sd-overlay-color-background: rgba(5, 21, 48, 0.9);
  --sd-panel-color-border: rgba(255, 255, 255, 0);
  --sd-radius-full: 624.9375rem;
  --sd-radius-lg: 0.5rem;
  --sd-radius-md: 0.375rem;
  --sd-radius-none: 0;
  --sd-radius-sm: 0.125rem;
  --sd-radius: 0.25rem;
  --sd-shadow-sm:  0.5px 0.5px 1.5px 0px #515151;
  --sd-shadow:  0px 1px 3px 0px rgba(81, 81, 81, 0.75);
  --sd-sizing-10: 2.5rem;
  --sd-sizing-12: 3rem;
  --sd-sizing-16: 4rem;
  --sd-sizing-20: 5rem;
  --sd-sizing-24: 6rem;
  --sd-sizing-2: 0.5rem;
  --sd-sizing-2\.5: 0.625rem;
  --sd-sizing-3: 0.75rem;
  --sd-sizing-4: 1rem;
  --sd-sizing-5: 1.25rem;
  --sd-sizing-6: 1.5rem;
  --sd-sizing-8: 2rem;
  --sd-spacing-0\.25: 0.0625rem;
  --sd-spacing-0\.5: 0.125rem;
  --sd-spacing-10: 2.5rem;
  --sd-spacing-12: 3rem;
  --sd-spacing-16: 4rem;
  --sd-spacing-1: 0.25rem;
  --sd-spacing-1\.5: 0.375rem;
  --sd-spacing-20: 5rem;
  --sd-spacing-24: 6rem;
  --sd-spacing-2: 0.5rem;
  --sd-spacing-32: 8rem;
  --sd-spacing-3: 0.75rem;
  --sd-spacing-40: 10rem;
  --sd-spacing-4: 1rem;
  --sd-spacing-6: 1.5rem;
  --sd-spacing-8: 2rem;
  --sd-tag--selected--default-color-background: var(--sd-color-primary);
  --sd-tag--selected--default-color-text: var(--sd-color-white);
  --sd-text-2xl: 1.75rem;
  --sd-text-3xl: 2rem;
  --sd-text-4xl: 2.5rem;
  --sd-text-base: 1rem;
  --sd-text-lg: 1.25rem;
  --sd-text-sm: 0.875rem;
  --sd-text-xl: 1.5rem;
}
