**/.cache
**/dist
**/node_modules
packages/components/cdn
packages/components/cdn-versioned
packages/components/custom-elements-manifest.config.js
packages/components/declaration.d.ts
packages/components/dist
packages/components/dist-versioned
packages/components/examples
packages/components/scripts
packages/components/src/_components
packages/components/src/react
packages/docs/custom-elements-manifest.config.ts
packages/docs/scripts
packages/docs/src/stories
packages/placeholders/types/
packages/theming/types/
