**/.cache
**/dist
packages/components/examples
**/node_modules
packages/components/src/react
packages/components/src/_components
packages/components/scripts
packages/components/custom-elements-manifest.config.ts
packages/theming/types/
