.sd-copyright {
  @apply relative;

  &::after {
    @apply block absolute pb-2 pl-4 bottom-0 left-0 text-white text-sm w-full;
    content: var(--copyright);
    text-shadow: 0 1px 3px #515151bf;
  }

  &--variant {
    &-vertical {
      &::after {
        @apply pl-2;
        writing-mode: vertical-rl;
        transform: rotate(180deg);
      }
    }
  }
}
