.sd-list {
  &--inverted {
    @apply text-white;
  }

  &:is(ol) {
    & ol {
      counter-reset: item;
    }

    & li {
      @apply table;
      counter-increment: item;
    }

    & li:before {
      @apply pr-1 table-cell;
      content: counters(item, '.') '. ';
    }

    & li li:before {
      content: counters(item, '.') ' ';
    }
  }

  &:is(ul):not(.sd-list--icon) {
    @apply text-left list-disc pl-4;

    & ul {
      list-style-type: '·';
    }

    & ul ul {
      list-style-type: '-';
    }

    & li li {
      @apply pl-2;
    }
  }

  &:is(.sd-list--icon) {
    @apply list-none text-left;

    & ul {
      @apply ml-8;
    }

    &.sd-list--horizontal {
      @apply flex;

      & li {
        @apply flex;
      }

      & li:not(:last-child) {
        @apply mr-8;
      }
    }
  }
}
