:root, .sd-theme-kid {
  color-scheme: light;

  --sd-theme: 'kid';
  --sd-accordion-border-width: var(--sd-spacing-0\.5);
  --sd-accordion-color-background: var(--sd-color-accent);
  --sd-accordion-color-text: var(--sd-color-black);
  --sd-accordion-padding-block: var(--sd-spacing-4);
  --sd-accordion__chevron-color-text: var(--sd-color-neutral-600);
  --sd-accordion__indicator-color: 255, 255, 255, 0;
  --sd-aspect-16\/10: 16 / 10;
  --sd-aspect-21\/9: 21 / 9;
  --sd-aspect-2\/1: 2 / 1;
  --sd-aspect-3\/2: 3 / 2;
  --sd-aspect-3\/4: 3 / 4;
  --sd-aspect-4\/3: 4 / 3;
  --sd-aspect-4\/5: 4 / 5;
  --sd-aspect-5\/4: 5 / 4;
  --sd-aspect-6\/5: 6 / 5;
  --sd-aspect-golden-ratio: 1.6180339887498948482 / 1;
  --sd-aspect-square: 1 / 1;
  --sd-aspect-video: 16 / 9;
  --sd-audio--inverted-color-border: var(--sd-color-white);
  --sd-audio__slide-bar--inverted-color-border: 255, 255, 255, 0.5;
  --sd-audio__timestamp-color-text: var(--sd-color-black);
  --sd-badge--blue--inverted-color-background: var(--sd-color-white);
  --sd-badge--blue--inverted-color-text: var(--sd-color-primary-800);
  --sd-badge--green-color--inverted-background: var(--sd-color-white);
  --sd-badge--green-color--inverted-text: var(--sd-color-primary-800);
  --sd-badge--green-color-background: var(--sd-color-success);
  --sd-badge--inverted-color-border: var(--sd-color-black);
  --sd-badge--red--inverted-background: var(--sd-color-white);
  --sd-badge--red--inverted-text: var(--sd-color-primary-800);
  --sd-badge--red-color-background: var(--sd-color-error);
  --sd-border-width-2: 0.125rem;
  --sd-border-width-4: 0.25rem;
  --sd-border-width-6: 0.375rem;
  --sd-border-width: 0.0625rem;
  --sd-brandshape--neutral-100-color-background: var(--sd-color-neutral-100);
  --sd-brandshape--white-color-background: var(--sd-color-accent);
  --sd-breadcrumb__separator-color: var(--sd-color-neutral-200);
  --sd-button--cta--inverted--active-color-background: var(--sd-color-accent);
  --sd-button--cta--inverted--active-color-text: var(--sd-color-neutral-800);
  --sd-button--cta--inverted--default-color-background: var(--sd-color-accent);
  --sd-button--cta--inverted--default-color-text: var(--sd-color-black);
  --sd-button--cta--inverted--hover-color-background: var(--sd-color-accent);
  --sd-button--cta--inverted--hover-color-text: var(--sd-color-neutral-800);
  --sd-button--inverted--disabled-color-background: var(--sd-color-neutral-700);
  --sd-button--inverted--disabled-color-border: var(--sd-color-neutral-700);
  --sd-button--inverted--disabled-color-text: var(--sd-color-neutral-700);
  --sd-button--primary--active-color-text: var(--sd-color-accent);
  --sd-button--primary--default-color-background: var(--sd-color-black);
  --sd-button--primary--default-color-text: var(--sd-color-accent);
  --sd-button--primary--hover-color-background: var(--sd-color-neutral-900);
  --sd-button--primary--inverted--active-color-background: var(--sd-color-accent);
  --sd-button--primary--inverted--active-color-text: var(--sd-color-neutral-800);
  --sd-button--primary--inverted--default-color-background: var(--sd-color-accent);
  --sd-button--primary--inverted--default-color-text: var(--sd-color-black);
  --sd-button--primary--inverted--hover-color-background: var(--sd-color-accent);
  --sd-button--primary--inverted--hover-color-text: var(--sd-color-neutral-900);
  --sd-button--secondary--active-color-background: 247, 242, 236, 0;
  --sd-button--secondary--hover-color-background: 247, 242, 236, 0;
  --sd-button--secondary--inverted--active-color-background: 247, 242, 236, 0;
  --sd-button--secondary--inverted--hover-color-background: 247, 242, 236, 0;
  --sd-button--secondary--inverted--hover-color-text: var(--sd-color-accent);
  --sd-button--size-lg-border-radius: 624.9375rem;
  --sd-button--size-lg-font-size: 0.875rem;
  --sd-button--size-lg-padding-block: 0.625rem;
  --sd-button--size-md-border-radius: 624.9375rem;
  --sd-button--size-md-font-size: 0.875rem;
  --sd-button--size-md-padding-block: 0.625rem;
  --sd-button--size-sm-border-radius: 624.9375rem;
  --sd-button--size-sm-font-size: var(--sd-spacing-3);
  --sd-button--size-sm-padding-block: 0.625rem;
  --sd-button--tertiary--active-color-background: 247, 242, 236, 0;
  --sd-button--tertiary--hover-color-background: 247, 242, 236, 0;
  --sd-button--tertiary--inverted--active-color-background: 247, 242, 236, 0;
  --sd-button--tertiary--inverted--hover-color-background: 247, 242, 236, 0;
  --sd-button--tertiary--inverted--hover-color-text: var(--sd-color-accent);
  --sd-button-font-weight: var(--sd-font-weight-bold);
  --sd-carousel--active-color-icon-fill: var(--sd-color-black);
  --sd-carousel__pager-dot-border-width: var(--sd-spacing-0\.5);
  --sd-checkbox-border-width: var(--sd-spacing-0\.25);
  --sd-chip--primary-200-color-background: 255, 255, 255, 0.6;
  --sd-chip--primary-200-color-border: 255, 255, 255, 0;
  --sd-chip--primary-300-color-background: 255, 255, 255, 0.6;
  --sd-chip--primary-300-color-border: 255, 255, 255, 0;
  --sd-chip--primary-500-color-background: 255, 255, 255, 0.6;
  --sd-chip--primary-500-color-border: 255, 255, 255, 0;
  --sd-chip--primary-500-color-text: var(--sd-color-black);
  --sd-chip--white-color-background: 251, 251, 251, 0.6;
  --sd-chip--white-color-border: 255, 255, 255, 0;
  --sd-chip-border-radius: 624.9375rem;
  --sd-chip-border-width: 0;
  --sd-chip-font-size: var(--sd-spacing-3);
  --sd-chip-font-weight: var(--sd-font-weight-bold);
  --sd-color-accent-100: 247, 242, 236;
  --sd-color-accent-200: 249, 224, 208;
  --sd-color-accent-300: 251, 207, 180;
  --sd-color-accent-400: 252, 189, 150;
  --sd-color-accent-500: 250, 143, 79;
  --sd-color-accent-550: 250, 143, 79;
  --sd-color-accent-600: 214, 113, 56;
  --sd-color-accent-700: 146, 80, 32;
  --sd-color-accent-800: 143, 60, 19;
  --sd-color-accent: 247, 242, 236;
  --sd-color-background-accent-300: var(--sd-color-neutral-800);
  --sd-color-background-accent-500: var(--sd-color-neutral-800);
  --sd-color-background-accent-550: var(--sd-color-neutral-700);
  --sd-color-background-accent-700: var(--sd-color-neutral-800);
  --sd-color-background-accent: var(--sd-color-black);
  --sd-color-background-error-400: var(--sd-color-error);
  --sd-color-background-error: var(--sd-color-error);
  --sd-color-background-info: var(--sd-color-info);
  --sd-color-background-neutral-100: var(--sd-color-neutral-100);
  --sd-color-background-neutral-200: var(--sd-color-neutral-100);
  --sd-color-background-neutral-300: var(--sd-color-neutral-200);
  --sd-color-background-neutral-400: var(--sd-color-neutral-300);
  --sd-color-background-neutral-500: var(--sd-color-neutral-400);
  --sd-color-background-neutral-600: var(--sd-color-neutral-600);
  --sd-color-background-neutral-800: var(--sd-color-neutral-800);
  --sd-color-background-primary-100: var(--sd-color-neutral-100);
  --sd-color-background-primary-200: var(--sd-color-neutral-200);
  --sd-color-background-primary-300: var(--sd-color-neutral-800);
  --sd-color-background-primary-500: var(--sd-color-neutral-800);
  --sd-color-background-primary-800: var(--sd-color-neutral-800);
  --sd-color-background-primary: var(--sd-color-black);
  --sd-color-background-success: var(--sd-color-success);
  --sd-color-background-warning: var(--sd-color-warning);
  --sd-color-background-white: var(--sd-color-accent);
  --sd-color-background: 0, 102, 179, 0.05;
  --sd-color-black: 5, 21, 48;
  --sd-color-border-accent-550: var(--sd-color-neutral-800);
  --sd-color-border-accent: var(--sd-color-black);
  --sd-color-border-error-400: var(--sd-color-error);
  --sd-color-border-error: var(--sd-color-error);
  --sd-color-border-neutral-400: var(--sd-color-neutral-400);
  --sd-color-border-neutral-500: var(--sd-color-neutral-500);
  --sd-color-border-neutral-600: var(--sd-color-neutral-600);
  --sd-color-border-neutral-800: var(--sd-color-neutral-800);
  --sd-color-border-primary-100: var(--sd-color-neutral-100);
  --sd-color-border-primary-200: var(--sd-color-neutral-200);
  --sd-color-border-primary-400: var(--sd-color-neutral-400);
  --sd-color-border-primary-500: var(--sd-color-neutral-800);
  --sd-color-border-primary-800: var(--sd-color-neutral-800);
  --sd-color-border-primary: var(--sd-color-black);
  --sd-color-border-success: var(--sd-color-success);
  --sd-color-border-white: var(--sd-color-accent);
  --sd-color-error-250: 255, 57, 28;
  --sd-color-error-300: 255, 57, 28;
  --sd-color-error-400: 255, 57, 28;
  --sd-color-error-500: 255, 57, 28;
  --sd-color-error: 255, 57, 28;
  --sd-color-icon-fill-accent-550: var(--sd-color-accent-550);
  --sd-color-icon-fill-accent: var(--sd-color-accent);
  --sd-color-icon-fill-error-400: var(--sd-color-error);
  --sd-color-icon-fill-error: var(--sd-color-error);
  --sd-color-icon-fill-neutral-400: var(--sd-color-neutral-200);
  --sd-color-icon-fill-neutral-500: var(--sd-color-neutral-400);
  --sd-color-icon-fill-neutral-600: 255, 255, 255, 0.4;
  --sd-color-icon-fill-neutral-800: var(--sd-color-neutral-800);
  --sd-color-icon-fill-primary-100: var(--sd-color-accent);
  --sd-color-icon-fill-primary-200: var(--sd-color-accent);
  --sd-color-icon-fill-primary-400: 255, 255, 255, 0.84;
  --sd-color-icon-fill-primary-500: var(--sd-color-neutral-800);
  --sd-color-icon-fill-primary-800: var(--sd-color-neutral-800);
  --sd-color-icon-fill-primary: var(--sd-color-black);
  --sd-color-icon-fill-risk-high: var(--sd-color-risk-high);
  --sd-color-icon-fill-risk-increased: var(--sd-color-risk-increased);
  --sd-color-icon-fill-risk-low: var(--sd-color-risk-low);
  --sd-color-icon-fill-risk-moderate: var(--sd-color-risk-moderate);
  --sd-color-icon-fill-risk-veryhigh: var(--sd-color-risk-veryhigh);
  --sd-color-icon-fill-success: var(--sd-color-success);
  --sd-color-icon-fill-white: var(--sd-color-accent);
  --sd-color-info: 76, 105, 187;
  --sd-color-neutral-100: 236, 239, 241;
  --sd-color-neutral-200: 207, 216, 220;
  --sd-color-neutral-300: 176, 190, 197;
  --sd-color-neutral-400: 144, 164, 174;
  --sd-color-neutral-500: 120, 144, 156;
  --sd-color-neutral-600: 96, 125, 139;
  --sd-color-neutral-700: 84, 110, 122;
  --sd-color-neutral-800: 69, 90, 100;
  --sd-color-neutral-900: 38, 50, 56;
  --sd-color-primary-100: 230, 233, 245;
  --sd-color-primary-200: 193, 201, 231;
  --sd-color-primary-300: 152, 166, 214;
  --sd-color-primary-400: 110, 132, 198;
  --sd-color-primary-500: 76, 105, 187;
  --sd-color-primary-600: 36, 79, 175;
  --sd-color-primary-700: 0, 52, 142;
  --sd-color-primary-750: 0, 52, 142;
  --sd-color-primary-800: 0, 35, 121;
  --sd-color-primary-900: 5, 21, 48;
  --sd-color-primary: 5, 21, 48;
  --sd-color-risk-high: 250, 155, 30;
  --sd-color-risk-increased: 255, 240, 0;
  --sd-color-risk-low: 1, 125, 195;
  --sd-color-risk-moderate: 0, 165, 147;
  --sd-color-risk-veryhigh: 255, 0, 0;
  --sd-color-success: 0, 112, 0;
  --sd-color-text-accent: var(--sd-color-black);
  --sd-color-text-black: var(--sd-color-black);
  --sd-color-text-error: var(--sd-color-black);
  --sd-color-text-neutral-500: var(--sd-color-neutral-500);
  --sd-color-text-neutral-600: var(--sd-color-neutral-600);
  --sd-color-text-neutral-700: var(--sd-color-neutral-700);
  --sd-color-text-primary-100: var(--sd-color-accent);
  --sd-color-text-primary-200: var(--sd-color-accent);
  --sd-color-text-primary-400: 255, 255, 255, 0.84;
  --sd-color-text-primary-500: var(--sd-color-neutral-800);
  --sd-color-text-primary-800: var(--sd-color-black);
  --sd-color-text-primary: var(--sd-color-black);
  --sd-color-text-success: var(--sd-color-success);
  --sd-color-text-white: var(--sd-color-accent);
  --sd-color-warning: 241, 126, 0;
  --sd-color-white: 255, 255, 255;
  --sd-combobox--default-color-icon: 0, 0, 0, 0.62;
  --sd-combobox--default-color-text: 0, 0, 0, 0.62;
  --sd-datepicker--hovered--current__date-item-color-background: 0, 0, 0, 0.62;
  --sd-datepicker--hovered--current__date-item-color-text: 0, 0, 0, 0.62;
  --sd-datepicker--hovered--default__date-item-color-text: 0, 0, 0, 0.62;
  --sd-datepicker--hovered__date-item--default-color-background: 0, 0, 0, 0.62;
  --sd-datepicker--hovered__prev-next-color-background: 0, 0, 0, 0.62;
  --sd-datepicker--hovered__prev-next-color-text: 0, 0, 0, 0.62;
  --sd-datepicker__date-item-color-text: 0, 0, 0, 0.62;
  --sd-divider--inverted-color-border: 255, 255, 255, 0.4;
  --sd-drop-shadow-sm:  0px 4px 12px rgba(5, 21, 48, 0.25);
  --sd-drop-shadow:  0px 5px 12px rgba(5, 21, 48, 0.25);
  --sd-duration-fast: 150ms;
  --sd-duration-medium: 300ms;
  --sd-duration-slow: 500ms;
  --sd-duration-x-slow: 750ms;
  --sd-flag--neutral-200-color-background: 237, 240, 244;
  --sd-flag--neutral-200-color-border: var(--sd-color-black);
  --sd-flag--neutral-300-color-background: 237, 248, 253;
  --sd-flag--neutral-300-color-border: 0, 121, 168;
  --sd-flag--neutral-500-color-background: 237, 248, 253;
  --sd-flag--neutral-500-color-border: 0, 121, 168;
  --sd-flag--white-color-background: 237, 240, 244;
  --sd-flag--white-color-border: var(--sd-color-black);
  --sd-flag-border-radius: var(--sd-spacing-1);
  --sd-flag-border-width: var(--sd-spacing-0\.25);
  --sd-font-primary: 'Bricolage Grotesque';
  --sd-font-weight-bold: 600;
  --sd-font-weight-normal: 400;
  --sd-footnotes--target--inverted-color-background: 0, 0, 0, 0.1;
  --sd-form-control--filled__floating-label-color-text: var(--sd-color-neutral-800);
  --sd-form-control--invalid-color-background: 253, 232, 230;
  --sd-form-control-color-border: var(--sd-color-black);
  --sd-form-control-color-icon-fill: var(--sd-color-neutral-800);
  --sd-form-control-color-text: var(--sd-color-black);
  --sd-form-control__tooltip-color-icon: var(--sd-color-black);
  --sd-header-padding-bottom: var(--sd-spacing-0\.5);
  --sd-headline-4xl-and-mobile-4xl-text: var(--sd-color-black);
  --sd-informational-gradient--primary-800-color-background: var(--sd-color-primary-800);
  --sd-informational-gradient--white-color-background: var(--sd-color-accent);
  --sd-interactive--active-color-text: var(--sd-color-neutral-800);
  --sd-interactive--default-color-text: var(--sd-color-black);
  --sd-link-color--active-text: var(--sd-color-neutral-800);
  --sd-link-color--default-text: var(--sd-color-black);
  --sd-link-color--hover-icon: var(--sd-color-black);
  --sd-link-color--hover-text: var(--sd-color-neutral-800);
  --sd-link-color--none-icon: var(--sd-color-black);
  --sd-link-color--pressed-icon: var(--sd-color-black);
  --sd-map-marker-cluster--hovered-color-icon-fill: var(--sd-color-neutral-700);
  --sd-map-marker-cluster-color-icon-fill: var(--sd-color-neutral-800);
  --sd-map-marker-font-size: var(--sd-spacing-3);
  --sd-menu--disabled-color-icon: var(--sd-color-black);
  --sd-menu--disabled-color-text: 0, 102, 179, 0.4;
  --sd-menu-color-icon: var(--sd-color-black);
  --sd-menu-color-text: var(--sd-color-black);
  --sd-navigable-border-radius: var(--sd-spacing-0\.5);
  --sd-navigable-font-size: 0.875rem;
  --sd-navigable__current-indicator-border-radius: 624.9375rem;
  --sd-navigable__current-indicator-height: 0.1875rem;
  --sd-navigable__current-indicator-width: 0.1875rem;
  --sd-navigation-item--current-color-text: var(--sd-color-black);
  --sd-navigation-item-color-text: var(--sd-color-black);
  --sd-notification--error-color-background: 253, 237, 237;
  --sd-notification--info-color-background: 237, 240, 244;
  --sd-notification--success-color-background: 238, 246, 242;
  --sd-notification--warning-color-background: 255, 245, 224;
  --sd-opacity-0: 0%;
  --sd-opacity-100: 100%;
  --sd-opacity-10: 0%;
  --sd-opacity-20: 0%;
  --sd-opacity-30: 0%;
  --sd-opacity-50: 50%;
  --sd-opacity-55: 0%;
  --sd-opacity-5: 0%;
  --sd-opacity-60: 60%;
  --sd-opacity-70: 0%;
  --sd-opacity-75: 0%;
  --sd-opacity-80: 0%;
  --sd-opacity-85: 0%;
  --sd-opacity-90: 0%;
  --sd-overlay-color-background: 0, 0, 0, 0.2;
  --sd-panel-color-border: 255, 255, 255, 0;
  --sd-quickfact--expandable-color-text: var(--sd-color-black);
  --sd-quickfact__expandable-color-description-default-text: 0, 0, 0, 0.62;
  --sd-quickfact__expandable-color-title-default-text: var(--sd-color-black);
  --sd-radio--checked--default-color-background: 247, 242, 236, 0;
  --sd-radio--checked--default__icon-color-background: var(--sd-color-black);
  --sd-radio--checked--hover-color-background: 247, 242, 236, 0;
  --sd-radio--checked--hover__icon-color-background: var(--sd-color-neutral-900);
  --sd-radio--checked--invalid--default-color-background: 247, 242, 236, 0;
  --sd-radio--checked--invalid--default__icon-color-background: var(--sd-color-error);
  --sd-radio--checked--invalid--hover__icon-color-background: var(--sd-color-error);
  --sd-radio--default--invalid-color-background: 253, 232, 230;
  --sd-radio-border-width: var(--sd-spacing-0\.25);
  --sd-radio-button--hover-color-background: 0, 102, 179, 0.05;
  --sd-radio-button--hover-color-icon-fill: var(--sd-color-black);
  --sd-radio-button--hover-color-text: var(--sd-color-black);
  --sd-radio-button-border-radius: var(--sd-spacing-1);
  --sd-radio-button-color-icon-fil: var(--sd-color-black);
  --sd-radio-button-color-text: var(--sd-color-black);
  --sd-radio-button-group-border-radius: var(--sd-spacing-2);
  --sd-radio-button-group-border-width: var(--sd-spacing-0\.5);
  --sd-radio-button-group-padding: var(--sd-spacing-1);
  --sd-radius-full: 624.9375rem;
  --sd-radius-lg: 0.5rem;
  --sd-radius-md: 0.375rem;
  --sd-radius-none: 0;
  --sd-radius-sm: 0.125rem;
  --sd-radius: 0.25rem;
  --sd-range-scale-ticks-color-text: 89, 89, 89;
  --sd-range__bar-border-width: var(--sd-spacing-0\.5);
  --sd-shadow-sm:  0px 4px 12px -6px rgba(5, 21, 48, 0.25);
  --sd-shadow:  0px 5px 12px -8px rgba(5, 21, 48, 0.25);
  --sd-sizing-0\.5: 0.125rem;
  --sd-sizing-10: 2.5rem;
  --sd-sizing-12: 3rem;
  --sd-sizing-16: 4rem;
  --sd-sizing-1: 0.25rem;
  --sd-sizing-20: 5rem;
  --sd-sizing-24: 6rem;
  --sd-sizing-2: 0.5rem;
  --sd-sizing-2\.5: 0.625rem;
  --sd-sizing-3: 0.75rem;
  --sd-sizing-4: 1rem;
  --sd-sizing-5: 1.25rem;
  --sd-sizing-6: 1.5rem;
  --sd-sizing-8: 2rem;
  --sd-spacing-0\.25: 0.0625rem;
  --sd-spacing-0\.5: 0.125rem;
  --sd-spacing-10: 2.5rem;
  --sd-spacing-12: 3rem;
  --sd-spacing-14: 3.5rem;
  --sd-spacing-16: 4rem;
  --sd-spacing-1: 0.25rem;
  --sd-spacing-1\.5: 0.375rem;
  --sd-spacing-20: 5rem;
  --sd-spacing-24: 6rem;
  --sd-spacing-2: 0.5rem;
  --sd-spacing-32: 8rem;
  --sd-spacing-3: 0.75rem;
  --sd-spacing-40: 10rem;
  --sd-spacing-4: 1rem;
  --sd-spacing-6: 1.5rem;
  --sd-spacing-8: 2rem;
  --sd-step-color-text: var(--sd-color-neutral-700);
  --sd-step-hover-color-text: var(--sd-color-neutral-700);
  --sd-step__circle-border-width: var(--sd-spacing-0\.5);
  --sd-step__tail-border-width: var(--sd-spacing-1);
  --sd-switch--checked--hover-color-background: var(--sd-color-primary-600);
  --sd-switch--unchecked-color-border: var(--sd-color-black);
  --sd-switch--unchecked__icon-color-background: var(--sd-color-black);
  --sd-switch-color-text: var(--sd-color-black);
  --sd-tab-color-border: 191, 202, 217;
  --sd-tab-font-weight: var(--sd-font-weight-bold);
  --sd-tag--default--hover-color-background: 255, 255, 255, 0.6;
  --sd-tag--default-color-background: 255, 255, 255, 0.6;
  --sd-tag--default-color-border: 255, 255, 255, 0.6;
  --sd-tag--default-color-text: var(--sd-color-black);
  --sd-tag--disabled-color-border: var(--sd-color-neutral-500);
  --sd-tag--selected--default-color-background: 255, 255, 255, 0.6;
  --sd-tag--selected--default-color-border: var(--sd-color-black);
  --sd-tag--selected--default-color-text: var(--sd-color-black);
  --sd-tag--selected--hover-color-background: 255, 255, 255, 0.6;
  --sd-tag--selected--hover-color-border: var(--sd-color-neutral-800);
  --sd-tag--selected--hover-color-text: var(--sd-color-neutral-800);
  --sd-tag--selected-border-width: var(--sd-spacing-0\.25);
  --sd-tag--size-lg-font-size: var(--sd-spacing-3);
  --sd-tag--size-sm-font-size: var(--sd-spacing-3);
  --sd-tag-border-radius: 624.9375rem;
  --sd-tag-font-weight: var(--sd-font-weight-bold);
  --sd-teaser--neutral-100-color-background: 245, 247, 249;
  --sd-teaser--neutral-400-color-border: 191, 202, 217;
  --sd-teaser--primary-100-color-background: 245, 247, 249;
  --sd-teaser-media--neutral-100--hover-color-background: 245, 247, 249, 0.9;
  --sd-teaser-media--neutral-100-color-background: 245, 247, 249, 0.8;
  --sd-teaser-media--primary-100--hover-color-background: 245, 247, 249, 0.9;
  --sd-teaser-media--primary-100-color-background: 245, 247, 249, 0.8;
  --sd-text-2xl: 1.75rem;
  --sd-text-3xl: 2rem;
  --sd-text-4xl: 2.625rem;
  --sd-text-base: 1rem;
  --sd-text-lg: 1.25rem;
  --sd-text-sm: 0.875rem;
  --sd-text-xl: 1.5rem;
  --sd-text-xs: 0.75rem;
  --sd-tooltip-color-background: var(--sd-color-white);
  --sd-tooltip-color-text: 89, 89, 89;
  --sd-video--description-color-text: 0, 0, 0, 0.62;
  --sd-video--play-button-color-background: var(--sd-color-white);
  --sd-video--play-button-color-icon-fill: var(--sd-color-black);
}

.sd-theme-kid {
    --sd-icon--placeholder: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M18.875 5.125H5.125v13.75h13.75zM5.125 3.25H20.75v17.5H3.25V3.25zm4.375 5c0 .703-.547 1.25-1.25 1.25S7 8.953 7 8.25 7.547 7 8.25 7s1.25.547 1.25 1.25m3.75 1.875L17.625 17H6.375L9.5 12l1.25 2.031z"/></svg>';
    --sd-icon--image: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M18.875 5.125H5.125v13.75h13.75zM5.125 3.25H20.75v17.5H3.25V3.25zm4.375 5c0 .703-.547 1.25-1.25 1.25S7 8.953 7 8.25 7.547 7 8.25 7s1.25.547 1.25 1.25m3.75 1.875L17.625 17H6.375L9.5 12l1.25 2.031z"/></svg>';
    --sd-icon--user: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M8.9 7c0 1.7 1.4 3.1 3.1 3.1s3.1-1.4 3.1-3.1-1.4-3.1-3.1-3.1A3 3 0 0 0 8.9 7M5.2 22h-2l2.6-8.1h12.5l2.4 8.1h-1.9l-2-6.2H7.2zM12 12a5 5 0 0 1-5-5 5 5 0 0 1 5-5 5 5 0 0 1 5 5 5 5 0 0 1-5 5"/></svg>';
    --sd-icon--menu: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M3.2 5h17.5v1.9H3.2zm0 6.5h12.5v2H3.2zm7.5 6.6V20H3.2V18z"/></svg>';
    --sd-icon--chevron-right: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="m16.9 11.6-7.6 7.6L8 17.8l6.3-6.2L8 5.3 9.3 4z"/></svg>';
    --sd-icon--risk: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="#ff391c" d="M12 23c-4 0-7.5-2-9.5-5.5a11 11 0 0 1 19-11c2 3.4 2 7.6 0 11A11 11 0 0 1 12 23m0-16.5a1 1 0 0 0-1 1v4.8q0 1 1 1t1-1V7.5q0-.9-1-1m-1.4 9.6q.1 1.3 1.4 1.4 1.3-.1 1.4-1.4-.1-1.2-1.4-1.4-1.3.2-1.4 1.4"/></svg>';
    --sd-icon--closing-round: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M18 7.3 13.2 12l4.6 4.6.7.7-1.3 1.3-.7-.6-4.6-4.7L7.3 18l-.6.6-1.4-1.3.7-.7 4.6-4.6L6 7.3l-.7-.6 1.4-1.4.6.7 4.7 4.7L16.6 6l.7-.6 1.3 1.3z"/></svg>';
    --sd-icon--confirm-circle: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M11.964 4.347a8.12 8.12 0 0 0-8.125 8.125 8.12 8.12 0 0 0 8.125 8.125 8.12 8.12 0 0 0 8.125-8.125 8.12 8.12 0 0 0-8.125-8.125m0 18.125c-5.508 0-10-4.492-10-10s4.492-10 10-10 10 4.492 10 10-4.492 10-10 10m3.789-12.5-.508.82-3.125 5-.273.43h-.977l-.273-.351c-1.485-1.992-2.305-3.047-2.461-3.282l1.523-1.093c.274.39.82 1.093 1.602 2.148 1.914-3.086 2.89-4.61 2.89-4.648z"/></svg>';
    --sd-icon--status-check: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="m20.49 7.59-.67.66-9.92 9.89-.66.66-.67-.66-4.92-4.93-.66-.66 1.29-1.33.66.67 4.3 4.25 9.26-9.21.66-.67z"/></svg>';
    --sd-icon--status-minus: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M20.13 13.44H3.88v-1.88h16.24z"/></svg>';
    --sd-icon--newspaper: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M5.75 3.25H22v17.5H2V5.44h1.88v13.43h.3c.87 0 1.57-.7 1.57-1.56zm1.48 15.63h12.9V5.13H7.63V17.3q.01.85-.4 1.57M9.5 7h3.75v3.75H9.5zm5.94 1.88h2.81v1.87H14.5V8.88zm-5 3.12h7.81v1.88H9.5V12zm0 3.13h7.81V17H9.5v-1.87z"/></svg>';
    --sd-icon--video: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M3.9 6.4v11.2H15V6.4zM2 4.5h15v15H2zM21.4 17l-2.5-1.7v-2.2l2.5 1.6V9.3l-2.5 1.6V8.7l4.4-3v12.6z"/></svg>';
    --sd-icon--waveform-lines: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M11.38 2v20H9.5V2zm7.5 2.5v15H17v-15zM7.63 5.75v12.5H5.75V5.75zM15.13 7v10h-1.88V7zM3.88 9.5v5H2v-5zm18.75 0v5h-1.88v-5z"/></svg>';
    --sd-icon--calculator: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M17.63 8.88H6.38v11.25h11.25zm0-1.88V3.88H6.38V7zm1.87 0v15h-15V2h15zM7.63 10.13H9.5V12H7.63zm1.87 3.43v1.88H7.63v-1.88zM7.63 17h5.3v1.88h-5.3zm5.3-6.87V12h-1.87v-1.87zm-1.87 3.43h1.88v1.88h-1.88zm5.32-3.44V12H14.5v-1.87zm-1.88 3.44h1.88v1.88H14.5zM16.38 17v1.88H14.5V17z"/></svg>';
    --sd-icon--calendar: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M8.88 2v2.5h6.24V2H17v2.5h3.75v16.25H3.25V4.5H7V2zm0 4.38H5.12v12.5h13.76V6.38zm0 5.62v3.13H12V12zM7 10.13h6.88V17H7z"/></svg>';
    --sd-icon--position: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M20.13 12a8.12 8.12 0 1 0-16.24-.01 8.12 8.12 0 0 0 16.24.01M2 12C2 6.5 6.5 2 12 2s10 4.5 10 10-4.5 10-10 10S2 17.5 2 12m7.19-2.81L17 7l-2.19 7.81L7 17zM13.25 12c0-.7-.55-1.25-1.25-1.25s-1.25.55-1.25 1.25.55 1.25 1.25 1.25 1.25-.55 1.25-1.25"/></svg>';
    --sd-icon--position-filled: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M2 12C2 6.5 6.5 2 12 2s10 4.5 10 10-4.5 10-10 10S2 17.5 2 12m7.19-2.81L7 17l7.81-2.19L17 7zM12 10.75c.7 0 1.25.55 1.25 1.25s-.55 1.25-1.25 1.25-1.25-.55-1.25-1.25.55-1.25 1.25-1.25"/></svg>';
    --sd-icon--book-open-cover: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12.94 6.45v11.06l.35-.16c1.84-.62 3.75-.98 5.7-.98h2.39V5.14h-2.39q-2.29 0-4.41.78zm-1.88 11.06V6.45l-1.6-.54a13 13 0 0 0-4.41-.79H2.63v11.26h2.42c1.91 0 3.83.35 5.66.97zM21.38 3.25h1.87v15h-4.26c-1.72 0-3.44.31-5.08.86l-1.91.7-1.91-.7a16 16 0 0 0-5.04-.86H.75v-15h4.3q2.58.02 5.04.86l1.91.7 1.91-.7q2.48-.84 5.08-.86zM.75 20.13h3.6q2.15 0 4.25.58l3.36.94 1.64-.59c1.72-.62 3.56-.93 5.4-.93h4.25V22h-4.26q-2.47 0-4.76.82l-1.92.7-.27.08-.27-.08-3.68-1.01C6.9 22.2 5.6 22 4.34 22H.75z"/></svg>';
    --sd-icon--book-open-cover-filled: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 7.47v9.69l1.1-.4a18 18 0 0 1 5.9-1.01h1.75v-10h-1.76c-1.44 0-2.89.23-4.22.74q-2.2.78-2.77.98m8.75-4.22h2.5v15h-4.26c-1.72 0-3.44.31-5.08.86l-1.91.7-1.91-.7a16 16 0 0 0-5.04-.86H.75v-15h4.3q2.58.02 5.04.86l1.91.7 1.91-.7q2.48-.84 5.08-.86zm-20 16.88h4.3c1.8 0 3.63.3 5.35.93l1.6.59 1.6-.59c1.72-.62 3.56-.93 5.4-.93h4.25V22h-4.26q-2.47 0-4.76.82l-1.92.7-.31.12-.31-.12-1.96-.7A14 14 0 0 0 5.01 22H.75z"/></svg>';
    --sd-icon--layer-group: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="m12 10 6.2-3L12 4 5.8 7zM3.6 8 1.4 7 12 2l10.6 5L12 12zm.9 2.6 2.2 1-1 .4 6.3 3 6.2-3-.9-.4 2.2-1 3.1 1.4L12 17 1.4 12zm-1 5.4 1-.4 2.2 1-1 .4 6.3 3 6.2-3-.9-.4 2.2-1 3.1 1.4L12 22 1.4 17z"/></svg>';
    --sd-icon--layer-group-filled: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 12 1.38 7 12 2l10.63 5zm-7.5-1.45 7.5 3.52 7.5-3.52L22.63 12 12 17 1.38 12zM1.38 17l3.12-1.45 7.5 3.52 7.5-3.52L22.63 17 12 22z"/></svg>';
}