.sd-table-cell {
  @apply bg-transparent border-solid border-neutral-400 border-y-[1px] border-x-0 text-black text-sm text-left p-4;

  &--divider {
    @apply border-r-[1px];
  }

  &--shadow-bottom {
    &:after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: -5px; /* Adjust the distance of the shadow from the header row */
      height: 5px; /* Adjust the height of the shadow */
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), transparent);
    }
  }

  &--shadow-right {
    &:first-child:before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      width: 5px; /* Adjust the width of the shadow as needed */
      background: linear-gradient(to right, rgba(0, 0, 0, 0.2), transparent);
      border-style: none;
    }
  }

  &--bg {
    &-white {
      @apply bg-white;
    }

    &-primary-100 {
      @apply bg-primary-100;
    }

    &-neutral-100 {
      @apply bg-neutral-100;
    }
  }
}
