.sd-theme-ui-dark {
  --sd-shadow-sm: 0.5px 0.5px 0.5px var(--sd-color-neutral-800);
  --sd-shadow: 0 0 0 transparent;
  --sd-drop-shadow-sm: 0.5px 0.5px 0.5px var(--sd-color-neutral-800);
  --sd-drop-shadow: 0 0 0 0 transparent;
}