
:root, .sd-theme-ui-dark {
  color-scheme: dark;

  --sd-theme: 'ui-dark';
  --sd-accordion-border-width: var(--sd-spacing-0\.25);
  --sd-accordion-color-icon-fill: var(--sd-color-white);
  --sd-accordion-color-text: var(--sd-color-white);
  --sd-accordion-padding-block: var(--sd-spacing-3);
  --sd-accordion__indicator-color: var(--sd-color-accent);
  --sd-aspect-16\/10: 16 / 10;
  --sd-aspect-21\/9: 21 / 9;
  --sd-aspect-2\/1: 2 / 1;
  --sd-aspect-3\/2: 3 / 2;
  --sd-aspect-3\/4: 3 / 4;
  --sd-aspect-4\/3: 4 / 3;
  --sd-aspect-4\/5: 4 / 5;
  --sd-aspect-5\/4: 5 / 4;
  --sd-aspect-6\/5: 6 / 5;
  --sd-aspect-golden-ratio: 1.6180339887498948482 / 1;
  --sd-aspect-square: 1 / 1;
  --sd-aspect-video: 16 / 9;
  --sd-audio__slide-bar--inverted-color-border: var(--sd-color-primary-400);
  --sd-audio__track-bar--inverted-color-border: var(--sd-color-white);
  --sd-badge--blue--inverted-color-background: var(--sd-color-primary-100);
  --sd-badge--blue--inverted-color-text: var(--sd-color-primary);
  --sd-badge--blue-color-background: var(--sd-color-primary-500);
  --sd-badge--green-color--inverted-background: var(--sd-color-accent-550);
  --sd-badge--green-color--inverted-text: var(--sd-color-white);
  --sd-badge--green-color-background: var(--sd-color-accent-550);
  --sd-badge--inverted-color-border: var(--sd-color-primary);
  --sd-badge--red--inverted-background: var(--sd-color-error);
  --sd-badge--red--inverted-text: var(--sd-color-white);
  --sd-badge--red-color-background: var(--sd-color-error);
  --sd-border-width-2: 0.125rem;
  --sd-border-width-4: 0.25rem;
  --sd-border-width-6: 0.375rem;
  --sd-border-width: 0.0625rem;
  --sd-brandshape--neutral-100-color-background: var(--sd-color-primary-750);
  --sd-brandshape--white-color-background: var(--sd-color-primary-900);
  --sd-breadcrumb__separator--current-color: var(--sd-color-accent);
  --sd-breadcrumb__separator-color: var(--sd-color-primary-400);
  --sd-button--cta--inverted--active-color-background: var(--sd-color-accent-700);
  --sd-button--cta--inverted--active-color-text: var(--sd-color-white);
  --sd-button--cta--inverted--default-color-background: var(--sd-color-accent);
  --sd-button--cta--inverted--default-color-text: var(--sd-color-white);
  --sd-button--cta--inverted--hover-color-background: var(--sd-color-accent-550);
  --sd-button--cta--inverted--hover-color-text: var(--sd-color-white);
  --sd-button--inverted--disabled-color-background: var(--sd-color-neutral-600);
  --sd-button--inverted--disabled-color-border: var(--sd-color-neutral-600);
  --sd-button--inverted--disabled-color-text: var(--sd-color-neutral-600);
  --sd-button--primary--active-color-text: var(--sd-color-primary-700);
  --sd-button--primary--default-color-background: var(--sd-color-white);
  --sd-button--primary--default-color-text: var(--sd-color-primary);
  --sd-button--primary--hover-color-background: var(--sd-color-primary-100);
  --sd-button--primary--inverted--active-color-background: var(--sd-color-primary-200);
  --sd-button--primary--inverted--active-color-text: var(--sd-color-primary-800);
  --sd-button--primary--inverted--default-color-background: var(--sd-color-white);
  --sd-button--primary--inverted--default-color-text: var(--sd-color-primary);
  --sd-button--primary--inverted--hover-color-background: var(--sd-color-primary-100);
  --sd-button--primary--inverted--hover-color-text: var(--sd-color-primary-500);
  --sd-button--secondary--active-color-background: var(--sd-color-primary-500);
  --sd-button--secondary--default-color-text: var(--sd-color-white);
  --sd-button--secondary--disabled-color-text: var(--sd-color-neutral-500);
  --sd-button--secondary--hover-color-background: var(--sd-color-primary-700);
  --sd-button--secondary--inverted--active-color-background: var(--sd-color-primary-800);
  --sd-button--secondary--inverted--hover-color-background: var(--sd-color-primary-500);
  --sd-button--secondary--inverted--hover-color-text: var(--sd-color-primary-100);
  --sd-button--secondary--inverted-color-border: var(--sd-color-white);
  --sd-button--size-lg-border-radius: var(--sd-spacing-1);
  --sd-button--size-lg-font-size: var(--sd-spacing-4);
  --sd-button--size-lg-padding-block: var(--sd-spacing-3);
  --sd-button--size-md-border-radius: var(--sd-spacing-1);
  --sd-button--size-md-font-size: var(--sd-spacing-4);
  --sd-button--size-md-padding-block: var(--sd-spacing-2);
  --sd-button--size-sm-border-radius: var(--sd-spacing-1);
  --sd-button--size-sm-font-size: 0.875rem;
  --sd-button--size-sm-padding-block: var(--sd-spacing-2);
  --sd-button--tertiary--active-color-background: var(--sd-color-primary-500);
  --sd-button--tertiary--default-color-text: var(--sd-color-white);
  --sd-button--tertiary--disabled-color-text: var(--sd-color-neutral-500);
  --sd-button--tertiary--hover-color-background: var(--sd-color-primary-700);
  --sd-button--tertiary--inverted--active-color-background: var(--sd-color-primary-800);
  --sd-button--tertiary--inverted--hover-color-background: var(--sd-color-primary-500);
  --sd-button--tertiary--inverted--hover-color-text: var(--sd-color-primary-100);
  --sd-button-font-weight: var(--sd-font-weight-normal);
  --sd-carousel--active--inverted-color-border: var(--sd-color-accent);
  --sd-carousel--active-color-border: var(--sd-color-accent);
  --sd-carousel__pager-dot--inverted--hovered-background: var(--sd-color-accent);
  --sd-carousel__pager-dot--inverted-background: var(--sd-color-accent);
  --sd-carousel__pager-dot--inverted-border: var(--sd-color-white);
  --sd-carousel__pager-dot-background: var(--sd-color-accent);
  --sd-carousel__pager-dot-border-width: var(--sd-spacing-0\.25);
  --sd-checkbox--checked--hovered-color-border: var(--sd-color-accent-550);
  --sd-checkbox-border-width: var(--sd-spacing-0\.25);
  --sd-chip--primary-200-color-background: var(--sd-color-primary-750);
  --sd-chip--primary-200-color-border: 255, 255, 255, 0;
  --sd-chip--primary-300-color-background: var(--sd-color-primary-700);
  --sd-chip--primary-300-color-border: 255, 255, 255, 0;
  --sd-chip--primary-500-color-background: var(--sd-color-primary-750);
  --sd-chip--primary-500-color-border: 255, 255, 255, 0;
  --sd-chip--primary-500-color-text: var(--sd-color-white);
  --sd-chip--white-color-background: var(--sd-color-primary-750);
  --sd-chip--white-color-border: 255, 255, 255, 0;
  --sd-chip-border-radius: var(--sd-spacing-1);
  --sd-chip-border-width: 0;
  --sd-chip-font-size: 0.875rem;
  --sd-chip-font-weight: var(--sd-font-weight-normal);
  --sd-color-accent-100: 182, 223, 170;
  --sd-color-accent-200: 142, 208, 130;
  --sd-color-accent-300: 108, 194, 84;
  --sd-color-accent-400: 45, 157, 0;
  --sd-color-accent-500: 37, 136, 14;
  --sd-color-accent-550: 37, 136, 14;
  --sd-color-accent-600: 49, 111, 36;
  --sd-color-accent-700: 33, 87, 37;
  --sd-color-accent-800: 25, 65, 27;
  --sd-color-accent: 45, 157, 0;
  --sd-color-background-accent-300: var(--sd-color-success);
  --sd-color-background-accent-500: var(--sd-color-accent-550);
  --sd-color-background-accent-550: var(--sd-color-accent-550);
  --sd-color-background-accent-700: var(--sd-color-accent-700);
  --sd-color-background-accent: var(--sd-color-accent);
  --sd-color-background-error-400: var(--sd-color-error-400);
  --sd-color-background-error: var(--sd-color-error-250);
  --sd-color-background-info: var(--sd-color-info);
  --sd-color-background-neutral-100: var(--sd-color-primary-750);
  --sd-color-background-neutral-200: var(--sd-color-primary-700);
  --sd-color-background-neutral-300: var(--sd-color-primary-700);
  --sd-color-background-neutral-400: var(--sd-color-neutral-600);
  --sd-color-background-neutral-500: var(--sd-color-neutral-600);
  --sd-color-background-neutral-600: var(--sd-color-neutral-600);
  --sd-color-background-neutral-800: var(--sd-color-neutral-800);
  --sd-color-background-primary-100: var(--sd-color-primary-750);
  --sd-color-background-primary-200: var(--sd-color-primary-750);
  --sd-color-background-primary-300: var(--sd-color-primary-700);
  --sd-color-background-primary-500: var(--sd-color-primary-500);
  --sd-color-background-primary-800: var(--sd-color-primary-200);
  --sd-color-background-primary: var(--sd-color-primary);
  --sd-color-background-success: var(--sd-color-success);
  --sd-color-background-warning: var(--sd-color-warning);
  --sd-color-background-white: var(--sd-color-primary-900);
  --sd-color-black: 24, 24, 24;
  --sd-color-border-accent-550: var(--sd-color-accent-550);
  --sd-color-border-accent: var(--sd-color-accent);
  --sd-color-border-error-400: var(--sd-color-error-400);
  --sd-color-border-error: var(--sd-color-error-250);
  --sd-color-border-neutral-400: var(--sd-color-primary-400);
  --sd-color-border-neutral-500: var(--sd-color-neutral-600);
  --sd-color-border-neutral-600: var(--sd-color-neutral-600);
  --sd-color-border-neutral-800: var(--sd-color-white);
  --sd-color-border-primary-100: var(--sd-color-primary-100);
  --sd-color-border-primary-200: var(--sd-color-primary-200);
  --sd-color-border-primary-400: var(--sd-color-primary-400);
  --sd-color-border-primary-500: var(--sd-color-primary-100);
  --sd-color-border-primary-800: var(--sd-color-primary-200);
  --sd-color-border-primary: var(--sd-color-white);
  --sd-color-border-success: var(--sd-color-success);
  --sd-color-border-white: var(--sd-color-primary-900);
  --sd-color-error-250: 234, 88, 107;
  --sd-color-error-300: 204, 25, 55;
  --sd-color-error-400: 172, 25, 56;
  --sd-color-error-500: 125, 20, 45;
  --sd-color-error: 204, 25, 55;
  --sd-color-icon-fill-accent-550: var(--sd-color-accent-550);
  --sd-color-icon-fill-accent: var(--sd-color-accent);
  --sd-color-icon-fill-error-400: var(--sd-color-error-400);
  --sd-color-icon-fill-error: var(--sd-color-error-250);
  --sd-color-icon-fill-neutral-400: var(--sd-color-neutral-400);
  --sd-color-icon-fill-neutral-500: var(--sd-color-neutral-500);
  --sd-color-icon-fill-neutral-600: var(--sd-color-neutral-600);
  --sd-color-icon-fill-neutral-800: var(--sd-color-white);
  --sd-color-icon-fill-primary-100: var(--sd-color-primary-500);
  --sd-color-icon-fill-primary-200: var(--sd-color-primary-800);
  --sd-color-icon-fill-primary-400: var(--sd-color-primary-400);
  --sd-color-icon-fill-primary-500: var(--sd-color-primary-200);
  --sd-color-icon-fill-primary-800: var(--sd-color-white);
  --sd-color-icon-fill-primary: var(--sd-color-white);
  --sd-color-icon-fill-risk-high: var(--sd-color-risk-high);
  --sd-color-icon-fill-risk-increased: var(--sd-color-risk-increased);
  --sd-color-icon-fill-risk-low: var(--sd-color-risk-low);
  --sd-color-icon-fill-risk-moderate: var(--sd-color-risk-moderate);
  --sd-color-icon-fill-risk-veryhigh: var(--sd-color-risk-veryhigh);
  --sd-color-icon-fill-success: var(--sd-color-success);
  --sd-color-icon-fill-white: var(--sd-color-white);
  --sd-color-info: 21, 130, 213;
  --sd-color-neutral-100: 246, 246, 246;
  --sd-color-neutral-200: 233, 233, 233;
  --sd-color-neutral-300: 218, 218, 218;
  --sd-color-neutral-400: 195, 195, 195;
  --sd-color-neutral-500: 174, 174, 174;
  --sd-color-neutral-600: 136, 136, 136;
  --sd-color-neutral-700: 104, 104, 104;
  --sd-color-neutral-800: 81, 81, 81;
  --sd-color-primary-100: 236, 240, 249;
  --sd-color-primary-200: 224, 233, 243;
  --sd-color-primary-300: 200, 213, 231;
  --sd-color-primary-400: 153, 171, 208;
  --sd-color-primary-500: 70, 109, 175;
  --sd-color-primary-600: 0, 53, 142;
  --sd-color-primary-700: 19, 46, 110;
  --sd-color-primary-750: 10, 32, 74;
  --sd-color-primary-800: 5, 21, 48;
  --sd-color-primary-900: 2, 9, 32;
  --sd-color-primary: 0, 53, 142;
  --sd-color-risk-high: 250, 155, 30;
  --sd-color-risk-increased: 255, 240, 0;
  --sd-color-risk-low: 1, 125, 195;
  --sd-color-risk-moderate: 0, 165, 147;
  --sd-color-risk-veryhigh: 255, 0, 0;
  --sd-color-success: 108, 194, 84;
  --sd-color-text-accent: var(--sd-color-accent);
  --sd-color-text-black: var(--sd-color-white);
  --sd-color-text-error: var(--sd-color-error-250);
  --sd-color-text-neutral-500: var(--sd-color-neutral-500);
  --sd-color-text-neutral-600: var(--sd-color-neutral-600);
  --sd-color-text-neutral-700: var(--sd-color-primary-400);
  --sd-color-text-primary-100: var(--sd-color-primary-500);
  --sd-color-text-primary-200: var(--sd-color-primary-200);
  --sd-color-text-primary-400: var(--sd-color-primary-400);
  --sd-color-text-primary-500: var(--sd-color-primary-200);
  --sd-color-text-primary-800: var(--sd-color-white);
  --sd-color-text-primary: var(--sd-color-white);
  --sd-color-text-success: var(--sd-color-success);
  --sd-color-text-white: var(--sd-color-white);
  --sd-color-warning: 187, 141, 32;
  --sd-color-white: 255, 255, 255;
  --sd-combobox--default-color-icon-fill: var(--sd-color-white);
  --sd-combobox--default-color-text: var(--sd-color-white);
  --sd-combobox__tag-border-width: var(--sd-spacing-0\.25);
  --sd-datepicker__date-item--current-font-weight: var(--sd-font-weight-bold);
  --sd-datepicker__date-item--default-color-text: var(--sd-color-white);
  --sd-datepicker__date-item--default-font-weight: var(--sd-font-weight-normal);
  --sd-datepicker__date-item--hovered--default-color-background: var(--sd-color-primary-100);
  --sd-datepicker__date-item--hovered--default-color-text: var(--sd-color-primary-750);
  --sd-datepicker__date-item--hovered--prev-next-color-background: var(--sd-color-primary-100);
  --sd-datepicker__date-item--hovered--prev-next-color-text: var(--sd-color-primary-750);
  --sd-datepicker__date-item--selected-color-text: var(--sd-color-primary);
  --sd-divider--inverted-color-border: var(--sd-color-primary-400);
  --sd-drop-shadow-sm:  0.5px 0.5px 1.5px #515151;
  --sd-drop-shadow-xs:  0.5px 0.5px 1.5px #515151;
  --sd-drop-shadow:  0px 0px 0px rgba(255, 255, 255, 0);
  --sd-dropdown-color-background: var(--sd-color-primary-900);
  --sd-duration-fast: 150ms;
  --sd-duration-medium: 300ms;
  --sd-duration-slow: 500ms;
  --sd-duration-x-slow: 750ms;
  --sd-flag--neutral-200-color-background: var(--sd-color-primary-750);
  --sd-flag--neutral-200-color-border: 255, 255, 255, 0;
  --sd-flag--neutral-300-color-background: var(--sd-color-primary-700);
  --sd-flag--neutral-300-color-border: 255, 255, 255, 0;
  --sd-flag--neutral-500-color-background: var(--sd-color-primary-750);
  --sd-flag--neutral-500-color-border: 255, 255, 255, 0;
  --sd-flag--white-color-background: var(--sd-color-primary-750);
  --sd-flag--white-color-border: 255, 255, 255, 0;
  --sd-flag-border-radius: 0;
  --sd-flag-border-width: 0;
  --sd-flag-font-size: 0.875rem;
  --sd-flag-font-weight: var(--sd-font-weight-normal);
  --sd-font-primary: 'Frutiger Neue';
  --sd-font-weight-bold: 600;
  --sd-font-weight-normal: 400;
  --sd-footnotes--target--inverted-color-background: var(--sd-color-primary-800);
  --sd-form-control--filled__floating-label-color-text: var(--sd-color-primary-400);
  --sd-form-control--invalid-color-background: var(--sd-color-primary-900);
  --sd-form-control-border-radius: var(--sd-spacing-1);
  --sd-form-control-color-border: var(--sd-color-primary-200);
  --sd-form-control-color-icon-fill: var(--sd-color-white);
  --sd-form-control-color-text: var(--sd-color-white);
  --sd-form-control__tooltip-color-icon-fill: var(--sd-color-white);
  --sd-header-color-background: var(--sd-color-primary);
  --sd-header-padding-bottom: 0;
  --sd-header__underline-color-background: 255, 255, 255, 0;
  --sd-header__underline-height: var(--sd-spacing-2);
  --sd-headline-4xl-and-mobile-4xl-text: var(--sd-color-white);
  --sd-informational-gradient--primary-800-color-background: var(--sd-color-primary-800);
  --sd-informational-gradient--white-color-background: var(--sd-color-primary-800);
  --sd-interactive--active-color-text: var(--sd-color-primary-400);
  --sd-interactive--default-color-text: var(--sd-color-white);
  --sd-link-color--active-text: var(--sd-color-primary-400);
  --sd-link-color--default-text: var(--sd-color-white);
  --sd-link-color--disabled-text: var(--sd-color-primary-400);
  --sd-link-color--hover-icon: var(--sd-color-primary-200);
  --sd-link-color--hover-text: var(--sd-color-primary-200);
  --sd-link-color--none-icon: var(--sd-color-white);
  --sd-link-color--pressed-icon: var(--sd-color-primary-400);
  --sd-map-marker-cluster--hovered-color-icon-fill: var(--sd-color-primary-500);
  --sd-map-marker-cluster-color-icon-fill: var(--sd-color-primary);
  --sd-map-marker-font-size: var(--sd-spacing-3);
  --sd-map-marker-main-color-icon-fill: var(--sd-color-accent-550);
  --sd-menu-item--disabled-color-icon-fill: var(--sd-color-neutral-500);
  --sd-menu-item--disabled-color-text: var(--sd-color-neutral-500);
  --sd-menu-item-color-icon-fill: var(--sd-color-white);
  --sd-menu-item-color-text: var(--sd-color-white);
  --sd-navigable-border-radius: 0;
  --sd-navigable-font-size: var(--sd-spacing-4);
  --sd-navigable__current-indicator-border-radius: 0;
  --sd-navigable__current-indicator-height: var(--sd-spacing-1);
  --sd-navigable__current-indicator-width: var(--sd-spacing-1);
  --sd-navigation-item-color-text: var(--sd-color-white);
  --sd-notification--error-color-background: var(--sd-color-primary-900);
  --sd-notification--info-color-background: var(--sd-color-primary-900);
  --sd-notification--success-color-background: var(--sd-color-primary-900);
  --sd-notification--warning-color-background: var(--sd-color-primary-900);
  --sd-notification-color-border: var(--sd-color-primary-400);
  --sd-notification-color-icon-fill: var(--sd-color-white);
  --sd-opacity-0: 0%;
  --sd-opacity-100: 100%;
  --sd-opacity-10: 10%;
  --sd-opacity-20: 20%;
  --sd-opacity-30: 30%;
  --sd-opacity-50: 50%;
  --sd-opacity-55: 55%;
  --sd-opacity-5: 5%;
  --sd-opacity-60: 60%;
  --sd-opacity-70: 70%;
  --sd-opacity-75: 75%;
  --sd-opacity-80: 80%;
  --sd-opacity-85: 85%;
  --sd-opacity-90: 90%;
  --sd-option--disabled-color-border: var(--sd-color-neutral-500);
  --sd-overlay-color-background: 5, 21, 48, 0.9;
  --sd-pagination--default-border: var(--sd-color-accent-550);
  --sd-pagination--inverted-border: var(--sd-color-accent-550);
  --sd-panel-color-border: var(--sd-color-primary-400);
  --sd-quickfact--expandable-color-text: var(--sd-color-white);
  --sd-radio--checked--default-color-background: var(--sd-color-primary-900);
  --sd-radio--checked--default__icon-color-background: var(--sd-color-accent);
  --sd-radio--checked--hover-color-background: var(--sd-color-primary-900);
  --sd-radio--checked--hover__icon-color-background: var(--sd-color-accent-550);
  --sd-radio--checked--invalid--default-color-background: var(--sd-color-primary-900);
  --sd-radio--checked--invalid--default__icon-color-background: var(--sd-color-error);
  --sd-radio--checked--invalid--hover__icon-color-background: var(--sd-color-error-400);
  --sd-radio--default--invalid-color-background: var(--sd-color-primary-900);
  --sd-radio--error-color-text: var(--sd-color-white);
  --sd-radio-border-width: var(--sd-spacing-0\.25);
  --sd-radio-button--hover-color-background: 255, 255, 255, 0;
  --sd-radio-button--hover-color-icon-fill: var(--sd-color-primary-200);
  --sd-radio-button--hover-color-text: var(--sd-color-primary-200);
  --sd-radio-button-border-radius: 624.9375rem;
  --sd-radio-button-color-icon-fil: var(--sd-color-white);
  --sd-radio-button-color-text: var(--sd-color-white);
  --sd-radio-button-group-border-radius: 624.9375rem;
  --sd-radio-button-group-border-width: var(--sd-spacing-0\.25);
  --sd-radio-button-group-padding: 0;
  --sd-radius-full: 624.9375rem;
  --sd-radius-lg: 0.5rem;
  --sd-radius-md: 0.375rem;
  --sd-radius-none: 0;
  --sd-radius-sm: 0.125rem;
  --sd-radius: 0.25rem;
  --sd-range-scale-ticks-color-text: var(--sd-color-white);
  --sd-range__bar-border-width: var(--sd-spacing-1);
  --sd-shadow-sm:  0.5px 0.5px 1.5px 0px #515151;
  --sd-shadow-xs:  0.5px 0.5px 1.5px 0px #515151;
  --sd-shadow:  0px 0px 0px 0px rgba(255, 255, 255, 0);
  --sd-sizing-0\.25: 0.0625rem;
  --sd-sizing-0\.5: 0.125rem;
  --sd-sizing-10: 2.5rem;
  --sd-sizing-12: 3rem;
  --sd-sizing-16: 4rem;
  --sd-sizing-1: 0.25rem;
  --sd-sizing-20: 5rem;
  --sd-sizing-24: 6rem;
  --sd-sizing-2: 0.5rem;
  --sd-sizing-2\.5: 0.625rem;
  --sd-sizing-3: 0.75rem;
  --sd-sizing-4: 1rem;
  --sd-sizing-5: 1.25rem;
  --sd-sizing-6: 1.5rem;
  --sd-sizing-8: 2rem;
  --sd-skeleton-color: var(--sd-color-primary-700);
  --sd-spacing-0\.25: 0.0625rem;
  --sd-spacing-0\.5: 0.125rem;
  --sd-spacing-10: 2.5rem;
  --sd-spacing-12: 3rem;
  --sd-spacing-14: 3.5rem;
  --sd-spacing-16: 4rem;
  --sd-spacing-1: 0.25rem;
  --sd-spacing-1\.5: 0.375rem;
  --sd-spacing-20: 5rem;
  --sd-spacing-24: 6rem;
  --sd-spacing-2: 0.5rem;
  --sd-spacing-32: 8rem;
  --sd-spacing-3: 0.75rem;
  --sd-spacing-40: 10rem;
  --sd-spacing-4: 1rem;
  --sd-spacing-6: 1.5rem;
  --sd-spacing-8: 2rem;
  --sd-step-color-text: var(--sd-color-white);
  --sd-step-hover-color-text: var(--sd-color-primary-200);
  --sd-step__circle-border-width: var(--sd-spacing-0\.25);
  --sd-step__tail-border-width: var(--sd-spacing-0\.25);
  --sd-switch--checked--hover-color-background: var(--sd-color-accent-550);
  --sd-switch--unchecked-color-border: var(--sd-color-white);
  --sd-switch--unchecked__icon-color-background: var(--sd-color-white);
  --sd-switch-color-text: var(--sd-color-white);
  --sd-tab--active-color-background: var(--sd-color-primary-700);
  --sd-tab-color-border: var(--sd-color-primary-400);
  --sd-tab-font-weight: var(--sd-font-weight-normal);
  --sd-tag--default--hover-color-background: 255, 255, 255, 0;
  --sd-tag--default-color-background: 255, 255, 255, 0;
  --sd-tag--default-color-border: var(--sd-color-primary-100);
  --sd-tag--default-color-text: var(--sd-color-white);
  --sd-tag--disabled-color-border: var(--sd-color-neutral-500);
  --sd-tag--selected--default-color-background: var(--sd-color-white);
  --sd-tag--selected--default-color-border: 255, 255, 255, 0;
  --sd-tag--selected--default-color-text: var(--sd-color-primary);
  --sd-tag--selected--hover-color-background: var(--sd-color-primary-500);
  --sd-tag--selected--hover-color-border: 255, 255, 255, 0;
  --sd-tag--selected--hover-color-text: var(--sd-color-white);
  --sd-tag--selected-border-width: 0;
  --sd-tag--size-lg-font-size: var(--sd-spacing-4);
  --sd-tag--size-sm-font-size: 0.875rem;
  --sd-tag-border-radius: 624.9375rem;
  --sd-tag-font-weight: var(--sd-font-weight-normal);
  --sd-teaser--neutral-100-color-background: var(--sd-color-primary-700);
  --sd-teaser--neutral-400-color-border: var(--sd-color-primary-400);
  --sd-teaser--primary-100-color-background: var(--sd-color-primary-700);
  --sd-teaser-border-radius: 0;
  --sd-teaser-media--neutral-100--hover-color-background: var(--sd-color-primary-750);
  --sd-teaser-media--neutral-100-color-background: var(--sd-color-primary-750);
  --sd-teaser-media--primary-100--hover-color-background: var(--sd-color-primary-750);
  --sd-teaser-media--primary-100-color-background: var(--sd-color-primary-750);
  --sd-text-2xl: 1.75rem;
  --sd-text-3xl: 2rem;
  --sd-text-4xl: 2.5rem;
  --sd-text-base: 1rem;
  --sd-text-lg: 1.25rem;
  --sd-text-sm: 0.875rem;
  --sd-text-xl: 1.5rem;
  --sd-text-xs: 0.75rem;
  --sd-tooltip-border-width: var(--sd-spacing-0\.25);
  --sd-tooltip-color-background: var(--sd-color-primary);
  --sd-tooltip-color-border: 255, 255, 255, 0;
  --sd-tooltip-color-text: var(--sd-color-white);
  --sd-video--description-color-text: var(--sd-color-primary-400);
  --sd-video--play-button-color-background: 0, 53, 142, 0.8;
  --sd-video--play-button-color-icon-fill: var(--sd-color-white);
}
