@import 'tailwindcss';

@source './src';

@custom-variant hover (&:hover:not([disabled]));
@custom-variant focus (&:focus:not([disabled]));

@theme {
  --background-color-primary-400: var(--sd-color-primary-400, red);
  --outline-color-primary: var(--sd-color-primary, red);
  --outline-color-error: var(--sd-color-primary, red);
  --shadow: var(--sd-shadow, 0 1px 3px 0 rgba(81, 81, 81, 0.75));
  --shadow-sm: var(--sd-shadow-sm, 0.5px 0.5px 1.5px 0 rgba(81, 81, 81, 1));
  --transition-duration-fast: var(--sd-duration-fast, 150ms);
  --transition-duration-medium: var(--sd-duration-medium, 300ms);
  --transition-duration-slow: var(--sd-duration-slow, 500ms);
  --transition-duration-x-slow: var(--sd-duration-x-slow, 750ms);
  --color-risk-low: var(--sd-color-low, rgb(var(--sd-color-risk-low, 1 125 195)));
  --color-risk-moderate: var(--sd-color-moderate, rgb(var(--sd-color-risk-moderate, 0 165 147)));
  --color-risk-increased: var(--sd-color-increased, rgb(var(--sd-color-risk-increased, 255 240 0)));
  --color-risk-high: var(--sd-color-high, rgb(var(--sd-color-risk-high, 250 155 30)));
  --color-risk-veryhigh: var(--sd-color-veryhigh, rgb(var(--sd-color-risk-veryhigh, 255 0 0)));
  --fill-primary: var(--sd-color-primary, #00358e);
  --fill-accent-550: var(--sd-color-accent-550, #367b28);
  --fill-primary-500: var(--sd-color-primary-500, #466daf);
  --fill-primary-800: var(--sd-color-primary-800, #051530);
  --fill-neutral-500: var(--sd-color-neutral-500, #aeaeae);
  --fill-neutral-800: var(--sd-color-neutral-800, #515151);
  --fill-success: var(--sd-color-success, #367b28);
  --fill-error: var(--sd-color-error, #cc1937);
  --fill-error-400: var(--sd-color-error-400, #ac1938);
  --fill-white: var(--sd-color-white, #ffffff);
  --fill-accent: var(--sd-color-accent, #2d9d00);
  --fill-primary-100: var(--sd-color-primary-100, #ecf0f9);
  --fill-primary-200: var(--sd-color-primary-200, #e0e9f3);
  --fill-primary-400: var(--sd-color-primary-400, #99abd0);
  --fill-neutral-600: var(--sd-color-neutral-600, #888888);
  --fill-risk-low: var(--sd-color-risk-low, #017dc3);
  --fill-risk-moderate: var(--sd-color-risk-moderate, #00a593);
  --fill-risk-increased: var(--sd-color-risk-increased, #fff000);
  --fill-risk-high: var(--sd-color-risk-high, #fa9b1e);
  --fill-risk-veryhigh: var(--sd-color-risk-veryhigh, #ff0000);
  --fill-white-alternative: var(--sd-color-white-alternative, #ffffff);
  --border-color-primary: var(--sd-color-primary, #00358e);
  --border-color-accent-550: var(--sd-color-accent-550, #367b28);
  --border-color-primary-500: var(--sd-color-primary-500, #466daf);
  --border-color-primary-800: var(--sd-color-primary-800, #051530);
  --border-color-neutral-400: var(--sd-color-neutral-400, #c3c3c3);
  --border-color-neutral-800: var(--sd-color-neutral-800, #515151);
  --border-color-success: var(--sd-color-success, #367b28);
  --border-color-error: var(--sd-color-error, #cc1937);
  --border-color-error-400: var(--sd-color-error-400, #ac1938);
  --border-color-null: var(--sd-color-null, rgba(255, 255, 255, 0));
  --border-color-white: var(--sd-color-white, #ffffff);
  --border-color-accent: var(--sd-color-accent, #2d9d00);
  --border-color-primary-100: var(--sd-color-primary-100, #ecf0f9);
  --border-color-primary-200: var(--sd-color-primary-200, #e0e9f3);
  --border-color-primary-400: var(--sd-color-primary-400, #99abd0);
  --border-color-neutral-500: var(--sd-color-neutral-500, #aeaeae);
  --border-color-neutral-600: var(--sd-color-neutral-600, #888888);
  --background-color-primary: var(--sd-color-primary, #00358e);
  --background-color-white: var(--sd-color-white, #ffffff);
  --background-color-white-alternative: var(--sd-color-white-alternative, #ffffff);
  --background-color-accent-550: var(--sd-color-accent-550, #367b28);
  --background-color-primary-100: var(--sd-color-primary-100, #ecf0f9);
  --background-color-primary-200: var(--sd-color-primary-200, #e0e9f3);
  --background-color-primary-300: var(--sd-color-primary-300, #c8d5e7);
  --background-color-primary-500: var(--sd-color-primary-500, #466daf);
  --background-color-primary-800: var(--sd-color-primary-800, #051530);
  --background-color-neutral-100: var(--sd-color-neutral-100, #f6f6f6);
  --background-color-neutral-200: var(--sd-color-neutral-200, #e9e9e9);
  --background-color-neutral-500: var(--sd-color-neutral-500, #aeaeae);
  --background-color-success: var(--sd-color-success, #367b28);
  --background-color-error: var(--sd-color-error, #cc1937);
  --background-color-error-400: var(--sd-color-error-400, #ac1938);
  --background-color-primary-alternative: var(--sd-color-primary-alternative, #00358e);
  --background-color-accent-300: var(--sd-color-accent-300, #6cc254);
  --background-color-accent: var(--sd-color-accent, #2d9d00);
  --background-color-accent-500: var(--sd-color-accent-500, #25880e);
  --background-color-accent-700: var(--sd-color-accent-700, #215725);
  --background-color-neutral-300: var(--sd-color-neutral-300, #dadada);
  --background-color-neutral-600: var(--sd-color-neutral-600, #888888);
  --background-color-neutral-800: var(--sd-color-neutral-800, #515151);
  --background-color-info: var(--sd-color-info, #1582d5);
  --background-color-warning: var(--sd-color-warning, #bb8d20);
  --background-color-primary-800-alternative: var(--sd-color-primary-800-alternative, #051530);
  --background-color-neutral-400: var(--sd-color-neutral-400, #c3c3c3);
  --background-color-transparent-primary-100-80: var(--sd-color-primary-100-80, rgba(236, 240, 249, 0.8));
  --background-color-transparent-primary-100-90: var(--sd-color-primary-100-90, rgba(236, 240, 249, 0.9));
  --background-color-transparent-neutral-100-80: var(--sd-color-neutral-100-80, rgba(246, 246, 246, 0.8));
  --background-color-transparent-neutral-100-90: var(--sd-color-neutral-100-90, rgba(246, 246, 246, 0.9));
  --background-color-transparent-white-90: var(--sd-color-white-90, rgba(255, 255, 255, 0.9));
  --background-color-transparent-white-80: var(--sd-color-white-80, rgba(255, 255, 255, 0.8));
  --background-color-transparent-primary-10: var(--sd-color-primary-10, rgba(0, 53, 142, 0.1));
  --background-color-transparent-primary-30: var(--sd-color-primary-30, rgba(0, 53, 142, 0.3));
  --background-color-transparent-primary-80: var(--sd-color-primary-80, rgba(0, 53, 142, 0.8));
  --background-color-transparent-primary-90: var(--sd-color-primary-90, rgba(0, 53, 142, 0.9));
  --background-color-transparent-white-20: var(--sd-color-white-20, rgba(255, 255, 255, 0.2));
  --background-color-transparent-primary-800-90: var(--sd-color-primary-800-90, rgba(5, 21, 48, 0.9));
  --text-color-primary: var(--sd-color-primary, #00358e);
  --text-color-white: var(--sd-color-white, #ffffff);
  --text-color-black: var(--sd-color-black, #181818);
  --text-color-black-alternative: var(--sd-color-black-alternative, #181818);
  --text-color-primary-200: var(--sd-color-primary-200, #e0e9f3);
  --text-color-primary-400: var(--sd-color-primary-400, #99abd0);
  --text-color-primary-500: var(--sd-color-primary-500, #466daf);
  --text-color-primary-800: var(--sd-color-primary-800, #051530);
  --text-color-neutral-500: var(--sd-color-neutral-500, #aeaeae);
  --text-color-neutral-700: var(--sd-color-neutral-700, #686868);
  --text-color-success: var(--sd-color-success, #367b28);
  --text-color-error: var(--sd-color-error, #cc1937);
  --text-color-white-alternative: var(--sd-color-white-alternative, #ffffff);
  --text-color-accent: var(--sd-color-accent, #2d9d00);
  --text-color-primary-100: var(--sd-color-primary-100, #ecf0f9);
  --text-color-neutral-600: var(--sd-color-neutral-600, #888888);
  --spacing-0: var(--sd-spacing-0, 0px);
  --spacing: var(--sd-spacing-1, 0.25rem);
  --spacing-2: var(--sd-spacing-2, 0.5rem);
  --spacing-3: var(--sd-spacing-3, 0.75rem);
  --spacing-4: var(--sd-spacing-4, 1rem);
  --spacing-5: var(--sd-spacing-5, 1.25rem);
  --spacing-6: var(--sd-spacing-6, 1.5rem);
  --spacing-8: var(--sd-spacing-8, 2rem);
  --spacing-10: var(--sd-spacing-10, 2.5rem);
  --spacing-12: var(--sd-spacing-12, 3rem);
  --spacing-16: var(--sd-spacing-16, 4rem);
  --spacing-20: var(--sd-spacing-20, 5rem);
  --spacing-24: var(--sd-spacing-24, 6rem);
  --spacing-32: var(--sd-spacing-32, 8rem);
  --spacing-40: var(--sd-spacing-40, 10rem);
  --spacing-0.5: var(--sd-spacing-0.5, 0.125rem);
  --spacing-0.25: var(--sd-spacing-0.25, 1px);
  --spacing-1.5: var(--sd-spacing-1.5, 0.375rem);
  --spacing-auto: var(--sd-spacing-auto, auto);
  --sizing-2: var(--sd-spacing-2, 0.5rem);
  --sizing-3: var(--sd-spacing-3, 0.75rem);
  --sizing-4: var(--sd-spacing-4, 1rem);
  --sizing-5: var(--sd-spacing-5, 1.25rem);
  --sizing-6: var(--sd-spacing-6, 1.5rem);
  --sizing-8: var(--sd-spacing-8, 2rem);
  --sizing-10: var(--sd-spacing-10, 2.5rem);
  --sizing-12: var(--sd-spacing-12, 3rem);
  --sizing-16: var(--sd-spacing-16, 4rem);
  --sizing-24: var(--sd-spacing-24, 6rem);
  --sizing-2.5: var(--sd-spacing-2.5, 0.625rem);
  --radius-default: var(--sd-border-radius-default, 0.25rem);
  --radius-sm: var(--sd-border-radius-sm, 0.125rem);
  --radius-md: var(--sd-border-radius-md, 0.375rem);
  --radius-lg: var(--sd-border-radius-lg, 0.5rem);
  --radius-full: var(--sd-border-radius-full, 9999px);
  --radius-none: var(--sd-border-radius-none, 0px);
  --border-width-2: 2px;
  --border-width-4: 4px;
  --border-width-6: 6px;
  --border-width-default: 1px;
  --opacity-0: var(--sd-opacity-0, 0%);
  --opacity-5: var(--sd-opacity-5, 5%);
  --opacity-10: var(--sd-opacity-10, 10%);
  --opacity-20: var(--sd-opacity-20, 20%);
  --opacity-30: var(--sd-opacity-30, 30%);
  --opacity-50: var(--sd-opacity-50, 50%);
  --opacity-55: var(--sd-opacity-55, 55%);
  --opacity-60: var(--sd-opacity-60, 60%);
  --opacity-70: var(--sd-opacity-70, 70%);
  --opacity-75: var(--sd-opacity-75, 75%);
  --opacity-80: var(--sd-opacity-80, 80%);
  --opacity-85: var(--sd-opacity-85, 85%);
  --opacity-90: var(--sd-opacity-90, 90%);
  --opacity-100: var(--sd-opacity-100, 100%);
  --aspect-video: 16 / 9;
  --aspect-square: 1 / 1;
  --aspect-6/5: 6 / 5;
  --aspect-5/4: 5 / 4;
  --aspect-4/3: 4 / 3;
  --aspect-3/2: 3 / 2;
  --aspect-16/10: 16 / 10;
  --aspect-golden-ratio: 1.6180339887498948482 / 1;
  --aspect-2/1: 2 / 1;
  --aspect-21/9: 21 / 9;
  --aspect-3/4: 3 / 4;
  --aspect-4/5: 4 / 5;
}

@utility gradient-vertical-white-transparent {
  background-image: var(--sd-color-vertical-white-transparent, linear-gradient(0deg, rgba(255, 255, 255, 0) 5%, rgba(255, 255, 255, 1) 20%, rgba(255, 255, 255, 1) 100%));
}

@utility gradient-vertical-black-40-transparent {
  background-image: var(--sd-color-vertical-black-40-transparent, linear-gradient(0deg, rgba(24, 24, 24, 0) 50%, rgba(24, 24, 24, 0.4) 100%));
}

@utility gradient-vertical-transparent-black-40 {
  background-image: var(--sd-color-vertical-transparent-black-40, linear-gradient(180deg, rgba(24, 24, 24, 0) 50%, rgba(24, 24, 24, 0.4) 100%));
}

@utility gradient-vertical-black-10-transparent {
  background-image: var(--sd-color-vertical-black-10-transparent, linear-gradient(180deg, rgba(24, 24, 24, 0) 0%, rgba(24, 24, 24, 0.1) 100%));
}

@utility gradient-vertical-transparent-black-10 {
  background-image: var(--sd-color-vertical-transparent-black-10, linear-gradient(0deg, rgba(24, 24, 24, 0) 0%, rgba(24, 24, 24, 0.1) 100%));
}

@utility gradient-vertical-transparent-white-60 {
  background-image: var(--sd-color-vertical-transparent-white-60, linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.6) 100%));
}

@utility gradient-vertical-white-60-transparent {
  background-image: var(--sd-color-vertical-white-60-transparent, linear-gradient(180deg, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0) 100%));
}

@utility gradient-vertical-white-60-white-75 {
  background-image: var(--sd-color-vertical-white-60-white-75, linear-gradient(180deg, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.75) 100%));
}

@utility gradient-vertical-white-75-white-60 {
  background-image: var(--sd-color-vertical-white-75-white-60, linear-gradient(180deg, rgba(255, 255, 255, 0.75) 0%, rgba(255, 255, 255, 0.6) 100%));
}

@utility gradient-vertical-transparent-primary-800-60 {
  background-image: var(--sd-color-vertical-transparent-primary-800-60, linear-gradient(180deg, rgba(5, 21, 48, 0) 0%, rgba(5, 21, 48, 0.6) 100%));
}

@utility gradient-vertical-primary-800-60-transparent {
  background-image: var(--sd-color-vertical-primary-800-60-transparent, linear-gradient(180deg, rgba(5, 21, 48, 0.6) 0%, rgba(5, 21, 48, 0) 100%));
}

@utility gradient-vertical-primary-800-60-primary-800-75 {
  background-image: var(--sd-color-vertical-primary-800-60-primary-800-75, linear-gradient(180deg, rgba(5, 21, 48, 0.6) 0%, rgba(5, 21, 48, 0.75) 100%));
}

@utility gradient-vertical-primary-800-75-primary-800-60 {
  background-image: var(--sd-color-vertical-primary-800-75-primary-800-60, linear-gradient(180deg, rgba(5, 21, 48, 0.75) 0%, rgba(5, 21, 48, 0.6) 100%));
}

@utility gradient-vertical-transparent-white-80-white {
  background-image: var(--sd-color-vertical-transparent-white-80-white, linear-gradient(180deg, rgba(255, 255, 255, 0) 5%, rgba(255, 255, 255, 0.05) 75%, rgba(255, 255, 255, 1) 100%));
}

@utility gradient-vertical-white-white-80-transparent {
  background-image: var(--sd-color-vertical-white-white-80-transparent, linear-gradient(0deg, rgba(255, 255, 255, 0) 5%, rgba(255, 255, 255, 0.05) 75%, rgba(255, 255, 255, 1) 100%));
}

@utility gradient-horizontal-white-white-80-transparent {
  background-image: var(--sd-color-horizontal-white-white-80-transparent, linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.05) 65%, rgba(255, 255, 255, 1) 100%));
}

@utility gradient-horizontal-transparent-white-80-white {
  background-image: var(--sd-color-horizontal-transparent-white-80-white, linear-gradient(90deg, rgba(255, 255, 255, 0) 15%, rgba(255, 255, 255, 0.05) 75%, rgba(255, 255, 255, 1) 100%));
}

@utility gradient-horizontal-black-10-transparent {
  background-image: var(--sd-color-horizontal-black-10-transparent, linear-gradient(270deg, rgba(24, 24, 24, 0) 0%, rgba(24, 24, 24, 0.1) 100%));
}

@utility gradient-horizontal-transparent-black-10 {
  background-image: var(--sd-color-horizontal-transparent-black-10, linear-gradient(90deg, rgba(24, 24, 24, 0) 0%, rgba(24, 24, 24, 0.1) 100%));
}

@utility gradient-horizontal-transparent-black-40 {
  background-image: var(--sd-color-horizontal-transparent-black-40, linear-gradient(270deg, rgba(24, 24, 24, 0) 50%, rgba(24, 24, 24, 0.4) 100%));
}

@utility gradient-horizontal-black-40-transparent {
  background-image: var(--sd-color-horizontal-black-40-transparent, linear-gradient(90deg, rgba(24, 24, 24, 0) 50%, rgba(24, 24, 24, 0.4) 100%));
}

@utility z-10 {
  z-index: 10;
}

@utility z-20 {
  z-index: 20;
}

@utility z-30 {
  z-index: 30;
}

@utility z-40 {
  z-index: 40;
}

@utility z-50 {
  z-index: 50;
}

@utility z-auto {
  z-index: auto;
}

@utility z-header {
  z-index: var(--sd-z-index-header, 600);
}

@utility z-drawer {
  z-index: var(--sd-z-index-drawer, 700);
}

@utility z-dialog {
  z-index: var(--sd-z-index-dialog, 800);
}

@utility z-dropdown {
  z-index: var(--sd-z-index-dropdown, 900);
}

@utility z-alert-group {
  z-index: var(--sd-z-index-alert-group, 950);
}

@utility z-tooltip {
  z-index: var(--sd-z-index-tooltip, 1000);
}

@utility button-icon-fill-primary {
  fill: var(--sd-color-primary, #00358e);
}

@utility button-icon-fill-white {
  fill: var(--sd-color-white, #ffffff);
}

@utility button-icon-fill-primary-100 {
  fill: var(--sd-color-primary-100, #ecf0f9);
}

@utility button-icon-fill-primary-200 {
  fill: var(--sd-color-primary-200, #e0e9f3);
}

@utility button-icon-fill-primary-500 {
  fill: var(--sd-color-primary-500, #466daf);
}

@utility button-icon-fill-primary-800 {
  fill: var(--sd-color-primary-800, #051530);
}

@utility button-icon-fill-primary-alternative {
  fill: var(--sd-color-primary-alternative, #00358e);
}

@utility button-icon-fill-primary-500-alternative {
  fill: var(--sd-color-primary-500-alternative, #466daf);
}

@utility button-icon-fill-primary-800-alternative {
  fill: var(--sd-color-primary-800-alternative, #051530);
}

@utility button-border-primary {
  border-color: var(--sd-color-primary, #00358e);
}

@utility button-border-primary-500 {
  border-color: var(--sd-color-primary-500, #466daf);
}

@utility button-border-primary-800 {
  border-color: var(--sd-color-primary-800, #051530);
}

@utility button-text-primary {
  color: var(--sd-color-primary, #00358e);
}

@utility button-text-white {
  color: var(--sd-color-white, #ffffff);
}

@utility button-text-primary-100 {
  color: var(--sd-color-primary-100, #ecf0f9);
}

@utility button-text-primary-200 {
  color: var(--sd-color-primary-200, #e0e9f3);
}

@utility button-text-primary-500 {
  color: var(--sd-color-primary-500, #466daf);
}

@utility button-text-primary-800 {
  color: var(--sd-color-primary-800, #051530);
}

@utility button-text-primary-alternative {
  color: var(--sd-color-primary-alternative, #00358e);
}

@utility button-text-primary-500-alternative {
  color: var(--sd-color-primary-500-alternative, #466daf);
}

@utility button-text-primary-800-alternative {
  color: var(--sd-color-primary-800-alternative, #051530);
}

@utility button-background-primary {
  background-color: var(--sd-color-primary, #00358e);
}

@utility button-background-white {
  background-color: var(--sd-color-white, #ffffff);
}

@utility button-background-primary-100 {
  background-color: var(--sd-color-primary-100, #ecf0f9);
}

@utility button-background-primary-200 {
  background-color: var(--sd-color-primary-200, #e0e9f3);
}

@utility button-background-primary-500 {
  background-color: var(--sd-color-primary-500, #466daf);
}

@utility button-background-primary-800 {
  background-color: var(--sd-color-primary-800, #051530);
}

@utility button-background-primary-100-alternative {
  background-color: var(--sd-color-primary-100-alternative, #ecf0f9);
}

@utility button-background-primary-200-alternative {
  background-color: var(--sd-color-primary-200-alternative, #e0e9f3);
}

@utility button-background-primary-500-alternative {
  background-color: var(--sd-color-primary-500-alternative, #466daf);
}

@utility button-background-primary-800-alternative {
  background-color: var(--sd-color-primary-800-alternative, #051530);
}

@utility selection-control-border-neutral-800 {
  border-color: var(--sd-color-neutral-800, #515151);
}

@utility brandshape-border-null {
  border-color: var(--sd-color-null, rgba(255, 255, 255, 0));
}

@utility brandshape-background-neutral-100 {
  background-color: var(--sd-color-neutral-100, #f6f6f6);
}

@utility brandshape-background-white {
  background-color: var(--sd-color-white, #ffffff);
}

@utility varspacing-* {
  --tw-varspacing: --value(--spacing-*);
}

@utility focus-outline {
  outline-style: solid;
  outline-offset: 2px;
  outline-width: 2px;
  outline-color: var(--background-color-primary);
}

@utility focus-outline-inverted {
  outline-style: solid;
  outline-offset: 2px;
  outline-width: 2px;
  outline-color: var(--background-color-white);
}
