/*
 * This file contains utility classes that can't be contained in a component and must be applied to the light DOM. None
 * of the rules in this stylesheet should target component tags or HTML tags, and all classes *must* start with ".sd-"
 * to reduce the possibility of collisions.
 */

.sd-scroll-lock {
  padding-right: var(--sd-scroll-lock-size) !important;
  overflow: hidden !important;
}

.sd-toast-stack {
  position: fixed;
  top: 0;
  inset-inline-end: 0;
  z-index: var(--sd-z-index-toast);
  width: 28rem;
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
}

.sd-toast-stack sd-alert {
  margin: var(--sd-spacing-medium);
}

.sd-toast-stack sd-alert::part(base) {
  box-shadow: var(--sd-shadow-large);
}
