:root,
:host,
.sd-theme-light {
  color-scheme: light;

  /* Focus rings */
  --sd-focus-ring-color: var(--sd-color-primary-600);
  --sd-focus-ring-style: solid;
  --sd-focus-ring-width: 3px;
  --sd-focus-ring: var(--sd-focus-ring-style) var(--sd-focus-ring-width) var(--sd-focus-ring-color);
  --sd-focus-ring-offset: 1px;

  /*
   * Forms
   */

  /* Buttons */
  --sd-button-font-size-small: var(--sd-font-size-x-small);
  --sd-button-font-size-medium: var(--sd-font-size-small);
  --sd-button-font-size-large: var(--sd-font-size-medium);

  /* Inputs */
  --sd-input-height-small: 1.875rem; /* 30px */
  --sd-input-height-medium: 2.5rem; /* 40px */
  --sd-input-height-large: 3.125rem; /* 50px */

  --sd-input-background-color: var(--sd-color-neutral-0);
  --sd-input-background-color-hover: var(--sd-input-background-color);
  --sd-input-background-color-focus: var(--sd-input-background-color);
  --sd-input-background-color-disabled: var(--sd-color-neutral-100);
  --sd-input-border-color: var(--sd-color-neutral-300);
  --sd-input-border-color-hover: var(--sd-color-neutral-400);
  --sd-input-border-color-focus: var(--sd-color-primary-500);
  --sd-input-border-color-disabled: var(--sd-color-neutral-300);
  --sd-input-border-width: 1px;
  --sd-input-required-content: '*';
  --sd-input-required-content-offset: -2px;
  --sd-input-required-content-color: var(--sd-input-label-color);

  --sd-input-border-radius-small: var(--sd-border-radius-medium);
  --sd-input-border-radius-medium: var(--sd-border-radius-medium);
  --sd-input-border-radius-large: var(--sd-border-radius-medium);

  --sd-input-font-family: var(--sd-font-sans);
  --sd-input-font-weight: var(--sd-font-weight-normal);
  --sd-input-font-size-small: var(--sd-font-size-small);
  --sd-input-font-size-medium: var(--sd-font-size-medium);
  --sd-input-font-size-large: var(--sd-font-size-large);
  --sd-input-letter-spacing: var(--sd-letter-spacing-normal);

  --sd-input-color: var(--sd-color-neutral-700);
  --sd-input-color-hover: var(--sd-color-neutral-700);
  --sd-input-color-focus: var(--sd-color-neutral-700);
  --sd-input-color-disabled: var(--sd-color-neutral-900);
  --sd-input-icon-color: var(--sd-color-neutral-500);
  --sd-input-icon-color-hover: var(--sd-color-neutral-600);
  --sd-input-icon-color-focus: var(--sd-color-neutral-600);
  --sd-input-placeholder-color: var(--sd-color-neutral-500);
  --sd-input-placeholder-color-disabled: var(--sd-color-neutral-600);
  --sd-input-spacing-small: var(--sd-spacing-small);
  --sd-input-spacing-medium: var(--sd-spacing-medium);
  --sd-input-spacing-large: var(--sd-spacing-large);

  --sd-input-focus-ring-color: hsl(198.6 88.7% 48.4% / 40%);
  --sd-input-focus-ring-offset: 0;

  --sd-input-filled-background-color: var(--sd-color-neutral-100);
  --sd-input-filled-background-color-hover: var(--sd-color-neutral-100);
  --sd-input-filled-background-color-focus: var(--sd-color-neutral-100);
  --sd-input-filled-background-color-disabled: var(--sd-color-neutral-100);
  --sd-input-filled-color: var(--sd-color-neutral-800);
  --sd-input-filled-color-hover: var(--sd-color-neutral-800);
  --sd-input-filled-color-focus: var(--sd-color-neutral-700);
  --sd-input-filled-color-disabled: var(--sd-color-neutral-800);

  /* Labels */
  --sd-input-label-font-size-small: var(--sd-font-size-small);
  --sd-input-label-font-size-medium: var(--sd-font-size-medium);
  --sd-input-label-font-size-large: var(--sd-font-size-large);
  --sd-input-label-color: inherit;

  /* Help text */
  --sd-input-help-text-font-size-small: var(--sd-font-size-x-small);
  --sd-input-help-text-font-size-medium: var(--sd-font-size-small);
  --sd-input-help-text-font-size-large: var(--sd-font-size-medium);
  --sd-input-help-text-color: var(--sd-color-neutral-500);

  /* Toggles (checkboxes, radios, switches) */
  --sd-toggle-size-small: 0.875rem; /* 14px */
  --sd-toggle-size-medium: 1.125rem; /* 18px */
  --sd-toggle-size-large: 1.375rem; /* 22px */

  /*
   * Overlays
   */

  --sd-overlay-background-color: hsl(240 3.8% 46.1% / 33%);

  /*
   * Panels
   */

  --sd-panel-background-color: var(--sd-color-neutral-0);
  --sd-panel-border-color: var(--sd-color-neutral-200);
  --sd-panel-border-width: 1px;

  /*
   * Tooltips
   */

  --sd-tooltip-border-radius: var(--sd-border-radius-medium);
  --sd-tooltip-background-color: var(--sd-color-neutral-800);
  --sd-tooltip-color: var(--sd-color-neutral-0);
  --sd-tooltip-font-family: var(--sd-font-sans);
  --sd-tooltip-font-weight: var(--sd-font-weight-normal);
  --sd-tooltip-font-size: var(--sd-font-size-small);
  --sd-tooltip-line-height: var(--sd-line-height-dense);
  --sd-tooltip-padding: var(--sd-spacing-2x-small) var(--sd-spacing-x-small);
  --sd-tooltip-arrow-size: 6px;

  /*
   * Z-indexes
   */

  --sd-z-index-drawer: 700;
  --sd-z-index-dialog: 800;
  --sd-z-index-dropdown: 900;
  --sd-z-index-toast: 950;
  --sd-z-index-tooltip: 1000;
}

/* _utility.css */
