.sd-theme-vb {
  color-scheme: light;

  --sd-theme: 'vb';
  --sd-accordion-border-width: var(--sd-spacing-0\.5);
  --sd-accordion-color-text: var(--sd-color-black);
  --sd-accordion-padding-block: var(--sd-spacing-4);
  --sd-accordion__chevron-color: var(--sd-color-neutral-600);
  --sd-accordion__indicator-color: rgba(255, 255, 255, 0);
  --sd-aspect-16\/10: 16 / 10;
  --sd-aspect-21\/9: 21 / 9;
  --sd-aspect-2\/1: 2 / 1;
  --sd-aspect-3\/2: 3 / 2;
  --sd-aspect-3\/4: 3 / 4;
  --sd-aspect-4\/3: 4 / 3;
  --sd-aspect-4\/5: 4 / 5;
  --sd-aspect-5\/4: 5 / 4;
  --sd-aspect-6\/5: 6 / 5;
  --sd-aspect-golden-ratio: 1.6180339887498948482 / 1;
  --sd-aspect-square: 1 / 1;
  --sd-aspect-video: 16 / 9;
  --sd-border-width-2: 0.125rem;
  --sd-border-width-4: 0.25rem;
  --sd-border-width-6: 0.375rem;
  --sd-border-width: 0.0625rem;
  --sd-brandshape--neutral-100-color-border: rgba(255, 255, 255, 0);
  --sd-breadcrumb__separator-color: var(--sd-color-neutral-200);
  --sd-button--primary--hover-color-background: var(--sd-color-primary-600);
  --sd-button--primary--inverted--default-color-text: var(--sd-color-primary-900);
  --sd-button--primary--inverted--hover-color-text: var(--sd-color-primary-900);
  --sd-button--size-lg-border-radius: 624.9375rem;
  --sd-button--size-lg-font-size: 0.875rem;
  --sd-button--size-lg-icon-font-size: 1.25rem;
  --sd-button--size-lg-padding-block: 0.625rem;
  --sd-button--size-md-border-radius: 624.9375rem;
  --sd-button--size-md-font-size: 0.875rem;
  --sd-button--size-md-padding-block: 0.625rem;
  --sd-color-accent-100: #f4cdb2;
  --sd-color-accent-200: #f5b691;
  --sd-color-accent-300: #f79a66;
  --sd-color-accent-400: #f97e3a;
  --sd-color-accent-500: #f35e01;
  --sd-color-accent-550: #bd5622;
  --sd-color-accent-600: #ab5421;
  --sd-color-accent-700: #925020;
  --sd-color-accent-800: #693f1d;
  --sd-color-accent: #f35e01;
  --sd-color-background-accent-300: var(--sd-color-primary-400);
  --sd-color-background-accent-500: var(--sd-color-primary);
  --sd-color-background-accent-550: var(--sd-color-primary-600);
  --sd-color-background-accent-700: var(--sd-color-primary-750);
  --sd-color-background-accent: var(--sd-color-primary);
  --sd-color-background-neutral-200: var(--sd-color-neutral-100);
  --sd-color-background-neutral-300: var(--sd-color-neutral-200);
  --sd-color-background-neutral-400: var(--sd-color-neutral-300);
  --sd-color-background-neutral-500: var(--sd-color-neutral-400);
  --sd-color-background-primary: var(--sd-color-primary-900);
  --sd-color-black: #181818;
  --sd-color-border-accent-550: var(--sd-color-primary-600);
  --sd-color-border-accent: var(--sd-color-primary);
  --sd-color-border-neutral-400: var(--sd-color-neutral-200);
  --sd-color-border-neutral-500: var(--sd-color-neutral-400);
  --sd-color-default-color: rgba(0, 0, 0, 0.1);
  --sd-color-error-300: #d20000;
  --sd-color-error-400: #d20000;
  --sd-color-error: #d20000;
  --sd-color-icon-fill-neutral-400: var(--sd-color-neutral-200);
  --sd-color-icon-fill-neutral-500: var(--sd-color-neutral-400);
  --sd-color-info: #1582d5;
  --sd-color-neutral-100: #edf0f4;
  --sd-color-neutral-200: #d9e0e8;
  --sd-color-neutral-300: #ccd5e1;
  --sd-color-neutral-400: #bfcad9;
  --sd-color-neutral-500: rgba(0, 0, 0, 0.65);
  --sd-color-neutral-600: rgba(0, 0, 0, 0.62);
  --sd-color-neutral-700: rgba(0, 0, 0, 0.65);
  --sd-color-neutral-800: rgba(0, 0, 0, 0.65);
  --sd-color-primary-100: #f2f7fb;
  --sd-color-primary-200: #e5f0f7;
  --sd-color-primary-300: #99c2e1;
  --sd-color-primary-400: #6681a4;
  --sd-color-primary-500: #0066b3;
  --sd-color-primary-600: #005798;
  --sd-color-primary-700: #1a4276;
  --sd-color-primary-750: #1a4276;
  --sd-color-primary-800: #002d67;
  --sd-color-primary-900: #002d67;
  --sd-color-primary: #0066b3;
  --sd-color-risk-high: #fa9b1e;
  --sd-color-risk-increased: #fff000;
  --sd-color-risk-low: #017dc3;
  --sd-color-risk-moderate: #00a593;
  --sd-color-risk-veryhigh: #ff0000;
  --sd-color-sm-color: rgba(0, 0, 0, 0.65);
  --sd-color-success: #0c7336;
  --sd-color-text-neutral-500: var(--sd-color-neutral-400);
  --sd-color-text-primary-400: var(--sd-color-primary-300);
  --sd-color-warning: #ffab00;
  --sd-color-white: #ffffff;
  --sd-flag--neutral-500-color-background: var(--sd-color-neutral-400);
  --sd-font-primary: 'GenosGFG';
  --sd-font-weight-bold: 700;
  --sd-font-weight-normal: 400;
  --sd-header-padding-bottom: var(--sd-spacing-0\.5);
  --sd-navigable-border-radius: var(--sd-spacing-0\.5);
  --sd-navigable-font-size: 0.875rem;
  --sd-navigable__current-indicator-border-radius: 624.9375rem;
  --sd-navigable__current-indicator-height: 0.1875rem;
  --sd-navigation--current-color: var(--sd-color-black);
  --sd-navigation-color-text: var(--sd-color-neutral-800);
  --sd-opacity-0: 0%;
  --sd-opacity-100: 100%;
  --sd-opacity-10: 10%;
  --sd-opacity-20: 20%;
  --sd-opacity-30: 30%;
  --sd-opacity-50: 50%;
  --sd-opacity-55: 55%;
  --sd-opacity-5: 5%;
  --sd-opacity-60: 60%;
  --sd-opacity-70: 70%;
  --sd-opacity-75: 75%;
  --sd-opacity-80: 80%;
  --sd-opacity-85: 85%;
  --sd-opacity-90: 90%;
  --sd-overlay-color-background: rgba(5, 21, 48, 0.9);
  --sd-panel-color-border: rgba(255, 255, 255, 0);
  --sd-radius-full: 624.9375rem;
  --sd-radius-lg: 0.5rem;
  --sd-radius-md: 0.375rem;
  --sd-radius-none: 0;
  --sd-radius-sm: 0.125rem;
  --sd-radius: 0.25rem;
  --sd-sizing-10: 2.5rem;
  --sd-sizing-12: 3rem;
  --sd-sizing-16: 4rem;
  --sd-sizing-20: 5rem;
  --sd-sizing-24: 6rem;
  --sd-sizing-2: 0.5rem;
  --sd-sizing-2\.5: 0.625rem;
  --sd-sizing-3: 0.75rem;
  --sd-sizing-4: 1rem;
  --sd-sizing-5: 1.25rem;
  --sd-sizing-6: 1.5rem;
  --sd-sizing-8: 2rem;
  --sd-spacing-0\.25: 0.0625rem;
  --sd-spacing-0\.5: 0.125rem;
  --sd-spacing-10: 2.5rem;
  --sd-spacing-12: 3rem;
  --sd-spacing-16: 4rem;
  --sd-spacing-1: 0.25rem;
  --sd-spacing-1\.5: 0.375rem;
  --sd-spacing-20: 5rem;
  --sd-spacing-24: 6rem;
  --sd-spacing-2: 0.5rem;
  --sd-spacing-32: 8rem;
  --sd-spacing-3: 0.75rem;
  --sd-spacing-40: 10rem;
  --sd-spacing-4: 1rem;
  --sd-spacing-6: 1.5rem;
  --sd-spacing-8: 2rem;
  --sd-tag--selected--default-color-background: var(--sd-color-primary-900);
  --sd-text-2xl: 1.75rem;
  --sd-text-3xl: 2rem;
  --sd-text-4xl: 2.5rem;
  --sd-text-base: 1rem;
  --sd-text-lg: 1.25rem;
  --sd-text-sm: 0.875rem;
  --sd-text-xl: 1.5rem;
}

.sd-theme-vb {
  --sd-icon--vb--calendar: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M17 4h3q1 0 1 1v14q0 1-1 1H4a1 1 0 0 1-1-1V5q0-1 1-1h3V3a1 1 0 0 1 2 0v1h6V3a1 1 0 1 1 2 0zm0 2v1a1 1 0 1 1-2 0V6H9v1a1 1 0 0 1-2 0V6H5v12h14V6zm-1 4a1 1 0 1 1 0 2H8a1 1 0 1 1 0-2zm-5 4a1 1 0 1 1 0 2H8a1 1 0 1 1 0-2zm5 0a1 1 0 1 1 0 2h-2a1 1 0 1 1 0-2z" clip-rule="evenodd"/></svg>';
  --sd-icon--vb--chevron-down: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M16.2 9.2a1 1 0 0 1 1.4 1.5l-5 5a1 1 0 0 1-1.4 0l-5-5a1 1 0 1 1 1.5-1.5l4.2 4.3z" clip-rule="evenodd"/></svg>';
  --sd-icon--vb--chevron-up: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="m16.2 14.66-4.25-4.25-4.24 4.25a1 1 0 0 1-1.42-1.42l4.95-4.95a1 1 0 0 1 1.42 0l4.95 4.95a1 1 0 0 1-1.42 1.42" clip-rule="evenodd"/></svg>';
  --sd-icon--vb--chevron-right: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M8.3 16.2a1 1 0 1 0 1.4 1.4l5-5q.4-.6 0-1.4l-5-5a1 1 0 0 0-1.4 1.5l4.2 4.2z" clip-rule="evenodd"/></svg>';
  --sd-icon--vb--chevron-left: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M14.7 16.2a1 1 0 0 1-1.5 1.4l-5-5a1 1 0 0 1 0-1.4l5-5a1 1 0 0 1 1.5 1.5L10.4 12z" clip-rule="evenodd"/></svg>';
  --sd-icon--vb--clock: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M13 6v5.4l3.4 1.7a1 1 0 1 1-.8 1.8l-4-2a1 1 0 0 1-.6-.9V6a1 1 0 1 1 2 0m-1 16a10 10 0 1 1 0-20 10 10 0 0 1 0 20m0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16" clip-rule="evenodd"/></svg>';
  --sd-icon--vb--close: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M6.6 5.2h.1l5.3 5.4 5.3-5.3a1 1 0 0 1 1.5 1.3v.1L13.3 12l5.3 5.3a1 1 0 0 1-1.3 1.5h-.1L12 13.3l-5.3 5.3a1 1 0 0 1-1.5-1.3v-.1l5.4-5.3-5.3-5.3a1 1 0 0 1 1.3-1.5" clip-rule="evenodd"/></svg>';
  --sd-icon--vb--closing-round: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M6.6 5.2h.1l5.3 5.4 5.3-5.3a1 1 0 0 1 1.5 1.3v.1L13.3 12l5.3 5.3a1 1 0 0 1-1.3 1.5h-.1L12 13.3l-5.3 5.3a1 1 0 0 1-1.5-1.3v-.1l5.4-5.3-5.3-5.3a1 1 0 0 1 1.3-1.5" clip-rule="evenodd"/></svg>';
  --sd-icon--vb--eye: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 19q-6.6 0-10.8-6.4a1 1 0 0 1 0-1.2Q5.4 5.1 12 5q6.6 0 10.8 6.4.4.6 0 1.2Q18.6 19 12 19m0-2q5.2 0 8.8-5-3.6-5-8.8-5t-8.8 5q3.6 5 8.8 5m0-1a4 4 0 1 1 0-8 4 4 0 0 1 0 8m0-2a2 2 0 1 0 0-4 2 2 0 0 0 0 4" clip-rule="evenodd"/></svg>';
  --sd-icon--vb--eye-crossed-out: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M15.6 1.5a1 1 0 0 1 1.9.8v.1L16 5.7q4 1.4 6.8 5.8a1 1 0 0 1 0 1Q18.6 19 12 19l-2-.2-1.6 3.6v.1a1 1 0 0 1-1.9-.8v-.1L8 18.3Q4 17 1.2 12.6a1 1 0 0 1 0-1.1Q5.4 5 12 5l2 .2zm-.5 6-.6 1.4a4 4 0 0 1-3.2 7l-.4 1h.4l.4.1h.3q5 0 8.5-4.6l.2-.3V12q-2.4-3.4-5.6-4.4M12 7q-5 0-8.5 4.6l-.2.3v.2q2.4 3.4 5.6 4.4l.6-1.4a4 4 0 0 1 3.2-7l.4-1h-.8zm1.6 3.8L12.2 14a2 2 0 0 0 1.4-3.2m-1.8-.8a2 2 0 0 0-1.4 3.2z" clip-rule="evenodd"/></svg>';
  --sd-icon--vb--info-circle: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 2a10 10 0 1 1 0 20 10 10 0 0 1 0-20m0 2a8 8 0 1 0 0 16 8 8 0 0 0 0-16m1 12a1 1 0 1 1-2 0v-5a1 1 0 1 1 2 0zm0-8a1 1 0 0 1-2 .1V8a1 1 0 0 1 2-.1z" clip-rule="evenodd"/></svg>';
  --sd-icon--vb--status-check: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="m9.4 16.4 8.9-10a1 1 0 1 1 1.4 1.3l-9.6 11a1 1 0 0 1-1.5 0L4.2 13A1 1 0 1 1 5.8 12z" clip-rule="evenodd"/></svg>';
  --sd-icon--vb--status-minus: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M3 13a1 1 0 1 1 0-2h18a1 1 0 1 1 0 2z" clip-rule="evenodd"/></svg>';
  --sd-icon--vb--pause: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M9.5 3q1.4.2 1.5 1.5v15q-.1 1.4-1.5 1.5H4.6C3.8 21 3 20 3 19.2V4.8C3 3.9 3.8 3 4.6 3zm10 0q1.4.2 1.5 1.5v15q-.1 1.4-1.5 1.5h-4.9c-.8 0-1.6-1-1.6-1.8V4.8c0-.9.8-1.8 1.6-1.8zM9 5H5v14h4zm10 0h-4v14h4z" clip-rule="evenodd"/></svg>';
  --sd-icon--vb--risk: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M21.9 19.5A1 1 0 0 1 21 21H3a1 1 0 0 1-.9-1.5l9-16a1 1 0 0 1 1.8 0zM12 6 4.7 19h14.6zm-1 4a1 1 0 1 1 2 0v4a1 1 0 0 1-2 0zm0 7a1 1 0 1 1 2 0 1 1 0 0 1-2 0" clip-rule="evenodd"/></svg>';
  --sd-icon--vb--start: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M21.4 11.1a1 1 0 0 1 0 1.8l-17 8A1 1 0 0 1 3 20V4a1 1 0 0 1 1.4-.9zm-2.7.9L5 5.6v12.8z" clip-rule="evenodd"/></svg>';
  --sd-icon--vb--confirm-circle: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="m9.4 16.4 8.9-10a1 1 0 1 1 1.4 1.3l-9.6 11a1 1 0 0 1-1.5 0L4.2 13A1 1 0 1 1 5.8 12z" clip-rule="evenodd"/></svg>';
  --sd-icon--vb--warning: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M21.9 19.5A1 1 0 0 1 21 21H3a1 1 0 0 1-.9-1.5l9-16a1 1 0 0 1 1.8 0zM12 6 4.7 19h14.6zm-1 4a1 1 0 1 1 2 0v4a1 1 0 0 1-2 0zm0 7a1 1 0 1 1 2 0 1 1 0 0 1-2 0" clip-rule="evenodd"/></svg>';
  --sd-icon--vb--exclamation-circle: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 22a10 10 0 1 1 0-20 10 10 0 0 1 0 20m0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16M11 8a1 1 0 1 1 2 0v5a1 1 0 1 1-2 0zm0 8a1 1 0 1 1 2 0 1 1 0 1 1-2 0" clip-rule="evenodd"/></svg>';
  --sd-icon--vb--magnifying-glass: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M14 15.5a7.5 7.5 0 1 1 1.4-1.4l6.3 6.2a1 1 0 0 1-1.4 1.4zM9.5 15a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11" clip-rule="evenodd"/></svg>';
  --sd-icon--vb--transcript: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 2h.4l.3.3 7 7 .3.7v-.1V21q0 1-1 1H5a1 1 0 0 1-1-1V3q0-1 1-1zm-1 2H6v16h12v-9h-6a1 1 0 0 1-1-.9V4m5.6 5L13 5.4V9z" clip-rule="evenodd"/></svg>';
  --sd-icon--vb--mute: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M13.5 3.1a1 1 0 0 1 1.5.7V20a1 1 0 0 1-1.4 1v-.1L6.3 17H3a1 1 0 0 1-1-.8V8q0-.9.9-1h3.5zM13 5.7 7.1 8.9h-.3l-.1.1H4v6h3l.1.1 5.9 3.2zm3.3 3.6a1 1 0 0 1 1.3 0h.1l1.3 1.3 1.3-1.3a1 1 0 0 1 1.5 1.3v.1L20.3 12l1.3 1.3a1 1 0 0 1-1.3 1.5h-.1L19 13.3l-1.3 1.3a1 1 0 0 1-1.5-1.3v-.1l1.4-1.3-1.3-1.3a1 1 0 0 1 0-1.4" clip-rule="evenodd"/></svg>';
  --sd-icon--vb--volume: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M13.5 3.1a1 1 0 0 1 1.5.7V20a1 1 0 0 1-1.4 1v-.1L6.3 17H3a1 1 0 0 1-1-.8V8q0-.9.9-1h3.5zm6.3 2.3Q22 8.7 22 12a12 12 0 0 1-2.2 6.6 1 1 0 1 1-1.6-1A10 10 0 0 0 20 12q0-2.7-1.8-5.4a1 1 0 1 1 1.6-1.2m-6.8.3L7.1 8.9h-.3l-.1.1H4v6h3l.1.1 5.9 3.2zm4.8 2.7A6 6 0 0 1 19 12q0 1.8-1.2 3.6a1 1 0 0 1-1.6-1.2q.8-1.2.8-2.4t-.8-2.4a1 1 0 0 1 1.6-1.2" clip-rule="evenodd"/></svg>';
  --sd-icon--vb--reload: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M4 18v1a1 1 0 1 1-2 0v-4q0-.9 1-1h4a1 1 0 1 1 0 2H5a8 8 0 1 0-.6-6.5 1 1 0 0 1-2-.6A10 10 0 1 1 4 18" clip-rule="evenodd"/></svg>';
}

.sd-theme-vb {
  --sd-shadow-sm: 0.5px 0.5px var(--sd-color-neutral-800);
  --sd-shadow: 0 4px 10px rgba(0 0 0 / 0.1);
  --sd-drop-shadow-sm: 0.5px 0.5px var(--sd-color-neutral-800);
  --sd-drop-shadow: 0 4px 10px rgba(0 0 0 / 0.1);
}