:root, .sd-theme-vb {
  color-scheme: light;

  --sd-theme: 'vb';
  --sd-accordion-border-width: var(--sd-spacing-0\.5);
  --sd-accordion-color-text: var(--sd-color-black);
  --sd-accordion-padding-block: var(--sd-spacing-4);
  --sd-accordion__chevron-color-text: 255, 255, 255, 0.4;
  --sd-accordion__indicator-color: 255, 255, 255, 0;
  --sd-aspect-16\/10: 16 / 10;
  --sd-aspect-21\/9: 21 / 9;
  --sd-aspect-2\/1: 2 / 1;
  --sd-aspect-3\/2: 3 / 2;
  --sd-aspect-3\/4: 3 / 4;
  --sd-aspect-4\/3: 4 / 3;
  --sd-aspect-4\/5: 4 / 5;
  --sd-aspect-5\/4: 5 / 4;
  --sd-aspect-6\/5: 6 / 5;
  --sd-aspect-golden-ratio: 1.6180339887498948482 / 1;
  --sd-aspect-square: 1 / 1;
  --sd-aspect-video: 16 / 9;
  --sd-audio--inverted-color-border: var(--sd-color-white);
  --sd-audio__slide-bar--inverted-color-border: 255, 255, 255, 0.5;
  --sd-audio__timestamp-color-text: var(--sd-color-neutral-700);
  --sd-badge--blue--inverted-color-background: var(--sd-color-white);
  --sd-badge--blue--inverted-color-text: var(--sd-color-info);
  --sd-badge--blue-color-background: var(--sd-color-primary);
  --sd-badge--green-color--inverted-background: var(--sd-color-success);
  --sd-badge--green-color--inverted-text: var(--sd-color-white);
  --sd-badge--green-color-background: var(--sd-color-success);
  --sd-badge--inverted-color-border: var(--sd-color-info);
  --sd-badge--red--inverted-background: var(--sd-color-error);
  --sd-badge--red--inverted-text: var(--sd-color-white);
  --sd-badge--red-color-background: var(--sd-color-error);
  --sd-border-width-2: 0.125rem;
  --sd-border-width-4: 0.25rem;
  --sd-border-width-6: 0.375rem;
  --sd-border-width: 0.0625rem;
  --sd-brandshape--neutral-100-color-background: var(--sd-color-primary-100);
  --sd-brandshape--white-color-background: var(--sd-color-white);
  --sd-breadcrumb__separator--current-color: var(--sd-color-warning);
  --sd-breadcrumb__separator-color: var(--sd-color-neutral-200);
  --sd-button--cta--inverted--active-color-background: var(--sd-color-white);
  --sd-button--cta--inverted--active-color-text: var(--sd-color-info);
  --sd-button--cta--inverted--default-color-background: var(--sd-color-white);
  --sd-button--cta--inverted--default-color-text: var(--sd-color-info);
  --sd-button--cta--inverted--hover-color-background: var(--sd-color-primary-100);
  --sd-button--cta--inverted--hover-color-text: var(--sd-color-primary);
  --sd-button--inverted--disabled-color-background: var(--sd-color-primary-400);
  --sd-button--inverted--disabled-color-border: var(--sd-color-primary-400);
  --sd-button--inverted--disabled-color-text: var(--sd-color-primary-400);
  --sd-button--primary--active-color-text: var(--sd-color-primary-200);
  --sd-button--primary--default-color-background: var(--sd-color-primary);
  --sd-button--primary--default-color-text: var(--sd-color-white);
  --sd-button--primary--hover-color-background: var(--sd-color-primary-600);
  --sd-button--primary--inverted--active-color-background: var(--sd-color-primary-200);
  --sd-button--primary--inverted--active-color-text: var(--sd-color-info);
  --sd-button--primary--inverted--default-color-background: var(--sd-color-white);
  --sd-button--primary--inverted--default-color-text: var(--sd-color-info);
  --sd-button--primary--inverted--hover-color-background: var(--sd-color-primary-100);
  --sd-button--primary--inverted--hover-color-text: var(--sd-color-info);
  --sd-button--secondary--active-color-background: var(--sd-color-primary-100);
  --sd-button--secondary--default-color-text: var(--sd-color-primary);
  --sd-button--secondary--disabled-color-text: var(--sd-color-neutral-500);
  --sd-button--secondary--hover-color-background: var(--sd-color-primary-100);
  --sd-button--secondary--inverted--active-color-background: 39, 77, 126;
  --sd-button--secondary--inverted--hover-color-background: var(--sd-color-primary-750);
  --sd-button--secondary--inverted--hover-color-text: var(--sd-color-primary-100);
  --sd-button--secondary--inverted-color-border: var(--sd-color-white);
  --sd-button--size-lg-border-radius: 624.9375rem;
  --sd-button--size-lg-font-size: 0.875rem;
  --sd-button--size-lg-padding-block: 0.625rem;
  --sd-button--size-md-border-radius: 624.9375rem;
  --sd-button--size-md-font-size: 0.875rem;
  --sd-button--size-md-padding-block: 0.625rem;
  --sd-button--size-sm-border-radius: 624.9375rem;
  --sd-button--size-sm-font-size: 0.875rem;
  --sd-button--size-sm-padding-block: 0.625rem;
  --sd-button--tertiary--active-color-background: var(--sd-color-primary-100);
  --sd-button--tertiary--default-color-text: var(--sd-color-primary);
  --sd-button--tertiary--disabled-color-text: var(--sd-color-neutral-500);
  --sd-button--tertiary--hover-color-background: var(--sd-color-primary-100);
  --sd-button--tertiary--inverted--active-color-background: 39, 77, 126;
  --sd-button--tertiary--inverted--hover-color-background: var(--sd-color-primary-750);
  --sd-button--tertiary--inverted--hover-color-text: var(--sd-color-primary-100);
  --sd-button-font-weight: var(--sd-font-weight-bold);
  --sd-carousel--active--inverted-color-border: var(--sd-color-white);
  --sd-carousel--active-color-border: var(--sd-color-primary);
  --sd-carousel__pager-dot--inverted--hovered-background: var(--sd-color-white);
  --sd-carousel__pager-dot--inverted-background: var(--sd-color-white);
  --sd-carousel__pager-dot--inverted-border: var(--sd-color-white);
  --sd-carousel__pager-dot-background: var(--sd-color-primary);
  --sd-carousel__pager-dot-border-width: var(--sd-spacing-0\.5);
  --sd-checkbox-border-width: var(--sd-spacing-0\.5);
  --sd-chip--primary-200-color-background: 237, 240, 244;
  --sd-chip--primary-200-color-border: var(--sd-color-info);
  --sd-chip--primary-300-color-background: 237, 248, 253;
  --sd-chip--primary-300-color-border: 0, 121, 168;
  --sd-chip--primary-500-color-background: 237, 248, 253;
  --sd-chip--primary-500-color-border: 0, 121, 168;
  --sd-chip--primary-500-color-text: var(--sd-color-black);
  --sd-chip--white-color-background: 237, 240, 244;
  --sd-chip--white-color-border: var(--sd-color-info);
  --sd-chip-border-radius: var(--sd-spacing-1);
  --sd-chip-border-width: var(--sd-spacing-0\.25);
  --sd-chip-font-size: 0.875rem;
  --sd-chip-font-weight: var(--sd-font-weight-normal);
  --sd-color-accent-100: 244, 205, 178;
  --sd-color-accent-200: 245, 182, 145;
  --sd-color-accent-300: 247, 154, 102;
  --sd-color-accent-400: 249, 126, 58;
  --sd-color-accent-500: 243, 94, 1;
  --sd-color-accent-550: 189, 86, 34;
  --sd-color-accent-600: 171, 84, 33;
  --sd-color-accent-700: 146, 80, 32;
  --sd-color-accent-800: 105, 63, 29;
  --sd-color-accent: 243, 94, 1;
  --sd-color-background-accent-300: var(--sd-color-primary-400);
  --sd-color-background-accent-500: var(--sd-color-primary);
  --sd-color-background-accent-550: var(--sd-color-primary-600);
  --sd-color-background-accent-700: var(--sd-color-primary-750);
  --sd-color-background-accent: var(--sd-color-primary);
  --sd-color-background-error-400: var(--sd-color-error);
  --sd-color-background-error: var(--sd-color-error);
  --sd-color-background-info: var(--sd-color-info);
  --sd-color-background-neutral-100: var(--sd-color-primary-100);
  --sd-color-background-neutral-200: var(--sd-color-neutral-100);
  --sd-color-background-neutral-300: var(--sd-color-neutral-200);
  --sd-color-background-neutral-400: var(--sd-color-neutral-300);
  --sd-color-background-neutral-500: var(--sd-color-neutral-500);
  --sd-color-background-neutral-600: var(--sd-color-neutral-600);
  --sd-color-background-neutral-800: var(--sd-color-neutral-800);
  --sd-color-background-primary-100: var(--sd-color-primary-100);
  --sd-color-background-primary-200: var(--sd-color-primary-200);
  --sd-color-background-primary-300: var(--sd-color-primary-300);
  --sd-color-background-primary-500: var(--sd-color-primary);
  --sd-color-background-primary-800: var(--sd-color-info);
  --sd-color-background-primary: var(--sd-color-info);
  --sd-color-background-success: var(--sd-color-success);
  --sd-color-background-warning: var(--sd-color-warning);
  --sd-color-background-white: var(--sd-color-white);
  --sd-color-background: 0, 102, 179, 0.05;
  --sd-color-black: 0, 0, 0, 0.86;
  --sd-color-border-accent-550: var(--sd-color-primary-600);
  --sd-color-border-accent: var(--sd-color-primary);
  --sd-color-border-error-400: var(--sd-color-error);
  --sd-color-border-error: var(--sd-color-error);
  --sd-color-border-neutral-400: var(--sd-color-neutral-500);
  --sd-color-border-neutral-500: var(--sd-color-neutral-500);
  --sd-color-border-neutral-600: var(--sd-color-neutral-600);
  --sd-color-border-neutral-800: var(--sd-color-neutral-800);
  --sd-color-border-primary-100: var(--sd-color-primary-100);
  --sd-color-border-primary-200: var(--sd-color-primary-200);
  --sd-color-border-primary-400: var(--sd-color-neutral-500);
  --sd-color-border-primary-500: var(--sd-color-primary);
  --sd-color-border-primary-800: var(--sd-color-info);
  --sd-color-border-primary: var(--sd-color-primary);
  --sd-color-border-success: var(--sd-color-success);
  --sd-color-border-white: var(--sd-color-white);
  --sd-color-error-250: 210, 0, 0;
  --sd-color-error-300: 210, 0, 0;
  --sd-color-error-400: 210, 0, 0;
  --sd-color-error-500: 210, 0, 0;
  --sd-color-error: 210, 0, 0;
  --sd-color-icon-fill-accent-550: var(--sd-color-accent-550);
  --sd-color-icon-fill-accent: var(--sd-color-warning);
  --sd-color-icon-fill-error-400: var(--sd-color-error);
  --sd-color-icon-fill-error: var(--sd-color-error);
  --sd-color-icon-fill-neutral-400: var(--sd-color-neutral-200);
  --sd-color-icon-fill-neutral-500: var(--sd-color-neutral-300);
  --sd-color-icon-fill-neutral-600: 255, 255, 255, 0.4;
  --sd-color-icon-fill-neutral-800: var(--sd-color-neutral-800);
  --sd-color-icon-fill-primary-100: var(--sd-color-primary-100);
  --sd-color-icon-fill-primary-200: var(--sd-color-primary-200);
  --sd-color-icon-fill-primary-400: 255, 255, 255, 0.84;
  --sd-color-icon-fill-primary-500: var(--sd-color-primary);
  --sd-color-icon-fill-primary-800: var(--sd-color-info);
  --sd-color-icon-fill-primary: var(--sd-color-primary);
  --sd-color-icon-fill-risk-high: var(--sd-color-risk-high);
  --sd-color-icon-fill-risk-increased: var(--sd-color-risk-increased);
  --sd-color-icon-fill-risk-low: var(--sd-color-risk-low);
  --sd-color-icon-fill-risk-moderate: var(--sd-color-risk-moderate);
  --sd-color-icon-fill-risk-veryhigh: var(--sd-color-risk-veryhigh);
  --sd-color-icon-fill-success: var(--sd-color-success);
  --sd-color-icon-fill-white: var(--sd-color-white);
  --sd-color-info: 0, 45, 103;
  --sd-color-neutral-100: 245, 247, 249;
  --sd-color-neutral-200: 217, 224, 232;
  --sd-color-neutral-300: 204, 213, 225;
  --sd-color-neutral-400: 191, 202, 217;
  --sd-color-neutral-500: 191, 202, 217;
  --sd-color-neutral-600: 89, 89, 89;
  --sd-color-neutral-700: 0, 0, 0, 0.62;
  --sd-color-neutral-800: 0, 0, 0, 0.65;
  --sd-color-primary-100: 224, 237, 246;
  --sd-color-primary-200: 229, 240, 247;
  --sd-color-primary-300: 153, 194, 225;
  --sd-color-primary-400: 102, 129, 164;
  --sd-color-primary-500: 0, 102, 179;
  --sd-color-primary-600: 0, 87, 152;
  --sd-color-primary-700: 26, 66, 118;
  --sd-color-primary-750: 26, 66, 118;
  --sd-color-primary-800: 0, 45, 103;
  --sd-color-primary-900: 0, 45, 103;
  --sd-color-primary: 0, 102, 179;
  --sd-color-risk-high: 250, 155, 30;
  --sd-color-risk-increased: 255, 240, 0;
  --sd-color-risk-low: 1, 125, 195;
  --sd-color-risk-moderate: 0, 165, 147;
  --sd-color-risk-veryhigh: 255, 0, 0;
  --sd-color-success: 12, 115, 54;
  --sd-color-text-accent: var(--sd-color-warning);
  --sd-color-text-black: var(--sd-color-black);
  --sd-color-text-error: var(--sd-color-error);
  --sd-color-text-neutral-500: 89, 89, 89, 0.4;
  --sd-color-text-neutral-600: 255, 255, 255, 0.4;
  --sd-color-text-neutral-700: var(--sd-color-neutral-700);
  --sd-color-text-primary-100: var(--sd-color-primary-100);
  --sd-color-text-primary-200: var(--sd-color-primary-200);
  --sd-color-text-primary-400: 255, 255, 255, 0.84;
  --sd-color-text-primary-500: var(--sd-color-primary);
  --sd-color-text-primary-800: var(--sd-color-info);
  --sd-color-text-primary: var(--sd-color-info);
  --sd-color-text-success: var(--sd-color-success);
  --sd-color-text-white: var(--sd-color-white);
  --sd-color-warning: 243, 94, 1;
  --sd-color-white: 255, 255, 255;
  --sd-combobox--default-color-icon: var(--sd-color-primary);
  --sd-combobox--default-color-text: var(--sd-color-primary);
  --sd-combobox__tag-border-width: var(--sd-spacing-0\.5);
  --sd-datepicker__date-item--current-font-weight: var(--sd-font-weight-bold);
  --sd-datepicker__date-item--default-color-text: var(--sd-color-black);
  --sd-datepicker__date-item--default-font-weight: var(--sd-font-weight-normal);
  --sd-datepicker__date-item--hovered--current-color-text: var(--sd-color-primary);
  --sd-datepicker__date-item--hovered--default-color-background: var(--sd-color-primary-100);
  --sd-datepicker__date-item--hovered--default-color-text: var(--sd-color-black);
  --sd-datepicker__date-item--hovered--prev-next-color-background: var(--sd-color-primary-100);
  --sd-datepicker__date-item--hovered--prev-next-color-text: var(--sd-color-neutral-700);
  --sd-datepicker__date-item--selected-color-text: var(--sd-color-white);
  --sd-divider--inverted-color-border: 255, 255, 255, 0.4;
  --sd-drop-shadow-sm:  0.5px 0.5px 1.5px rgba(0, 0, 0, 0.65);
  --sd-drop-shadow:  0px 0px 20px rgba(0, 0, 0, 0.25);
  --sd-dropdown-color-background: var(--sd-color-white);
  --sd-duration-fast: 150ms;
  --sd-duration-medium: 300ms;
  --sd-duration-slow: 500ms;
  --sd-duration-x-slow: 750ms;
  --sd-flag--neutral-200-color-background: 237, 240, 244;
  --sd-flag--neutral-200-color-border: var(--sd-color-info);
  --sd-flag--neutral-300-color-background: 237, 248, 253;
  --sd-flag--neutral-300-color-border: 0, 121, 168;
  --sd-flag--neutral-500-color-background: 237, 248, 253;
  --sd-flag--neutral-500-color-border: 0, 121, 168;
  --sd-flag--white-color-background: 237, 240, 244;
  --sd-flag--white-color-border: var(--sd-color-info);
  --sd-flag-border-radius: var(--sd-spacing-1);
  --sd-flag-border-width: var(--sd-spacing-0\.25);
  --sd-flag-font-size: 0.875rem;
  --sd-flag-font-weight: var(--sd-font-weight-normal);
  --sd-font-primary: 'GenosGFG';
  --sd-font-weight-bold: 600;
  --sd-font-weight-normal: 400;
  --sd-footnotes--target--inverted-color-background: var(--sd-color-primary-750);
  --sd-form-control--filled__floating-label-color-text: var(--sd-color-neutral-700);
  --sd-form-control--invalid-color-background: 253, 237, 237;
  --sd-form-control-border-radius: var(--sd-spacing-1);
  --sd-form-control-color-border: var(--sd-color-black);
  --sd-form-control-color-icon-fill: var(--sd-color-neutral-700);
  --sd-form-control-color-text: var(--sd-color-neutral-700);
  --sd-form-control__tooltip-color-icon: var(--sd-color-black);
  --sd-header-padding-bottom: var(--sd-spacing-0\.5);
  --sd-header__underline-color-background: var(--sd-color-neutral-200);
  --sd-header__underline-height: var(--sd-spacing-0\.25);
  --sd-headline-4xl-and-mobile-4xl-text: var(--sd-color-info);
  --sd-informational-gradient--primary-800-color-background: var(--sd-color-info);
  --sd-informational-gradient--white-color-background: var(--sd-color-white);
  --sd-interactive--active-color-text: var(--sd-color-info);
  --sd-interactive--default-color-text: var(--sd-color-primary);
  --sd-link-color--active-text: var(--sd-color-primary);
  --sd-link-color--default-text: var(--sd-color-primary);
  --sd-link-color--disabled-text: 195, 195, 195;
  --sd-link-color--hover-icon: var(--sd-color-primary);
  --sd-link-color--hover-text: var(--sd-color-primary);
  --sd-link-color--none-icon: var(--sd-color-primary);
  --sd-link-color--pressed-icon: var(--sd-color-primary);
  --sd-map-marker-cluster--hovered-color-icon-fill: var(--sd-color-primary-600);
  --sd-map-marker-cluster-color-icon-fill: var(--sd-color-primary);
  --sd-map-marker-font-size: var(--sd-spacing-3);
  --sd-map-marker-main-color-icon-fill: var(--sd-color-primary);
  --sd-menu--disabled-color-icon: 0, 0, 0, 0.2;
  --sd-menu--disabled-color-text: 0, 0, 0, 0.2;
  --sd-menu-color-icon: var(--sd-color-black);
  --sd-menu-color-text: var(--sd-color-black);
  --sd-navigable-border-radius: var(--sd-spacing-0\.5);
  --sd-navigable-font-size: 0.875rem;
  --sd-navigable__current-indicator-border-radius: 624.9375rem;
  --sd-navigable__current-indicator-height: 0.1875rem;
  --sd-navigable__current-indicator-width: 0.1875rem;
  --sd-navigation-item--current-color-text: var(--sd-color-black);
  --sd-navigation-item-color-text: var(--sd-color-neutral-700);
  --sd-notification--error-color-background: 253, 237, 237;
  --sd-notification--info-color-background: 237, 240, 244;
  --sd-notification--success-color-background: 238, 246, 242;
  --sd-notification--warning-color-background: 255, 245, 224;
  --sd-notification-color-border: var(--sd-color-info);
  --sd-notification-color-icon-fill: var(--sd-color-neutral-800);
  --sd-opacity-0: 0%;
  --sd-opacity-100: 100%;
  --sd-opacity-10: 10%;
  --sd-opacity-20: 20%;
  --sd-opacity-30: 30%;
  --sd-opacity-50: 50%;
  --sd-opacity-55: 55%;
  --sd-opacity-5: 5%;
  --sd-opacity-60: 60%;
  --sd-opacity-70: 70%;
  --sd-opacity-75: 75%;
  --sd-opacity-80: 80%;
  --sd-opacity-85: 85%;
  --sd-opacity-90: 90%;
  --sd-option--disabled-color-border: var(--sd-color-neutral-300);
  --sd-overlay-color-background: 0, 0, 0, 0.2;
  --sd-pagination--default-border: var(--sd-color-primary);
  --sd-pagination--inverted-border: var(--sd-color-white);
  --sd-panel-color-border: 255, 255, 255, 0;
  --sd-quickfact--expandable-color-text: var(--sd-color-black);
  --sd-quickfact__expandable-color-description-default-text: var(--sd-color-neutral-700);
  --sd-quickfact__expandable-color-title-default-text: var(--sd-color-black);
  --sd-radio--checked--default-color-background: var(--sd-color-primary);
  --sd-radio--checked--default__icon-color-background: var(--sd-color-white);
  --sd-radio--checked--hover-color-background: var(--sd-color-primary-600);
  --sd-radio--checked--hover__icon-color-background: var(--sd-color-white);
  --sd-radio--checked--invalid--default-color-background: var(--sd-color-error);
  --sd-radio--checked--invalid--default__icon-color-background: var(--sd-color-white);
  --sd-radio--checked--invalid--hover__icon-color-background: var(--sd-color-white);
  --sd-radio--default--invalid-color-background: 253, 237, 237;
  --sd-radio--error-color-text: var(--sd-color-black);
  --sd-radio-border-width: var(--sd-spacing-0\.5);
  --sd-radio-button--hover-color-background: 0, 102, 179, 0.05;
  --sd-radio-button--hover-color-icon-fill: var(--sd-color-black);
  --sd-radio-button--hover-color-text: var(--sd-color-black);
  --sd-radio-button-border-radius: var(--sd-spacing-1);
  --sd-radio-button-color-icon-fil: var(--sd-color-black);
  --sd-radio-button-color-text: var(--sd-color-black);
  --sd-radio-button-group-border-radius: var(--sd-spacing-2);
  --sd-radio-button-group-border-width: var(--sd-spacing-0\.5);
  --sd-radio-button-group-padding: var(--sd-spacing-1);
  --sd-radius-full: 624.9375rem;
  --sd-radius-lg: 0.5rem;
  --sd-radius-md: 0.375rem;
  --sd-radius-none: 0;
  --sd-radius-sm: 0.125rem;
  --sd-radius: 0.25rem;
  --sd-range-scale-ticks-color-text: var(--sd-color-neutral-600);
  --sd-range__bar-border-width: var(--sd-spacing-0\.5);
  --sd-shadow-sm:  0.5px 0.5px 1.5px 0px rgba(0, 0, 0, 0.65);
  --sd-shadow:  0px 0px 20px 0px rgba(0, 0, 0, 0.25);
  --sd-sizing-0\.25: 0.0625rem;
  --sd-sizing-0\.5: 0.125rem;
  --sd-sizing-10: 2.5rem;
  --sd-sizing-12: 3rem;
  --sd-sizing-16: 4rem;
  --sd-sizing-1: 0.25rem;
  --sd-sizing-20: 5rem;
  --sd-sizing-24: 6rem;
  --sd-sizing-2: 0.5rem;
  --sd-sizing-2\.5: 0.625rem;
  --sd-sizing-3: 0.75rem;
  --sd-sizing-4: 1rem;
  --sd-sizing-5: 1.25rem;
  --sd-sizing-6: 1.5rem;
  --sd-sizing-8: 2rem;
  --sd-skeleton-color: var(--sd-color-neutral-100);
  --sd-spacing-0\.25: 0.0625rem;
  --sd-spacing-0\.5: 0.125rem;
  --sd-spacing-10: 2.5rem;
  --sd-spacing-12: 3rem;
  --sd-spacing-14: 3.5rem;
  --sd-spacing-16: 4rem;
  --sd-spacing-1: 0.25rem;
  --sd-spacing-1\.5: 0.375rem;
  --sd-spacing-20: 5rem;
  --sd-spacing-24: 6rem;
  --sd-spacing-2: 0.5rem;
  --sd-spacing-32: 8rem;
  --sd-spacing-3: 0.75rem;
  --sd-spacing-40: 10rem;
  --sd-spacing-4: 1rem;
  --sd-spacing-6: 1.5rem;
  --sd-spacing-8: 2rem;
  --sd-step-color-text: var(--sd-color-neutral-700);
  --sd-step-hover-color-text: var(--sd-color-neutral-700);
  --sd-step__circle-border-width: var(--sd-spacing-0\.5);
  --sd-step__tail-border-width: var(--sd-spacing-1);
  --sd-switch--checked--hover-color-background: var(--sd-color-primary-600);
  --sd-switch--unchecked-color-border: var(--sd-color-black);
  --sd-switch--unchecked__icon-color-background: var(--sd-color-black);
  --sd-switch-color-text: var(--sd-color-black);
  --sd-tab-color-border: var(--sd-color-neutral-500);
  --sd-tab-font-weight: var(--sd-font-weight-bold);
  --sd-tag--default--hover-color-background: var(--sd-color-primary-100);
  --sd-tag--default-color-background: 255, 255, 255, 0;
  --sd-tag--default-color-border: var(--sd-color-primary);
  --sd-tag--default-color-text: var(--sd-color-primary);
  --sd-tag--disabled-color-border: var(--sd-color-primary-400);
  --sd-tag--selected--default-color-background: var(--sd-color-primary-200);
  --sd-tag--selected--default-color-border: var(--sd-color-primary);
  --sd-tag--selected--default-color-text: var(--sd-color-primary);
  --sd-tag--selected--hover-color-background: 218, 232, 244;
  --sd-tag--selected--hover-color-border: var(--sd-color-primary);
  --sd-tag--selected--hover-color-text: var(--sd-color-primary);
  --sd-tag--selected-border-width: var(--sd-spacing-0\.25);
  --sd-tag--size-lg-font-size: var(--sd-spacing-4);
  --sd-tag--size-sm-font-size: 0.875rem;
  --sd-tag-border-radius: var(--sd-spacing-2);
  --sd-tag-font-weight: var(--sd-font-weight-bold);
  --sd-teaser--neutral-100-color-background: var(--sd-color-neutral-100);
  --sd-teaser--neutral-400-color-border: var(--sd-color-neutral-500);
  --sd-teaser--primary-100-color-background: var(--sd-color-neutral-100);
  --sd-teaser-border-radius: 0;
  --sd-teaser-media--neutral-100--hover-color-background: 245, 247, 249, 0.9;
  --sd-teaser-media--neutral-100-color-background: 245, 247, 249, 0.8;
  --sd-teaser-media--primary-100--hover-color-background: 245, 247, 249, 0.9;
  --sd-teaser-media--primary-100-color-background: 245, 247, 249, 0.8;
  --sd-text-2xl: 1.75rem;
  --sd-text-3xl: 2rem;
  --sd-text-4xl: 2.375rem;
  --sd-text-base: 1rem;
  --sd-text-lg: 1.25rem;
  --sd-text-sm: 0.875rem;
  --sd-text-xl: 1.5rem;
  --sd-text-xs: 0.75rem;
  --sd-tooltip-border-width: var(--sd-spacing-0\.25);
  --sd-tooltip-color-background: var(--sd-color-white);
  --sd-tooltip-color-border: var(--sd-color-neutral-500);
  --sd-tooltip-color-text: var(--sd-color-neutral-600);
  --sd-video--description-color-text: var(--sd-color-neutral-700);
  --sd-video--play-button-color-background: var(--sd-color-white);
  --sd-video--play-button-color-icon-fill: var(--sd-color-info);
}

.sd-theme-vb {
  --sd-icon--calendar: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M17 4h3q1 0 1 1v14q0 1-1 1H4a1 1 0 0 1-1-1V5q0-1 1-1h3V3a1 1 0 0 1 2 0v1h6V3a1 1 0 1 1 2 0zm0 2v1a1 1 0 1 1-2 0V6H9v1a1 1 0 0 1-2 0V6H5v12h14V6zm-1 4a1 1 0 1 1 0 2H8a1 1 0 1 1 0-2zm-5 4a1 1 0 1 1 0 2H8a1 1 0 1 1 0-2zm5 0a1 1 0 1 1 0 2h-2a1 1 0 1 1 0-2z" clip-rule="evenodd"/></svg>';
  --sd-icon--chevron-down: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M16.2 9.2a1 1 0 0 1 1.4 1.5l-5 5a1 1 0 0 1-1.4 0l-5-5a1 1 0 1 1 1.5-1.5l4.2 4.3z" clip-rule="evenodd"/></svg>';
  --sd-icon--chevron-up: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="m16.2 14.66-4.25-4.25-4.24 4.25a1 1 0 0 1-1.42-1.42l4.95-4.95a1 1 0 0 1 1.42 0l4.95 4.95a1 1 0 0 1-1.42 1.42" clip-rule="evenodd"/></svg>';
  --sd-icon--chevron-right: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M8.3 16.2a1 1 0 1 0 1.4 1.4l5-5q.4-.6 0-1.4l-5-5a1 1 0 0 0-1.4 1.5l4.2 4.2z" clip-rule="evenodd"/></svg>';
  --sd-icon--chevron-left: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M14.7 16.2a1 1 0 0 1-1.5 1.4l-5-5a1 1 0 0 1 0-1.4l5-5a1 1 0 0 1 1.5 1.5L10.4 12z" clip-rule="evenodd"/></svg>';
  --sd-icon--clock: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M13 6v5.4l3.4 1.7a1 1 0 1 1-.8 1.8l-4-2a1 1 0 0 1-.6-.9V6a1 1 0 1 1 2 0m-1 16a10 10 0 1 1 0-20 10 10 0 0 1 0 20m0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16" clip-rule="evenodd"/></svg>';
  --sd-icon--close: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M6.6 5.2h.1l5.3 5.4 5.3-5.3a1 1 0 0 1 1.5 1.3v.1L13.3 12l5.3 5.3a1 1 0 0 1-1.3 1.5h-.1L12 13.3l-5.3 5.3a1 1 0 0 1-1.5-1.3v-.1l5.4-5.3-5.3-5.3a1 1 0 0 1 1.3-1.5" clip-rule="evenodd"/></svg>';
  --sd-icon--closing-round: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M6.6 5.2h.1l5.3 5.4 5.3-5.3a1 1 0 0 1 1.5 1.3v.1L13.3 12l5.3 5.3a1 1 0 0 1-1.3 1.5h-.1L12 13.3l-5.3 5.3a1 1 0 0 1-1.5-1.3v-.1l5.4-5.3-5.3-5.3a1 1 0 0 1 1.3-1.5" clip-rule="evenodd"/></svg>';
  --sd-icon--eye: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 19q-6.6 0-10.8-6.4a1 1 0 0 1 0-1.2Q5.4 5.1 12 5q6.6 0 10.8 6.4.4.6 0 1.2Q18.6 19 12 19m0-2q5.2 0 8.8-5-3.6-5-8.8-5t-8.8 5q3.6 5 8.8 5m0-1a4 4 0 1 1 0-8 4 4 0 0 1 0 8m0-2a2 2 0 1 0 0-4 2 2 0 0 0 0 4" clip-rule="evenodd"/></svg>';
  --sd-icon--eye-crossed-out: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M15.6 1.5a1 1 0 0 1 1.9.8v.1L16 5.7q4 1.4 6.8 5.8a1 1 0 0 1 0 1Q18.6 19 12 19l-2-.2-1.6 3.6v.1a1 1 0 0 1-1.9-.8v-.1L8 18.3Q4 17 1.2 12.6a1 1 0 0 1 0-1.1Q5.4 5 12 5l2 .2zm-.5 6-.6 1.4a4 4 0 0 1-3.2 7l-.4 1h.4l.4.1h.3q5 0 8.5-4.6l.2-.3V12q-2.4-3.4-5.6-4.4M12 7q-5 0-8.5 4.6l-.2.3v.2q2.4 3.4 5.6 4.4l.6-1.4a4 4 0 0 1 3.2-7l.4-1h-.8zm1.6 3.8L12.2 14a2 2 0 0 0 1.4-3.2m-1.8-.8a2 2 0 0 0-1.4 3.2z" clip-rule="evenodd"/></svg>';
  --sd-icon--info-circle: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 2a10 10 0 1 1 0 20 10 10 0 0 1 0-20m0 2a8 8 0 1 0 0 16 8 8 0 0 0 0-16m1 12a1 1 0 1 1-2 0v-5a1 1 0 1 1 2 0zm0-8a1 1 0 0 1-2 .1V8a1 1 0 0 1 2-.1z" clip-rule="evenodd"/></svg>';
  --sd-icon--status-check: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="m9.4 16.4 8.9-10a1 1 0 1 1 1.4 1.3l-9.6 11a1 1 0 0 1-1.5 0L4.2 13A1 1 0 1 1 5.8 12z" clip-rule="evenodd"/></svg>';
  --sd-icon--status-minus: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M3 13a1 1 0 1 1 0-2h18a1 1 0 1 1 0 2z" clip-rule="evenodd"/></svg>';
  --sd-icon--pause: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M9.5 3q1.4.2 1.5 1.5v15q-.1 1.4-1.5 1.5H4.6C3.8 21 3 20 3 19.2V4.8C3 3.9 3.8 3 4.6 3zm10 0q1.4.2 1.5 1.5v15q-.1 1.4-1.5 1.5h-4.9c-.8 0-1.6-1-1.6-1.8V4.8c0-.9.8-1.8 1.6-1.8zM9 5H5v14h4zm10 0h-4v14h4z" clip-rule="evenodd"/></svg>';
  --sd-icon--risk: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M21.9 19.5A1 1 0 0 1 21 21H3a1 1 0 0 1-.9-1.5l9-16a1 1 0 0 1 1.8 0zM12 6 4.7 19h14.6zm-1 4a1 1 0 1 1 2 0v4a1 1 0 0 1-2 0zm0 7a1 1 0 1 1 2 0 1 1 0 0 1-2 0" clip-rule="evenodd"/></svg>';
  --sd-icon--start: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M21.4 11.1a1 1 0 0 1 0 1.8l-17 8A1 1 0 0 1 3 20V4a1 1 0 0 1 1.4-.9zm-2.7.9L5 5.6v12.8z" clip-rule="evenodd"/></svg>';
  --sd-icon--confirm-circle: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="m9.4 16.4 8.9-10a1 1 0 1 1 1.4 1.3l-9.6 11a1 1 0 0 1-1.5 0L4.2 13A1 1 0 1 1 5.8 12z" clip-rule="evenodd"/></svg>';
  --sd-icon--warning: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M21.9 19.5A1 1 0 0 1 21 21H3a1 1 0 0 1-.9-1.5l9-16a1 1 0 0 1 1.8 0zM12 6 4.7 19h14.6zm-1 4a1 1 0 1 1 2 0v4a1 1 0 0 1-2 0zm0 7a1 1 0 1 1 2 0 1 1 0 0 1-2 0" clip-rule="evenodd"/></svg>';
  --sd-icon--exclamation-circle: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 22a10 10 0 1 1 0-20 10 10 0 0 1 0 20m0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16M11 8a1 1 0 1 1 2 0v5a1 1 0 1 1-2 0zm0 8a1 1 0 1 1 2 0 1 1 0 1 1-2 0" clip-rule="evenodd"/></svg>';
  --sd-icon--magnifying-glass: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M14 15.5a7.5 7.5 0 1 1 1.4-1.4l6.3 6.2a1 1 0 0 1-1.4 1.4zM9.5 15a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11" clip-rule="evenodd"/></svg>';
  --sd-icon--transcript: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 2h.4l.3.3 7 7 .3.7v-.1V21q0 1-1 1H5a1 1 0 0 1-1-1V3q0-1 1-1zm-1 2H6v16h12v-9h-6a1 1 0 0 1-1-.9V4m5.6 5L13 5.4V9z" clip-rule="evenodd"/></svg>';
  --sd-icon--mute: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M13.5 3.1a1 1 0 0 1 1.5.7V20a1 1 0 0 1-1.4 1v-.1L6.3 17H3a1 1 0 0 1-1-.8V8q0-.9.9-1h3.5zM13 5.7 7.1 8.9h-.3l-.1.1H4v6h3l.1.1 5.9 3.2zm3.3 3.6a1 1 0 0 1 1.3 0h.1l1.3 1.3 1.3-1.3a1 1 0 0 1 1.5 1.3v.1L20.3 12l1.3 1.3a1 1 0 0 1-1.3 1.5h-.1L19 13.3l-1.3 1.3a1 1 0 0 1-1.5-1.3v-.1l1.4-1.3-1.3-1.3a1 1 0 0 1 0-1.4" clip-rule="evenodd"/></svg>';
  --sd-icon--volume: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M13.5 3.1a1 1 0 0 1 1.5.7V20a1 1 0 0 1-1.4 1v-.1L6.3 17H3a1 1 0 0 1-1-.8V8q0-.9.9-1h3.5zm6.3 2.3Q22 8.7 22 12a12 12 0 0 1-2.2 6.6 1 1 0 1 1-1.6-1A10 10 0 0 0 20 12q0-2.7-1.8-5.4a1 1 0 1 1 1.6-1.2m-6.8.3L7.1 8.9h-.3l-.1.1H4v6h3l.1.1 5.9 3.2zm4.8 2.7A6 6 0 0 1 19 12q0 1.8-1.2 3.6a1 1 0 0 1-1.6-1.2q.8-1.2.8-2.4t-.8-2.4a1 1 0 0 1 1.6-1.2" clip-rule="evenodd"/></svg>';
  --sd-icon--reload: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M4 18v1a1 1 0 1 1-2 0v-4q0-.9 1-1h4a1 1 0 1 1 0 2H5a8 8 0 1 0-.6-6.5 1 1 0 0 1-2-.6A10 10 0 1 1 4 18" clip-rule="evenodd"/></svg>';
}