@import 'tailwindcss/preflight';
@import '../../tokens/themes/tailwind.css';
@import '../../components/src/solid-components.css';

body.sb-show-main,
.docs-story > div {
  @apply !bg-white !text-black;
}

/* Lists */
.sbdocs .sbdocs-content ol {
  @apply !list-decimal;
}

/* Links */
.sbdocs.sbdocs-a,
.sbdocs .sbdocs-content a:not(:has(code)):not(:where(#root-inner *, #storybook-docs *)) {
  @apply underline transition-colors text-primary hover:text-primary-500 active:text-primary-800;
}

/* Outline on focus visible */
.sbdocs.sbdocs-a:focus-visible,
.sbdocs .sbdocs-content a:not(:where(#root-inner *, #storybook-docs *)):focus-visible,
.sbdocs .toc-list .toc-list-item a:focus-visible {
  @apply outline-2 outline-offset-2 outline-primary;
}

div[data-radix-scroll-area-viewport]:focus-visible {
  @apply -outline-offset-2 outline-2 outline-primary;
}

/* Color palettes */
.sbdocs .docblock-colorpalette {
  div[title],
  > div:first-child {
    @apply text-neutral-700;
  }
}

/* Right-side headline anchors */
.sbdocs.sbdocs-wrapper .toc-wrapper > .toc-list {
  @apply border-l border-l-neutral-400;
}

.sbdocs .toc-wrapper .toc-list-item {
  @apply before:border-transparent before:border-l-[3px];

  a {
    color: #00358e;

    &:hover {
      color: #466daf;
    }

    &:active {
      color: #051530;
    }
  }
}

.sbdocs .toc-wrapper .toc-list-item.is-active-li {
  @apply before:border-accent;

  a {
    color: #00358e;
  }
}

/* Tables */
.sbdocs .sbdocs-content table:not(.sd-table) {
  tr,
  td {
    @apply border-neutral-400;
  }

  tr:nth-of-type(2n) {
    @apply bg-neutral-100;
  }
}

/* Blockquotes */
.sbdocs .sbdocs-content blockquote {
  @apply border-accent;
}

/* Code */
.sbdocs .language-css,
.sbdocs .language-js {
  .token.property,
  .token.attr-name {
    @apply text-error;
  }
}

.docblock-source .language-html {
  .token.attr-name,
  .token.attr-value.property.css {
    @apply text-error;
  }
}

.sbdocs .token.comment {
  @apply !text-success;
}
