/**
 * Generates basic styles for chip elements.
 * @name sd-chip
 * @status stable
 * @since 1.30.0
 * @variant { primary-300 | primary-500 | white } sd-chip--...
 */

.sd-chip {
  @apply border h-6 sd-chip--primary-200-color-background sd-chip-border-radius sd-chip-border-width sd-chip--primary-200-color-border text-black text-sm inline-flex items-center whitespace-nowrap px-2 overflow-hidden;

  &--primary-500 {
    @apply sd-chip--primary-500-color-background sd-chip--primary-500-color-border sd-chip--primary-500-color-text;
  }

  &--primary-300 {
    @apply sd-chip--primary-300-color-background sd-chip--primary-300-color-border;
  }

  &--white {
    @apply sd-chip--white-color-background sd-chip--white-color-border;
  }
}
