/**
 * Generates basic styles for flag elements.
 * @name sd-flag
 * @status stable
 * @since 1.34.0
 * @variant { neutral-300 | neutral-500 | white } sd-flag--...
 *
 * @cssproperty --sd-flag--neutral-500-color-background Used as background color for the `neutral-500` variant.
 */

.sd-flag {
  @apply border h-8 sd-flag--neutral-200-color-background sd-flag--neutral-200-color-border sd-flag-border-radius sd-flag-border-width text-black text-sm inline-flex items-center px-3 whitespace-nowrap overflow-hidden;

  &--neutral-500 {
    @apply sd-flag--neutral-500-color-background sd-flag--neutral-500-color-border text-black;
  }

  &--neutral-300 {
    @apply sd-flag--neutral-300-color-background sd-flag--neutral-300-color-border;
  }

  &--white {
    @apply sd-flag--white-color-background sd-flag--white-color-border;
  }
}
