/**
 * A footnote contains additional information/sources related to the content and usually appears at the bottom of a page or below the content it refers to.
 * @name sd-footnotes
 * @status stable
 * @since 3.0.0
 * @boolean sd-footnotes--inverted Inverts the footnote text.
 */

.sd-footnotes {
  @apply text-neutral-700 text-sm text-left p-0 my-0;

  :target {
    @apply bg-neutral-200;
  }

  &:is(ol) {
    li {
      counter-increment: footnotes;
      @apply flex gap-2;

      .sd-footnotes--marker,
      &:has(.sd-footnotes--marker:nth-of-type(2)) {
        &::before {
          @apply block font-bold leading-normal shrink-0;
          content: '[ ' counter(footnotes) ' ]';
          padding-top: 1px;
          font-size: 10px;
        }

        .sd-footnotes--marker {
          counter-increment: footnotes-multiple;

          &::before {
            @apply align-super font-bold leading-normal;
            content: counter(footnotes-multiple, lower-alpha);
          }
        }
      }

      .sd-footnotes--marker {
        @apply bottom-0;

        &::after {
          content: none;
        }
      }
    }
  }

  &:is(ul) {
    list-style: '';
  }

  &--inverted {
    @apply text-primary-400;
  }

  &--marker {
    @apply !no-underline font-bold whitespace-nowrap relative bottom-2;
    font-size: x-small;

    &::before {
      content: '[ ';
    }

    &::after {
      content: ' ]';
    }

    &:link,
    &:visited {
      @apply text-primary;
    }

    &:focus-visible {
      @apply outline outline-2 outline-offset-2 outline-primary rounded-default;
    }
  }
}
