/**
 * Description of the style.
 * @name sd-status-badge
 * @status stable
 * @since 1.0
 * @variant { sucess | warning | error | info } sd-status-badge--...
 * @cssproperty --sd-badge--green-color-background - background color for success status badge.
 * @cssproperty --sd-badge--red-color-background - background color for error status badge.
 */

.sd-status-badge {
  @apply inline-flex items-center;

  sd-icon {
    @apply flex rounded-full h-3 w-3 !text-white mr-2 p-1;
  }

  &--success {
    sd-icon {
      @apply sd-badge--green-color-background;
    }
  }

  &--warning {
    sd-icon {
      @apply bg-warning;
    }
  }

  &--error {
    sd-icon {
      @apply sd-badge--red-color-background;
    }
  }

  &--info {
    sd-icon {
      @apply bg-info;
    }
  }
}
