.sd-flag {
  @apply h-8 bg-neutral-200 text-black text-sm inline-flex items-center px-3 overflow-hidden;

  &--neutral-500 {
    @apply bg-neutral-500 text-white;
  }

  &--neutral-300 {
    @apply bg-neutral-300;
  }

  &--white {
    @apply bg-white;
  }
}
