.sd-leadtext{
  @apply text-xl font-normal leading-normal text-black;

	&--size {    
		&-lg {
      @apply text-lg font-normal leading-normal text-black;
		}
	}

	&--inverted {
		@apply text-white;
	}
}
