name: dependabot-auto-merge

on: pull_request_target

jobs:
  auto-merge:
    if: ${{ github.actor == 'dependabot[bot]' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: ahmadnassri/action-dependabot-auto-merge@v2.6
        with:
          target: patch
          github-token: ${{secrets.PAT_RELEASE_KARL}}