name: Release

on:
  push:
    branches:
      - 'main'
      - 'next'
  workflow_dispatch:

permissions:
  contents: write
  id-token: write

env:
  GH_TOKEN: ${{ secrets.PAT_RELEASE_KARL }}

jobs:
  publish-main:
    name: Release new main version
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22

      - name: Upgrade npm to latest
        run: npm i -g npm@latest

      - name: Setup pnpm
        uses: pnpm/action-setup@v4

      - name: Install dependencies
        run: PLAYWRIGHT_SKIP_BROWSER_DOWNLOAD=true pnpm i

      - name: Release
        run: GH_TOKEN=${{secrets.PAT_RELEASE_KARL}} node ./scripts/release-main.mjs

  publish-next:
    name: Release new next version
    if: github.ref == 'refs/heads/next'
    runs-on: ubuntu-latest
    env:
      GH_TOKEN: ${{ secrets.PAT_RELEASE_KARL }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22

      - name: Upgrade npm to latest
        run: npm i -g npm@latest

      - name: Setup pnpm
        uses: pnpm/action-setup@v4

      - name: Install dependencies
        run: PLAYWRIGHT_SKIP_BROWSER_DOWNLOAD=true pnpm i

      - name: Release next
        run: GH_TOKEN=${{secrets.PAT_RELEASE_KARL}} node ./scripts/release-next.mjs
